.text-form {
    .font-family-selector {
        flex: 1 1;
    }

    .font-size-selector {
        width: 96px;
    }

    .text-value-control {
        padding-bottom: 64px;
    }

    .voice-over {
        position: absolute;
        left: 16px;
        bottom: 16px;
    }
}
