.right-side-bar {
    @import "edit_menu/styles";
    @import "object_tree_menu/styles";
    @import "styles-menu-section";
    @import "styles-variables";

    display: flex;
    flex-direction: column;
    background: #fff;
    box-sizing: border-box;

    .header-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        flex: 0 0;
        padding: 20px 25px;
        font-size: 12px;
        color: #1D1D1F;

        &>.sync-status {
            flex: 1 1;
        }
    }

    .content-section {
        position: relative;
        flex: 1 1;
        overflow-x: hidden;
        overflow-y: auto;

        .actions-section {
            background: #353535;
            color: #fff;
            font-size: 14px;
            font-weight: 500;
            padding: 24px 25px;
            border-top: 1px solid #CBCBCB;
            cursor: pointer;
            position: relative;

            .add-actions-icon {
                padding: 0;
                cursor: pointer;

                svg {
                    fill: #fff;
                    height: 12px;
                    width: 12px;
                }
            }
        }

        .actions-section:hover {
            background: #5d5d5d;
        }

        .scene-section {
            padding-bottom: 24px;
        }

        .scene-section ul,
        .scene-section ul li {
            cursor: pointer;
            list-style: none;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .scene-section ul li {
            font-size: 12px;
            line-height: 20px;
            color: #1D1D1F;
            margin-bottom: 0;
            padding: 6px 25px;
            font-weight: 400;
        }

        .scene-section ul li:hover,
        .scene-section ul li.active {
            background: #ECF5FF;
        }

        .scene-section ul li img {
            vertical-align: text-top;
        }

        .scene-section h3 {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: #1D1D1F;
            padding: 24px 25px 11px;
            margin: 0;
        }

        .default-actions-section {
            background: #fff;
            color: #1D1D1F;
            font-size: 14px;
            font-weight: 500;
            padding: 20px 25px;
            border-top: 1px solid #CBCBCB;
            cursor: pointer;
            position: relative;

            .add-default-actions-icon {
                padding: 0;
                cursor: pointer;

                svg {
                    height: 12px;
                    width: 12px;
                }
            }
        }

        .default-actions-section:hover {
            background: #ECF5FF;
        }

        .actions-name {
            float: left;
        }

        .add-actions {
            float: right;
            top: 2px;
            position: relative;
        }

        .menu-bottom-actions {
            position: sticky;
            bottom: 0;
            background-color: #fff;

            margin-left: -$menu-padding;
            margin-right: -$menu-padding;
            padding: 8px $menu-padding;
        }
    }

    .clear:before,
    .clear:after {
        display: table;
        position: relative;
        width: 100%;
        clear: both;
        content: '';
    }
}
