@import "styles-variables";

$menu-section-border: solid 1px #cbcbcb;

.menu-section {
    margin-left: -$menu-padding;
    margin-right: -$menu-padding;
    border-top: $menu-section-border;

    &:last-child {
        border-bottom: $menu-section-border;
    }

    & > .menu-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        padding: $menu-padding;
        cursor: pointer;

        &:hover {
            background: rgba(0, 0, 0, 0.1);
        }

        & > .title-icon {
            width: 14px;
            padding: 0;
        }

        & > .title-text {
            flex: 1 1;
            font-weight: 500;
            font-size: 14px;
        }

        & > .expand-icon {
            width: 15px;
            height: 15px;
            align-items: center;
            padding: 0;
            transition: transform 0.3s;

            &.expanded {
                transform: rotate(-90deg);
            }

            &.collapsed {
                transform: rotate(90deg);
            }
        }
    }

    & > .menu-body {
        padding: $menu-padding;
        padding-top: 0;
    }
}
