.component--select-list {
    @include bbs--with-scrollbar;
    @include bbs--with-scrollbar-margin;
    overflow: auto;

    .empty-item {
        @include bbs--noto-14-sb;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1;
        color: bbs--color(grey-3);
    }
}
