.page--user-accounts {
    .users-content {
        justify-content: space-between;
    }

    .loading-indicator {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1;

        progress {
            @include progress-size(24px);
        }
    }
}
