.bbs--text-area {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 8px;

    @include bbs--input;
    padding: 0;

    .bbs--text-area-wrapper--header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    textarea {
        @include bbs--input-font;
        @include bbs--with-scrollbar;

        background-color: transparent;
        border: none;
        outline: none;
        padding: 8px;
//         padding-left: 0;
        resize: none;
        width: 100%;
    }

    &.variant-outlined {
        border: 1px solid #C4C4C4;
    }

    .bbs--text-area-label {
        margin-top: 8px;
    }
}
