$color-blue-1: #3453A1;
$color-blue-1-dark: #283F79;
$color-blue-1-light: #80BFE5;

$color-blue-2: #80BFE5;
$color-blue-2-dark: #3453A1;
$color-blue-2-light: #C0E3F8;

$color-green-1: #3E6C5F;
$color-green-1-dark: #33584E;
$color-green-1-light: #84C9BD;

$color-green-2: #84C9BD;
$color-green-2-dark: #3E6C5F;
$color-green-2-light: #8BFFEB;

$color-yellow-1: #F5A36C;
$color-yellow-1-dark: #D97532;
$color-yellow-1-light: #F0D97F;

$color-yellow-2: #F0D97F;
$color-yellow-2-dark: #F5A36C;
$color-yellow-2-light: #FFF4CB;
