.wc-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;

    .wc-checkbox-label {
        margin: 0;
    }

    input[type="checkbox"] {
        cursor: pointer;
        margin: 0;
    }
}
