.bbs--input-wrapper {
    gap: 4px;
    color: #fff;

    @include bbs--auto-complete {
        background: transparent;
    }

    .bbs--input-label {
        @include bbs--noto-14-sb;
        color: #fff;
    }

    .bbs--input {
        @include input-border;
        @include input-color;
        @include input-font;
        @include input-padding;

        background: transparent;
        transition: border-color 0.2s;
        color: #fff;

        &::selection {
           color: #fff;
           background: #2E3A59;
         }

        &:disabled {
            color: #8b92a6;
            background: transparent;
        }
    }
}
