.bbs--password-wrapper {
    .action-wrapper {
        bottom: 0;
    }

    .bbs--password--visibility-button {
        background: transparent;

        @include bbs--icon-color(bbs--color(blue-2));

        &:hover {
            @include icon-color(bbs--color(blue-2, $variant: light));
        }

        svg {
            transition: fill 0.2s;
        }
    }
}
