.wc-password-wrapper {
    .visibility-button {
        margin-top: -18px;
    }

    .wc-icon-button {
        background: transparent;

        @include icon-color($input-border-color);

        &:hover {
            @include icon-color(#fff);
        }

        svg {
            transition: fill 0.2s;
        }

        .icon-visibility-on {
            @include icon-color(#fff);
        }
    }
}
