.main {
    @import "common/styles";
    @import "delay/styles";
    @import "effects/styles";
    @import "phrase/styles";
    @import "text_animation/styles";
    @import "voice_over/styles";

    background-color: #fff;
    border-radius: 4px;
    padding: 4px 8px;

    .section-title {
        font-size: 14px;
        font-weight: 600;
        white-space: nowrap;
        padding: 4px 10px;
        border-bottom: solid 1px #ccc;
        margin-bottom: 10px;
    }

    .input-label {
        cursor: default;
        font-size: 12px;
        font-weight: 500;
        white-space: nowrap;

        &.thin {
            font-weight: 400;
        }
    }

    .no-section {
        display: flex;
        align-items: center;
        gap: 12px;

        padding: 16px;
        color: #929292;

        .icon {
            font-size: 24px;
            padding-bottom: 8px;
        }
    }
}
