.edit-menu {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100%;
    padding: 24px;

    background-color: #fff;
    z-index: 1;
    transition: left 0.3s;

    &.active {
        left: 0;
    }

    .edit-menu-header {
        margin-bottom: 16px;
    }
}