@import "../styles-variables";

.edit-menu {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100%;
    padding: $menu-padding;

    background-color: #fff;
    z-index: 1;
    transition: left 0.3s;

    .back-icon {
        position: sticky;
        top: 0px;
        background: #fff;
        z-index: 99;
    }

    &.active {
        left: 0;
    }

    .edit-menu-header {
        margin-bottom: 16px;
    }
}