.block--menu {
    $padding: 10px;

    display: flex;
    flex-direction: column;
    min-height: 0px;

    .menu--tabs {
        display: flex;
    }

    .menu--tab {
        @include bbs--noto-16-sb;

        padding: 8px 20px;
        $border-radius: 6px;
        border-radius: $border-radius $border-radius 0 0;

        &:not(.menu--tab--disabled):hover {
            color: bbs--color(yellow-1);
            cursor: pointer;
        }

        &.menu--tab--active {
            background-color: bbs--color(white);
            color: bbs--color(yellow-1);
        }
    }

    .menu--body-wrapper {
        flex: 1 1;
        display: flex;
        min-height: 0px;
        background-color: bbs--color(white);
        padding: 4px;
        padding-left: 0;
    }

    .menu--body {
        flex: 1 1;
        display: flex;
        flex-direction: column;

        @include bbs--with-scrollbar;
        overflow: auto;
        padding: 0 4px;

        background-color: bbs--color(white);
    }

    h1 {
        @include bbs--noto-18-b;
        margin-bottom: 15px;
    }

    h2 {
        @include bbs--noto-14-sb;
    }

    span {
        @include bbs--noto-14-sb;
    }

    label {
        color: bbs--color(grey-1);
    }

    .menu--header {
        display: flex;
        align-items: center;

        height: 40px;
        padding: 0 $menu-padding-v;

        border-bottom: solid 1px bbs--color(grey-4);
    }

    .menu--content {
        flex: 1 1;
        padding: $menu-padding-v $menu-padding-h;
        min-height: 0;
    }

    .menu--content-hidden {
        display: none;
    }
}
