{:assets
                [{:url "/raw/img/library/room/background_library_room.png", :size 10, :type "image"}
                 {:url "/raw/img/library/room/decoration_library_room.png", :size 10, :type "image"}
                 {:url "/raw/img/library/room/surface_library_room.png", :size 10, :type "image"}
                 {:url "/raw/img/library/main/Books_Enabled.png", :size 1, :type "image"}
                 {:url "/raw/img/library/main/Easel_Enabled.png", :size 1, :type "image"}
                 {:url "/raw/img/library/main/Hat_Enabled.png", :size 1, :type "image"}
                 {:url "/raw/img/library/main/Tablet_Enabled.png", :size 1, :type "image"}
                 {:url "/raw/audio/l1/a6/lion/2Bienvenidos a nuestra biblioteca.mp3", :size 2, :type "audio", :alias "lion - 1"}
                 {:url "/raw/audio/l1/a6/lion/2Si te gustan los libros.mp3", :size 2, :type "audio", :alias "lion - 2"}
                 {:url "/raw/audio/l1/a6/L1_A6_Lion_Intro.m4a", :size 2, :type "audio", :alias "librarian books intro"}
                 {:url "/raw/audio/l1/a6/L1_A6_Vera.m4a", :size 2, :type "audio", :alias "vera books intro"}],
 :objects
 {:background {:type "background", :brightness -0.2, :filter "brighten", :src "/raw/img/library/main/background.jpg"}
  :book
  {:type "image",
   :x 1292,
   :y 681,
   :transition "book",
   :actions {:click {:id "start-book-scene", :on "click", :type "action"}},
   :filter "brighten",
   :highlight true,
   :src "/raw/img/library/main/Books_Enabled.png"},
  :writing-lesson
  {:type "image",
   :x 791,
   :y 319,
   :transition "writing-lesson",
   :actions {:click {:on "click", :type "scene", :scene-id "writing-lesson"}},
   :filter "brighten",
   :highlight true,
   :src "/raw/img/library/main/Easel_Enabled.png"},
  :magic-hat
  {:type "image",
   :x 1635,
   :y 535,
   :transition "magic-hat",
   :actions {:click {:on "click", :type "scene", :scene-id "magic-hat"}},
   :filter "brighten",
   :highlight true,
   :src "/raw/img/library/main/Hat_Enabled.png"},
  :librarian
  {:type "animation",
   :x 451,
   :y 883,
   :width 351,
   :height 717,
   :scale {:x 1, :y 1},
   :scene-name "librarian",
   :anim "idle",
   :name "senoravaca",
   :skin "lion",
   :speed 0.3,
   :start true},
  :painting-tablet
  {:type "image",
   :x 926,
   :y 657,
   :transition "painting-tablet",
   :actions {:click {:on "click", :type "location", :location-id "painting-tablet"}},
   :filter "brighten",
   :highlight true,
   :src "/raw/img/library/main/Tablet_Enabled.png"},
  :vera
  {:type "animation",
   :x 725,
   :y 1000,
   :width 1800,
   :height 2558,
   :scale {:x 0.17, :y 0.17},
   :anim "idle",
   :name "vera",
   :speed 0.3,
   :start true}},
 :scene-objects [["background"] ["book" "writing-lesson" "magic-hat" "painting-tablet" "librarian" "vera"]],
 :actions
                {:start-background-music {:type "audio", :id "background", :loop true},
                 :start-book-scene {:type "scene", :scene-id "book"}},
 :triggers      {:music {:on "start", :action "start-background-music"}},
 :metadata      {:prev "map", :autostart true},
 :audio         {:background "/raw/audio/background/POL-daily-special-short.mp3"}}
