{:assets
 [{:url "/raw/clipart/recording_studio/recording_studio_background.png", :type "image"}
  {:url "/raw/clipart/recording_studio/recording_studio_decoration.png", :type "image"}
  {:url "/raw/clipart/recording_studio/recording_studio_surface.png", :type "image"}
  {:url "/raw/clipart/recording_studio/mic.png", :type "image"}
  {:url "/raw/clipart/recording_studio/green-circle.png", :type "image"}
  {:url "/upload/AJIFVPUJZMTHEKBW.mp3", :date 1624906063349, :size 180, :type "audio"}
  {:url "/upload/LADPQEOBHXMGRGTF.mp3",
   :date 1632254323391,
   :lang "spanish",
   :size 657,
   :type "audio",
   :alias "EMSV_Guide RS1"}],
 :objects
 {:approve-background
  {:type "rectangle",
   :x 0,
   :y 0,
   :width 96,
   :height 96,
   :transition "approve-background",
   :border-radius 48,
   :fill 16735232},
  :approve-group
  {:type "group",
   :x 1706,
   :y 132,
   :width 96,
   :height 96,
   :children ["approve-background" "approve-playback-button"],
   :filters [{:name "brightness", :value 0} {:name "glow", :color 16766720, :outer-strength 0}]},
  :approve-playback-button
  {:type "svg-path",
   :x 20,
   :y 25,
   :width 128,
   :height 128,
   :actions {:click {:id "approve-playback-click", :on "click", :type "action", :unique-tag "intro"}},
   :data "M 9.29193 13.1343L0 22.3134L22.6633 45L59 9.47761L49.1793 0L22.6633 26.194L9.29193 13.1343",
   :fill "#FFFFFF"},
  :background
  {:type "layered-background",
   :background {:src "/raw/clipart/recording_studio/recording_studio_background.png"},
   :decoration {:src "/raw/clipart/recording_studio/recording_studio_decoration.png"},
   :surface {:src "/raw/clipart/recording_studio/recording_studio_surface.png"}},
  :concept-image
  {:type "image",
   :x 965,
   :y 270,
   :origin {:type "center-center"},
   :max-height 300,
   :max-width 400,
   :min-height 300,
   :scale-x 10,
   :scale-y 10,
   :src "",
   :visible false},
  :green
  {:type "rectangle", :x 16, :y 16, :width 96, :height 96, :transition "green", :border-radius 48, :fill 1096747},
  :mari
  {:type "animation",
   :x 1300,
   :y 619.1776529947916,
   :width 473,
   :height 511,
   :scene-name "mari",
   :transition "mari",
   :actions {:click {:id "mari-click", :on "click", :type "action"}},
   :anim "idle",
   :editable? true,
   :loop true,
   :name "mari",
   :scale-x 0.5,
   :scale-y 0.5,
   :speed 0.35,
   :start true,
   :states {:left {:scale-x 1}, :right {:scale-x -1}}},
  :mic
  {:type "image",
   :x 960,
   :y 750,
   :width 360,
   :height 656,
   :origin {:type "center-center"},
   :src "/raw/clipart/recording_studio/mic.png",
   :visible true},
  :playback-background {:type "rectangle", :x 0, :y 0, :width 128, :height 128, :border-radius 24, :fill 16777215},
  :playback-group
  {:type "group",
   :x 896,
   :y 667,
   :width 128,
   :height 128,
   :children ["playback-background" "green" "run-playback-button" "stop-playback-button"],
   :filters [{:name "brightness", :value 0} {:name "glow", :color 16766720, :outer-strength 0}]},
  :record-button
  {:type "group",
   :x 896,
   :y 513,
   :width 128,
   :height 128,
   :scene-name "record-button",
   :transition "record-button",
   :actions {:click {:id "record-button-click", :on "click", :type "action", :unique-tag "intro"}},
   :children ["record-button-back" "record-button-icon" "record-button-icon-int"],
   :filters [{:name "brightness", :value 0} {:name "glow", :color 16766720, :outer-strength 0}]},
  :record-button-back {:type "rectangle", :x 0, :y 0, :width 128, :height 128, :border-radius 24, :fill 16777215},
  :record-button-icon
  {:type "rectangle",
   :x 16,
   :y 16,
   :width 96,
   :height 96,
   :transition "record-button-icon",
   :border-radius 48,
   :fill 15539236},
  :record-button-icon-int
  {:type "rectangle",
   :x 40,
   :y 40,
   :width 48,
   :height 48,
   :transition "record-button-icon-int",
   :border-radius 32,
   :fill 16777215},
  :run-playback-button
  {:type "svg-path",
   :x 52,
   :y 42,
   :actions {:click {:id "run-playback-click", :on "click", :type "action"}},
   :data
   "M34.2834 17.57L6.05798 0.63479C3.39189 -0.964869 0 0.955583 0 4.06476V37.9352C0 41.0444 3.39189 42.9649 6.05798 41.3652L34.2834 24.43C36.8727 22.8764 36.8727 19.1236 34.2834 17.57",
   :fill "#FFFFFF"},
  :stop-playback-button
  {:type "rectangle",
   :x 45,
   :y 45,
   :width 40,
   :height 40,
   :scene-name "stop-playback-button",
   :actions {:click {:id "stop-playback-click", :on "click", :type "action"}},
   :border-radius 10,
   :fill 16777215,
   :visible false}},
 :scene-objects [["background"] ["concept-image" "mic" "mari"] ["record-button" "playback-group" "approve-group"]],
 :actions
 {:approve-playback-click {:type "action", :id "script"},
  :demo-dialog
  {:type "sequence-data",
   :data
   [{:data
     [{:type "empty", :duration "500"}
      {:end 104.216,
       :data
       [{:end 100.91, :anim "talk", :start 99.71}
        {:end 102.4, :anim "talk", :start 101.66}
        {:end 103.89, :anim "talk", :start 102.62}],
       :type "animation-sequence",
       :audio "/upload/LADPQEOBHXMGRGTF.mp3",
       :start 99.684,
       :target "mari",
       :duration 4.532,
       :phrase-text "Por ejemplo: Esta es una hormiga."}],
     :type "sequence-data"}
    {:data
     [{:type "empty", :duration "500"}
      {:end 113.809,
       :data
       [{:end 106.08, :anim "talk", :start 105.05}
        {:end 110.67, :anim "talk", :start 107.1}
        {:end 113.76, :anim "talk", :start 111.44}],
       :type "animation-sequence",
       :audio "/upload/LADPQEOBHXMGRGTF.mp3",
       :start 105.019,
       :target "mari",
       :duration 8.79,
       :phrase-text "Es negra. Su cabeza tiene forma de esfera ¡Es un insecto! "}],
     :type "sequence-data"}
    {:data
     [{:type "empty", :duration "500"}
      {:phrase-text "¿Quieres ver la siguiente imagen? ¡Aquí está!",
       :start 114.84,
       :type "animation-sequence",
       :duration 5.025,
       :region-text "quieres ver la siguiente imagen hay contando",
       :audio "/upload/LADPQEOBHXMGRGTF.mp3",
       :target "mari",
       :end 119.865,
       :data [{:end 117.83, :anim "talk", :start 114.88} {:end 119.85, :anim "talk", :start 118.58}]}],
     :type "sequence-data"}],
   :phrase "Demo",
   :phrase-description "Demo",
   :editor-type "dialog",
   :unique-tag "intro"},
  :empty {:type "empty", :duration 100},
  :finish {:type "sequence-data", :data [{:id "remove-timeout-timer", :type "action"} {:type "finish-activity"}]},
  :finish-dialog
  {:type "sequence-data",
   :data
   [{:data
     [{:type "empty", :duration 0}
      {:end 15.522,
       :data
       [{:end 2.81, :anim "talk", :start 0.08}
        {:end 6.08, :anim "talk", :start 3.64}
        {:end 9.21, :anim "talk", :start 6.37}
        {:end 15.29, :anim "talk", :start 10.55}],
       :type "animation-sequence",
       :audio "/upload/LADPQEOBHXMGRGTF.mp3",
       :start 0.055,
       :target "mari",
       :duration 15.467,
       :phrase-text
       "¡Gracias por compartir tus ideas! Puedes escuchar la grabación presionando el botón de reproducir. Cuando hayas terminado, presiona el botón de la paloma"}],
     :type "sequence-data"}],
   :phrase "Finish",
   :phrase-description "Finish",
   :editor-type "dialog"},
  :hide-playback-group
  {:type "parallel",
   :data
   [{:type "set-attribute", :target "approve-group", :attr-name "visible", :attr-value false}
    {:type "set-attribute", :target "playback-group", :attr-name "visible", :attr-value false}]},
  :highlight-approve-button
  {:type "transition",
   :from {:glow 0, :brightness 0},
   :return-immediately true,
   :to {:glow 10, :yoyo true, :repeat 5, :duration 0.5, :brightness 1},
   :transition-id "approve-group"},
  :highlight-playback-button
  {:type "transition",
   :from {:glow 0, :brightness 0},
   :return-immediately true,
   :to {:glow 10, :yoyo true, :repeat 5, :duration 0.5, :brightness 1},
   :transition-id "playback-group"},
  :highlight-record-button
  {:type "transition",
   :from {:glow 0, :brightness 0},
   :return-immediately true,
   :to {:glow 10, :yoyo true, :repeat 5, :duration 0.5, :brightness 1},
   :transition-id "record-button"},
  :intro-dialog
  {:type "sequence-data",
   :data
   [{:data
     [{:type "empty", :duration 0}
      {:end 36.804,
       :data [{:end 31.64, :anim "talk", :start 31.1} {:end 36.63, :anim "talk", :start 32.27}],
       :type "animation-sequence",
       :audio "/upload/LADPQEOBHXMGRGTF.mp3",
       :start 31.077,
       :target "mari",
       :duration 5.727,
       :phrase-text "¡Hola! ¡Te damos la bienvenida al estudio de grabación!"}],
     :type "sequence-data"}
    {:data
     [{:type "empty", :duration "500"}
      {:end 42.51,
       :data [{:end 39.02, :anim "talk", :start 37.57} {:end 42.49, :anim "talk", :start 39.35}],
       :type "animation-sequence",
       :audio "/upload/LADPQEOBHXMGRGTF.mp3",
       :start 37.244,
       :target "mari",
       :duration 5.266,
       :phrase-text "Para grabar tu voz, solo debes presionar el botón de grabar"}],
     :type "sequence-data"}
    {:data [{:type "empty", :duration 0} {:id "highlight-record-button", :type "action"}], :type "sequence-data"}
    {:data
     [{:type "empty", :duration "500"}
      {:end 48.427,
       :data [{:end 45.91, :anim "talk", :start 43.53} {:end 48.4, :anim "talk", :start 46.44}],
       :type "animation-sequence",
       :audio "/upload/LADPQEOBHXMGRGTF.mp3",
       :start 43.492,
       :target "mari",
       :duration 4.935,
       :phrase-text "Una vez que esté en azul, puedes empezar a hablar"}],
     :type "sequence-data"}
    {:data [{:type "empty", :duration 0} {:id "show-button-stop", :type "action"}], :type "sequence-data"}
    {:data
     [{:type "empty", :duration "500"}
      {:phrase-text "y cuando hayas terminado, presiona el botón de grabar nuevamente",
       :start 48.787,
       :type "animation-sequence",
       :duration 5.723,
       :region-text "a cuando termine presiona el botón de grabar nuevamente",
       :audio "/upload/LADPQEOBHXMGRGTF.mp3",
       :target "mari",
       :end 54.51,
       :data [{:end 51.1, :anim "talk", :start 48.84} {:end 54.25, :anim "talk", :start 51.47}]}],
     :type "sequence-data"}
    {:data [{:type "empty", :duration 0} {:id "show-button-record", :type "action"}], :type "sequence-data"}
    {:data
     [{:type "empty", :duration "500"}
      {:end 61.722,
       :data [{:end 58.64, :anim "talk", :start 56.08} {:end 61.16, :anim "talk", :start 59.09}],
       :type "animation-sequence",
       :audio "/upload/LADPQEOBHXMGRGTF.mp3",
       :start 55.94,
       :target "mari",
       :duration 5.782,
       :phrase-text "Si quieres escuchar lo que grabaste, presiona el botón de reproducir"}],
     :type "sequence-data"}
    {:data
     [{:type "empty", :duration "500"}
      {:end 69.327,
       :data
       [{:end 64.34, :anim "talk", :start 62.32}
        {:end 67.21, :anim "talk", :start 64.54}
        {:end 69.26, :anim "talk", :start 67.68}],
       :type "animation-sequence",
       :audio "/upload/LADPQEOBHXMGRGTF.mp3",
       :start 62.284,
       :target "mari",
       :duration 7.043,
       :phrase-text "Si necesitas ayuda, ¡siempre puedes presionarme a mí! ¡Vamos a comenzar!"}],
     :type "sequence-data"}
    {:data
     [{:type "empty", :duration "500"}
      {:end 97.491,
       :data
       [{:end 79.64, :anim "talk", :start 77.07}
        {:end 85.82, :anim "talk", :start 80.01}
        {:end 88.73, :anim "talk", :start 86.53}
        {:end 91.91, :anim "talk", :start 90.74}
        {:end 93.7, :anim "talk", :start 92.11}
        {:end 95.89, :anim "talk", :start 94.18}
        {:end 97.45, :anim "talk", :start 96.26}],
       :type "animation-sequence",
       :audio "/upload/LADPQEOBHXMGRGTF.mp3",
       :start 77.027,
       :target "mari",
       :duration 20.464,
       :phrase-text
       "Hoy, vas a grabar tu voz diciendo lo que sabes acerca de una imagen que te voy a mostrar. ¿Qué ves en la imagen? ¡Puedes contar todo lo que veas, como los colores o las formas!"}],
     :type "sequence-data"}],
   :phrase "Intro",
   :phrase-description "Intro",
   :editor-type "dialog",
   :unique-tag "intro"},
  :mari-click
  {:type "action",
   :from-var [{:var-name "tap-instructions-action", :action-property "id"}],
   :unique-tag "instructions"},
  :move-mari
  {:type "sequence-data",
   :data
   [{:to {:x 450, :y 300, :duration 2}, :type "transition", :transition-id "mari"}
    {:id "right", :type "state", :target "mari"}]},
  :move-mari-back
  {:type "sequence-data",
   :data
   [{:to {:x 1300, :y 620, :duration 2}, :type "transition", :transition-id "mari"}
    {:id "left", :type "state", :target "mari"}]},
  :record-button-click
  {:type "test-var-scalar",
   :var-name "record-button-state",
   :value "stop",
   :success
   {:data
    [{:id "show-button-record", :type "action"}
     {:type "set-variable", :var-name "record-button-state", :var-value "record"}
     {:data
      [{:type "stop-audio-recording", :var-name "recording-studio-audio"}
       {:type "set-progress",
        :from-var [{:var-name "recording-studio-audio", :action-property "var-value"}],
        :var-name "recording-studio"}
       {:id "show-playback-group", :type "action"}
       {:id "remove-timeout-timer", :type "action"}
       {:id "stop-recording-dialog", :type "action"}],
      :type "sequence-data"}],
    :type "parallel"},
   :fail
   {:data
    [{:type "set-variable", :var-name "record-button-state", :var-value "stop"}
     {:type "start-audio-recording"}
     {:id "timeout-timer", :type "action"}
     {:id "show-button-stop", :type "action"}],
    :type "sequence-data"}},
  :remove-timeout-timer {:type "remove-interval", :id "incorrect-answer-checker"},
  :reset-controls {:type "sequence-data", :data [{:id "hide-playback-group", :type "action"}]},
  :round-1
  {:type "sequence-data",
   :data
   [{:type "set-attribute", :target "concept-image", :attr-name "src", :attr-value "/raw/img/elements/bee.png"}
    {:type "set-variable", :var-name "tap-instructions-action", :var-value "round-tap-dialog-1"}
    {:type "set-variable", :var-name "timeout-instructions-action", :var-value "round-timeout-dialog-1"}
    {:id "round-dialog-1", :type "action"}
    {:id "timeout-timer", :type "action"}]},
  :round-dialog-1
  {:type "sequence-data",
   :data
   [{:data
     [{:type "empty", :duration "500"}
      {:end 97.563,
       :data
       [{:end 88.73, :anim "talk", :start 86.53}
        {:end 91.91, :anim "talk", :start 90.74}
        {:end 93.7, :anim "talk", :start 92.11}
        {:end 95.89, :anim "talk", :start 94.18}
        {:end 97.45, :anim "talk", :start 96.26}],
       :type "animation-sequence",
       :audio "/upload/LADPQEOBHXMGRGTF.mp3",
       :start 86.42,
       :target "mari",
       :duration 11.143,
       :phrase-text "¿Qué ves en la imagen? ¡Puedes contar todo lo que veas, como los colores o las formas!"}],
     :type "sequence-data"}],
   :phrase "Round 1",
   :phrase-description "Round 1",
   :editor-type "dialog"},
  :round-tap-dialog-1
  {:type "sequence-data",
   :data
   [{:data
     [{:type "empty", :duration 0}
      {:end 97.506,
       :data
       [{:end 88.73, :anim "talk", :start 86.53}
        {:end 91.91, :anim "talk", :start 90.74}
        {:end 93.7, :anim "talk", :start 92.11}
        {:end 95.89, :anim "talk", :start 94.18}
        {:end 97.45, :anim "talk", :start 96.26}],
       :type "animation-sequence",
       :audio "/upload/LADPQEOBHXMGRGTF.mp3",
       :start 86.49,
       :target "mari",
       :duration 11.016,
       :phrase-text "¿Qué ves en la imagen? ¡Puedes contar todo lo que veas, como los colores o las formas!"}],
     :type "sequence-data"}],
   :phrase "Round 1 tap instructions",
   :phrase-description "Round 1 tap instructions",
   :editor-type "dialog"},
  :round-timeout-dialog-1
  {:type "sequence-data",
   :data
   [{:data
     [{:type "empty", :duration 0}
      {:end 29.918,
       :data
       [{:end 24.17, :anim "talk", :start 20.98}
        {:end 27.36, :anim "talk", :start 24.61}
        {:end 29.83, :anim "talk", :start 27.54}],
       :type "animation-sequence",
       :audio "/upload/LADPQEOBHXMGRGTF.mp3",
       :start 20.951,
       :target "mari",
       :duration 8.967,
       :phrase-text "¡Me encantaría escuchar más ideas! O, si ya terminaste de grabar, presiona el botón de alto."}],
     :type "sequence-data"}],
   :phrase "Round 1 timeout instructions",
   :phrase-description "Round 1 timeout instructions",
   :editor-type "dialog"},
  :run-playback-click
  {:type "sequence-data",
   :data
   [{:id "remove-timeout-timer", :type "action"}
    {:id "run-record-playing", :type "action"}
    {:id "stop-record-playing", :type "action"}]},
  :run-record-playing
  {:type "parallel",
   :data
   [{:type "set-attribute", :target "run-playback-button", :attr-name "visible", :attr-value false}
    {:type "set-attribute", :target "stop-playback-button", :attr-name "visible", :attr-value true}
    {:tags ["recorded-audio-flow"],
     :type "audio",
     :from-var [{:var-name "recording-studio-audio", :action-property "id"}]}]},
  :script
  {:type "workflow",
   :data
   [{:type "start-activity"}
    {:data
     [{:type "set-variable", :var-name "record-button-state", :var-value "record"}
      {:type "set-variable", :var-name "tap-instructions-action", :var-value "empty"}
      {:type "set-variable", :var-name "timeout-instructions-action", :var-value "empty"}],
     :type "parallel"}
    {:id "intro-dialog", :type "action"}
    {:id "set-demo-image-src", :type "action"}
    {:type "set-attribute", :target "concept-image", :attr-name "visible", :attr-value true}
    {:id "demo-dialog", :type "action"}
    {:id "reset-controls", :type "action"}
    {:id "round-1", :type "action", :workflow-user-input true}],
   :on-end "finish"},
  :set-demo-image-src
  {:type "set-attribute", :target "concept-image", :attr-name "src", :attr-value "/raw/img/elements/ant_black.png"},
  :show-button-record
  {:type "parallel",
   :data
   [{:to {:fill 15539236, :duration 0.2, :border-radius 48}, :type "transition", :transition-id "record-button-icon"}
    {:to {:duration 0.2, :border-radius 32}, :type "transition", :transition-id "record-button-icon-int"}]},
  :show-button-stop
  {:type "parallel",
   :data
   [{:to {:fill 255, :duration 0.2, :border-radius 24}, :type "transition", :transition-id "record-button-icon"}
    {:to {:duration 0.2, :border-radius 16}, :type "transition", :transition-id "record-button-icon-int"}]},
  :show-playback-group
  {:type "parallel",
   :data
   [{:type "set-attribute", :target "approve-group", :attr-name "visible", :attr-value true}
    {:type "set-attribute", :target "playback-group", :attr-name "visible", :attr-value true}]},
  :stop-activity
  {:type "sequence-data",
   :data [{:id "remove-timeout-timer", :type "action"} {:id "recording-studio", :type "stop-activity"}]},
  :stop-playback-click
  {:type "sequence-data", :data [{:id "timeout-timer", :type "action"} {:id "stop-record-playing", :type "action"}]},
  :stop-record-playing
  {:type "parallel",
   :data
   [{:type "remove-flows", :flow-tag "recorded-audio-flow"}
    {:type "set-attribute", :target "run-playback-button", :attr-name "visible", :attr-value true}
    {:type "set-attribute", :target "stop-playback-button", :attr-name "visible", :attr-value false}]},
  :stop-recording-dialog
  {:type "sequence-data",
   :data
   [{:data [{:type "empty", :duration 0} {:type "animation-sequence", :audio nil, :phrase-text "New action"}],
     :type "sequence-data"}],
   :phrase "Stop recording",
   :phrase-description "Stop recording",
   :editor-type "dialog"},
  :timeout
  {:type "action",
   :from-var [{:var-name "timeout-instructions-action", :action-property "id"}],
   :unique-tag "instructions"},
  :timeout-timer {:type "set-interval", :id "incorrect-answer-checker", :action "timeout", :interval 25000}},
 :triggers {:stop {:on "back", :action "stop-activity"}, :start {:on "start", :action "script"}},
 :metadata
 {:next-round-id 1,
  :template-name "Recording Studio (Rounds)",
  :tracks
  [{:id "main",
    :nodes
    [{:type "dialog", :action-id "intro-dialog"}
     {:type "dialog", :action-id "demo-dialog"}
     {:type "dialog", :action-id "stop-recording-dialog"}
     {:type "dialog", :action-id "finish-dialog"}
     {:type "track", :track-id "round-1"}],
    :title "Main Track"}
   {:id "round-1",
    :nodes
    [{:type "dialog", :action-id "round-dialog-1"}
     {:type "dialog", :action-id "round-tap-dialog-1"}
     {:type "dialog", :action-id "round-timeout-dialog-1"}],
    :title "Round 1"}],
  :history
  {:created
   {:image {:src "/raw/img/elements/bee.png"}, :demo-image {:src "/raw/img/elements/ant_black.png"}, :template-id 46},
   :updated
   [{:data {}, :action "background-music-remove", :common-action? true}
    {:data {}, :action "background-music-remove", :common-action? true}
    {:data {}, :action "background-music-remove", :common-action? true}
    {:data {}, :action "background-music-remove", :common-action? true}]},
  :actions
  {:add-round
   {:title "Add Round",
    :options
    {:image
     {:type "image", :label "Prompt Image", :description "What visual prompt do you want to show on the screen?"}},
    :track-id "main"}},
  :template-version nil,
  :autostart true,
  :resources ["/raw/img/elements/bee.png"],
  :template-id 46,
  :available-actions
  [{:name "Highlight record", :action "highlight-record-button"}
   {:name "Show record (record button goes red)", :action "show-button-record"}
   {:name "Highlight play", :action "highlight-playback-button"}
   {:name "Highligh approve", :action "highlight-approve-button"}
   {:name "Show stop (record button goes blue)", :action "show-button-stop"}]}}
