@import "first_words_book_spreads/styles";

.widget--template-options {
    display: flex;
    flex-direction: column;
    gap: 10px;

    height: 100%;
    
    .note {
        display: flex;
        align-items: flex-start;
        gap: 4px;
        padding: 9px;
        color: $color-blue-1;

        font-weight: 400;
        font-size: 12px;
        line-height: 16px;

        @include bbs--icon-size(24px);

        background-color: #E9F6FF;
        border: 1px solid $color-grey-4;
        border-radius: 6px;
        overflow: hidden;

    }

    .group {
	.group-label {
	    margin-bottom: 2px;
	}

	display: flex;
	flex-direction: column;
	gap: 10px;
    }

    .template-options-apply {
	border-radius: 30px;
    }
}

