@import "track/styles";

.activity-track {
    overflow: hidden;

    & > .track-name {
        color: #1D1D1F;
        font-weight: 500;
        font-size: 16px;
        margin: 8px 0;

        &:after {
            content: ":";
        }
    }
}
