.stage-container {
    @mixin scene-border-style {
        content: '';
        display: block;
        position: absolute;
        top: 0;

        width: 50%;
        height: 100%;
        border-style: solid;
        border-color: #0071E3;
    }

    &.current-page-left {
        &::before {
            @include scene-border-style;

            left: 0;
            border-width: 1px 0 1px 1px;
            border-radius: 8px 0 0 8px;
        }
    }

    &.current-page-right {
        &::before {
            @include scene-border-style;

            left: 50%;
            border-width: 1px 1px 1px 0;
            border-radius: 0 8px 8px 0;
        }
    }
}
