.question-option {
    hr {
        border: none;
        border-bottom: solid 1px #e5e5e5;
        margin: 16px 0;
    }

    .options-groups {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .option-group {
        margin-bottom: 8px;

        & > span {
            display: inline-block;
            padding-right: 16px;
            text-align: right;
            width: 200px;
        }

        .wc-select {
            display: inline-block;

            select {
                min-width: 200px;
            }
        }
    }

    .preview-wrapper {
        $origin-width: 1920px;
        $origin-height: 1080px;
        $scale: 0.35;

        position: relative;
        left: 50%;
        margin-left: -1 * ($origin-width * $scale * 0.5);

        width: $origin-width * $scale;
        height: $origin-height * $scale;

        .template {
            width: $origin-width;
            height: $origin-height;

            transform: scale($scale);
            transform-origin: 0 0;
            position: absolute;
            left: 0;
            top: 0;

            border: solid 1px #ccc;
            border-radius: 8px;
            overflow: hidden;

            display: grid;

            &.type--text {
                grid-template-columns: 100%;
            }

            &.type--text-image {
                &.layout--horizontal {
                    grid-template-columns: 40% 60%;
                    grid-template-rows: 100%;
                }

                &.layout--vertical {
                    grid-template-columns: 100%;
                    grid-template-rows: 60% 40%;
                }
            }

            .primary-block {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 90px;

                background-color: #ffa301;
                padding: 56px;

                &.done-in-row {
                    flex-direction: row;
                    align-items: center;

                    .options {
                        flex: 1 1;
                    }

                    .done-button {
                        margin: 0;
                    }
                }
            }

            .secondary-block {
                display: flex;
                align-items: center;

                background-color: #fff;
                padding: 56px;
            }

            .task {
                display: flex;
                gap: 40px;

                font-size: 48px;
                line-height: 56px;
            }

            .task-image {
                img {
                    width: 100%;
                    object-fit: contain;
                }
            }

            .play-audio {
                $size: 96px;

                width: $size;
                height: $size;
                min-width: $size;
                min-height: $size;

                flex: 0 0;
                display: flex;
                align-items: center;
                justify-content: center;

                background-color: #fff;
                border: solid 5px #333;
                border-radius: 50%;
            }

            .done-button {
                $size: 128px;

                width: $size;
                height: $size;
                margin: 0 auto;

                img {
                    width: 100%;
                }
            }

            .options-wrapper {
                display: flex;
                flex-direction: column;
            }

            .options {
                display: flex;
                justify-content: space-evenly;
                gap: 25px;

                max-height: 100%;
                padding: 25px;
            }

            .option {
                display: flex;
                flex-direction: column;
                gap: 40px;

                width: 20%;
                max-height: 100%;

                img {
                    object-fit: contain;

                    background: #fff;
                    border: 4px solid #000000;
                    border-radius: 24px;

                    padding: 20px;
                }

                .option-label {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 40px;

                    .option-text {
                        font-size: 48px;
                    }
                }
            }
        }
    }
}
