.question-option {
    hr {
        border: none;
        border-bottom: solid 1px #e5e5e5;
        margin: 16px 0;
    }

    .options-groups {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .option-group {
        display: flex;
        align-items: flex-start;
        gap: 16px;
        margin-bottom: 8px;

        & > span {
            display: inline-block;
            padding-top: 6px;
            text-align: right;
            width: 200px;
        }

        .wc-select {
            display: inline-block;

            select {
                min-width: 200px;
            }
        }
    }

    .mark-options {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 8px;
        row-gap: 4px;

        .mark-option-label {
            margin: 0;
        }
    }

    .explanation-label {
        flex: 1 1;
        text-align: left !important;
        color: #6d6d6d;
        font-weight: 400;
    }

    .preview-wrapper {
        $origin-width: 1920px;
        $origin-height: 1080px;
        $scale: 0.35;

        position: relative;
        left: 50%;
        margin-left: -1 * ($origin-width * $scale * 0.5);

        width: $origin-width * $scale;
        height: $origin-height * $scale;

        canvas {
            border: solid 1px #e5e5e5;
            border-radius: 4px;
            box-shadow: 0px 12px 28px rgba(175, 175, 175, 0.25);
        }

        .preview-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
