.audios-list {
    .audios-list-item {
        background: #fff;
        border-radius: 8px;
        box-shadow: 0px 12px 28px rgba(175, 175, 175, 0.25);
        margin-bottom: 24px;
        padding: 32px;

        &:last-child {
            margin-bottom: 0;
        }

        &.selected {
            border: solid 1px #0071E3;
        }

        wave::-webkit-scrollbar {
            -webkit-appearance: none;
            height: 8px;
        }
    }
}
