.widget--account-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    overflow: auto;

    .account-info {
        display: grid;
        grid-template-columns: auto auto;
        justify-items: stretch;
        row-gap: 20px;

        margin: 0;
        padding: 0 16px;

        font-weight: 400;
        font-size: 12px;
        line-height: 14px;

        dd {
            font-weight: 600;
            margin: 0;
            justify-self: end;
        }
    }

    .account-actions {
        display: flex;
        flex-direction: column;
        gap: 8px;

        button {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            width: 100%;
            font-weight: 600;
        }
    }
}
