.toolbar {
    background-color: #2E3A59;
    padding: 20px;

    .title {
        color: #fff;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        margin: 0;
    }
}
