.record-audio-component {
    display: flex;
    min-width: 250px;

    .info {
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-left: 24px;

        .name {
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
        }

        .time {
            color: #929292;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            margin-top: 6px;
        }
    }
}
