.sign-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;

    width: 50%;
    max-width: 500px;
    padding: 46px 68px;
    padding-bottom: 86px;

    background: bbs--color(blue-1);
    border-radius: 20px;

    h1 {
        @include bbs--ranille-18-r;
        width: 100%;
        margin: 0;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 32px;

        width: 90%;
        max-width: 240px;
    }

    .login-button {
        margin-top: 16px;
    }
}
