.sign-in-form {
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;

    width: 50%;
    max-width: 500px;
    padding: 46px 68px;
    padding-bottom: 86px;

    background: bbs--color(blue-1);
    border-radius: 20px;

    h1 {
        @include bbs--ranille-18-r;
        width: 100%;
        margin: 0;
    }

    .form {
        display: flex;
        flex-direction: column;

        width: 90%;
        max-width: 240px;

	.fields {
	    display: flex;
            flex-direction: column;
            gap: 32px;
	}
    }

    .forgot-password-link {
	display: flex;
	justify-content: end;

	.bbs--link {
	    color: #fff;

	    font-style: normal;
	    font-weight: 400;
	    font-size: 13px;
	}
    }

    .sign-up-link {
	display: flex;
	justify-content: end;

	.bbs--link {
	    color: #fff;

	    font-style: normal;
	    font-weight: 600;
	    font-size: 16px;
	}
    }

    .login-button {
        margin-top: 16px;
    }
}
