.sign-in-form {
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;

    width: 50%;
    max-width: 500px;
    padding: 46px 68px;
    padding-bottom: 46px;

    background: bbs--color(blue-1);
    border-radius: 20px;

    h1 {
        @include bbs--ranille-18-r;
        width: 100%;
        margin: 0;
    }

    .form {
        display: flex;
        flex-direction: column;

        width: 90%;
        max-width: 240px;

	.fields {
	    display: flex;
            flex-direction: column;
            gap: 32px;
	}
    }

    .forgot-password {
	display: flex;
	gap: 10px;

	padding: 36px 10px;

	color: #fff;

	font-style: normal;
	font-weight: 400;
	font-size: 13px;

	.forgot-password-link {
	    margin-top: -4px;
	    .bbs--link {
		color: #F5A36C;
	    }
	}
    }

    .login-button {
        margin-top: 16px;
    }

    .login-as {
    	display: flex;
	gap: 20px;

	.log-in-as-button {
	    background-color: transparent;
	    border: 1px solid #FFFFFF;
	    padding: 0 35px;
	    cursor: pointer;
	    
	    &.log-in-as-button-active {
		color: #F5A36C;
		border: 1px solid #F5A36C; //$color-orange;
	    }
	}
    }

    .sign-in-logo {
	@include bbs--icon-size(234px, 41px);
    }
}
