.book-categories {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;

    width: 100%;
    overflow-x: auto;

    padding: 10px;
    margin: 0;

    .category-item {
        display: block;
        height: 100%;
        cursor: pointer;

        img {
            position: relative;
            height: 18vh;
        }

        &.selected {
            filter: drop-shadow(0px 0px 10px #fff);

            img {
                filter: brightness(1.2);
            }
        }

        @mixin adjust($id, $height, $top: 0) {
            &#{$id} {
                img {
                    height: #{$height};
                    top: #{$top};
                }
            }
        }

        @include adjust(#family-and-friends, 17.3vh, -0.3vh);
        @include adjust(#science-stem, 15.9vh, 1vh);
        @include adjust(#sports, 17.7vh);
        @include adjust(#vehicles, 15.5vh, 1.6vh);
    }
}
