.book-categories {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;

    width: 100%;
    overflow-x: auto;

    padding: 10px;
    margin: 0;

    .category-item {
        display: block;
        height: 100%;
        cursor: pointer;

        img {
            height: 100%;
        }

        &.selected {
            filter: drop-shadow(0px 0px 10px #fff);

            img {
                filter: brightness(1.2);
            }
        }
    }
}
