@import "../../navigation/styles";

.top-bar--auth {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    padding: 0 16px;
    cursor: pointer;

    .logout {
       white-space: nowrap;
       font-weight: 400;
       font-size: 14px;
       margin-right: 16px;
    }

    .user-data {
        font-weight: 500;
        font-size: 16px;

        .name {
            text-transform: capitalize;
        }
    }

    .menu {
        right: 0;

        .menu-item {
            @include navigation-item;
        }
    }

    &:hover {
        .menu {
            display: block;
        }
    }
}
