$background-color: #f2f2f2;
$background-color-secondary: #ffffff;

$default-color: #1D1D1F;
$default-color-disabled: #C9C9C9;

$color-disabled: #D8D8D8;

$color-primary: #0071E3;
$color-primary-dark: #0046AE;
$color-primary-darkest: #003483;

$color-secondary: #F00000;
$color-secondary-dark: #D71D1D;
$color-secondary-darkest: #C40808;

$error-color: #f00;
