["/manifest.json"
 "/js/compiled/app.js"
 "/css/styles.css"
 "/css/normalize.css.map"
 "/css/fonts.css"
 "/css/srd-diagram.css.map"
 "/css/course-table.css.map"
 "/css/course-table.css"
 "/css/srd-diagram.css"
 "/css/styles.css.map"
 "/css/normalize.css"
 "/css/editor-v2.css.map"
 "/css/editor-v2.css"
 "/images/templates/previews/rhyming.png"
 "/images/templates/previews/recording_studio.png"
 "/images/templates/previews/recording_studio_1.png"
 "/images/templates/previews/recording_studio_2.png"
 "/images/templates/page_layout/text_big_at_bottom.png"
 "/images/templates/page_layout/only_image.png"
 "/images/templates/page_layout/icons_04.png"
 "/images/templates/page_layout/text_full_page.png"
 "/images/templates/page_layout/icons_08.png"
 "/images/templates/page_layout/icons_17.png"
 "/images/templates/page_layout/spread_text_left_top.png"
 "/images/templates/page_layout/text_at_top.png"
 "/images/templates/page_layout/icons_16.png"
 "/images/templates/page_layout/icons_02.png"
 "/images/templates/page_layout/spread_text_right_bottom.png"
 "/images/templates/page_layout/icons_06.png"
 "/images/templates/page_layout/icons_03.png"
 "/images/templates/page_layout/spread_text_right_top.png"
 "/images/templates/page_layout/icons_07.png"
 "/images/templates/page_layout/spread_text_right_top_b.png"
 "/images/templates/page_layout/text_small_transparent.png"
 "/images/templates/page_layout/spread_text_left_bottom.png"
 "/images/templates/page_layout/icons_01.png"
 "/images/templates/page_layout/text_small_at_bottom.png"
 "/images/templates/cover_layout/title_at_top.svg"
 "/images/templates/cover_layout/title_at_top.png"
 "/images/templates/cover_layout/title_at_bottom.svg"
 "/images/templates/cover_layout/title_at_bottom.png"
 "/images/characters/vera/05_boy.png"
 "/images/characters/vera/04_girl.png"
 "/images/characters/vera/06_girl2.png"
 "/images/characters/vera/character_preview.png"
 "/images/characters/senoravaca/11mexican.png"
 "/images/characters/senoravaca/7_tiger.png"
 "/images/characters/senoravaca/6_tall_woman.png"
 "/images/characters/senoravaca/12_owl.png"
 "/images/characters/senoravaca/9_arabian.png"
 "/images/characters/senoravaca/10_deer.png"
 "/images/characters/senoravaca/8_rhino.png"
 "/images/characters/senoravaca/character_preview.png"
 "/images/auth/animal-w.png"
 "/images/auth/animal-l.png"
 "/images/auth/animal-d.png"
 "/images/auth/animal-c.png"
 "/images/auth/animal-b.png"
 "/images/auth/animal-f.png"
 "/images/auth/asset-11.png"
 "/images/auth/animal-s.png"
 "/images/auth/form.png"
 "/images/auth/animal-v.png"
 "/images/auth/asset-13.png"
 "/images/auth/animal-k.png"
 "/images/auth/asset-12.png"
 "/images/student_dashboard/play.png"
 "/images/student_dashboard/tmp/video1.jpg"
 "/images/student_dashboard/tmp/video3.jpg"
 "/images/student_dashboard/tmp/game3.jpg"
 "/images/student_dashboard/tmp/book1.png"
 "/images/student_dashboard/tmp/game1.jpg"
 "/images/student_dashboard/tmp/game2.jpg"
 "/images/student_dashboard/tmp/video2.jpg"
 "/images/student_dashboard/tmp/book2.jpg"
 "/images/student_dashboard/tmp/book3.jpg"
 "/images/demo/traffic-light.png"
 "/images/app/launcher_icon_72x72.png"
 "/images/app/launcher_icon_144x144.png"
 "/images/app/launcher_icon_192x192.png"
 "/images/app/launcher_icon_96x96.png"
 "/images/default-course.jpg"
 "/images/dashboard/scene-preview/Stadium_Main.jpg"
 "/images/dashboard/scene-preview/Library_Magic-Hat.jpg"
 "/images/dashboard/scene-preview/Park_See-Saw.jpg"
 "/images/dashboard/scene-preview/Park_Pinata.jpg"
 "/images/dashboard/scene-preview/Stadium_Volleyball.jpg"
 "/images/dashboard/scene-preview/Stadium_Cycling-Race.jpg"
 "/images/dashboard/scene-preview/Cinema_Room.jpg"
 "/images/dashboard/scene-preview/Recording_Room.png"
 "/images/dashboard/scene-preview/Library_Book.jpg"
 "/images/dashboard/scene-preview/Feria_Ferris-Wheel.jpg"
 "/images/dashboard/scene-preview/Park_Sandbox.jpg"
 "/images/dashboard/scene-preview/Park_Hide-and-seek.jpg"
 "/images/dashboard/scene-preview/Park_Main.jpg"
 "/images/dashboard/scene-preview/Library_Drawing-Lesson.jpg"
 "/images/dashboard/scene-preview/Library_Room.jpg"
 "/images/dashboard/scene-preview/Casa_Room.jpg"
 "/images/dashboard/scene-preview/Park_Swing.jpg"
 "/images/dashboard/scene-preview/Feria_Main.jpg"
 "/images/dashboard/scene-preview/Park_Slide.jpg"
 "/images/dashboard/scene-preview/Stadium_Running.jpg"
 "/images/dashboard/bg_02.jpg"
 "/images/dashboard/bg_03.jpg"
 "/images/dashboard/bg_01.jpg"
 "/icons/backspace.svg"
 "/icons/flags/es.svg"
 "/icons/flags/us.svg"
 "/fonts/luckiest_guy_regular.woff2"
 "/fonts/roboto/greek-ext-normal-900.woff2"
 "/fonts/roboto/latin-normal-500.woff2"
 "/fonts/roboto/latin-ext-normal-900.woff2"
 "/fonts/roboto/cyrillic-ext-normal-400.woff2"
 "/fonts/roboto/greek-ext-italic-900.woff2"
 "/fonts/roboto/latin-italic-400.woff2"
 "/fonts/roboto/greek-ext-normal-100.woff2"
 "/fonts/roboto/latin-ext-normal-100.woff2"
 "/fonts/roboto/latin-italic-500.woff2"
 "/fonts/roboto/latin-italic-900.woff2"
 "/fonts/roboto/cyrillic-italic-100.woff2"
 "/fonts/roboto/greek-italic-500.woff2"
 "/fonts/roboto/cyrillic-normal-400.woff2"
 "/fonts/roboto/greek-normal-100.woff2"
 "/fonts/roboto/vietnamese-normal-90.woff2"
 "/fonts/roboto/greek-ext-normal-500.woff2"
 "/fonts/roboto/cyrillic-ext-normal-500.woff2"
 "/fonts/roboto/latin-ext-italic-400.woff2"
 "/fonts/roboto/latin-ext-italic-500.woff2"
 "/fonts/roboto/greek-italic-400.woff2"
 "/fonts/roboto/greek-normal-400.woff2"
 "/fonts/roboto/cyrillic-italic-500.woff2"
 "/fonts/roboto/cyrillic-italic-900.woff2"
 "/fonts/roboto/latin-italic-100.woff2"
 "/fonts/roboto/vietnamese-italic-500.woff2"
 "/fonts/roboto/latin-ext-normal-400.woff2"
 "/fonts/roboto/cyrillic-italic-400.woff2"
 "/fonts/roboto/vietnamese-italic-900.woff2"
 "/fonts/roboto/cyrillic-ext-normal-100.woff2"
 "/fonts/roboto/cyrillic-normal-900.woff2"
 "/fonts/roboto/greek-italic-900.woff2"
 "/fonts/roboto/latin-ext-italic-100.woff2"
 "/fonts/roboto/greek-ext-italic-500.woff2"
 "/fonts/roboto/latin-normal-900.woff2"
 "/fonts/roboto/cyrillic-ext-italic-500.woff2"
 "/fonts/roboto/greek-italic-100.woff2"
 "/fonts/roboto/latin-ext-italic-900.woff2"
 "/fonts/roboto/vietnamese-italic-400.woff2"
 "/fonts/roboto/cyrillic-ext-normal-900.woff2"
 "/fonts/roboto/vietnamese-normal-100.woff2"
 "/fonts/roboto/latin-normal-100.woff2"
 "/fonts/roboto/greek-ext-normal-400.woff2"
 "/fonts/roboto/latin-ext-normal-500.woff2"
 "/fonts/roboto/cyrillic-normal-100.woff2"
 "/fonts/roboto/cyrillic-ext-italic-400.woff2"
 "/fonts/roboto/greek-ext-italic-400.woff2"
 "/fonts/roboto/latin-normal-400.woff2"
 "/fonts/roboto/cyrillic-ext-italic-100.woff2"
 "/fonts/roboto/greek-normal-500.woff2"
 "/fonts/roboto/cyrillic-normal-500.woff2"
 "/fonts/roboto/vietnamese-normal-400.woff2"
 "/fonts/roboto/vietnamese-normal-500.woff2"
 "/fonts/roboto/vietnamese-italic-100.woff2"
 "/fonts/roboto/greek-normal-900.woff2"
 "/fonts/roboto/greek-ext-italic-100.woff2"
 "/fonts/roboto/cyrillic-ext-italic-900.woff2"
 "/fonts/Staatliches-Regular.woff2"
 "/fonts/tabschool/Tabschool.woff2"
 "/fonts/lexend_deca_regular2.woff2"
 "/fonts/Pacifico-Regular.woff2"
 "/fonts/lexend_deca_regular3.woff2"
 "/fonts/lexend_deca_regular.woff2"
 "/fonts/AbrilFatface-Regular.woff2"]
