/*.log
/log/*
/target
/*-init.clj
/resources/public/css/
/resources/public/raw/
/resources/public/js/compiled
/.idea
/.sass-cache
/tmp
webchange.iml
/node_modules
out
Procfile
.rebel_readline_history
.lein-env
.lein-repl-history
.lein-failures
.nrepl-port
profiles.clj
package-lock.json
