;; shadow-cljs configuration
{:lein {:profile "cljs,cljs-test"}
 :dev-http {8021 "target/test"}
 :jvm-opts ["-Xmx2G"]
 :builds
 {:app
  {:target           :browser
   :output-dir       "resources/public/js/compiled"
   :asset-path       "/js/compiled"
   :module-loader    true
   :modules          {:app            {:entries [webchange.core]
                                       :default true}
                      :login          {:entries    [webchange.login.views]
                                       :depends-on #{:app}}
                      :admin          {:entries    [webchange.admin.views]
                                       :depends-on #{:app}}
                      :lesson-builder {:entries    [webchange.lesson-builder.views]
                                       :depends-on #{:admin}}
                      :parent         {:entries    [webchange.parent.views]
                                       :depends-on #{:app}}
                      :teacher        {:entries    [webchange.teacher.views]
                                       :depends-on #{:app}}
                      :ui             {:entries    [webchange.ui.views]
                                       :depends-on #{:admin :parent}}}
   :devtools         {:preloads        [day8.re-frame-10x.preload]
                      :after-load      webchange.core/mount-root
                      :ignore-warnings true
                      :hud             #{:errors :progress}
                      :watch-dir       "resources/public"}
   :compiler-options {:closure-defines {re-frame.trace.trace-enabled?        true
                                        day8.re-frame.tracing.trace-enabled? true}}
   :release          {:build-options
                      {:ns-aliases {day8.re-frame.tracing day8.re-frame.tracing-stubs}}}}
  :service-worker
  {:target     :browser
   :output-dir "resources/public/js/compiled"
   :asset-path "/js/compiled"
   :modules    {:service-worker {:entries    [webchange.service-worker]
                                 :web-worker true}}}
  :test
  {:target    :browser-test
   :test-dir  "target/test"
   :ns-regexp "-test$"}
  :ci
  {:target    :karma
   :output-to "target/ci.js"
   :ns-regexp "-test$"}}}
