@mixin active-item {
    & > .text {
        color: $color-secondary;
    }
}

@mixin navigation-items-list {
    position: absolute;
    left: 0;
    top: 100%;

    width: 100%;
    background: $color-primary;
    display: none;

    &.position-bottom {
        left: 0;
        top: 100%;
    }

    &.position-right {
        left: 100%;
        top: 0;
    }
}

@mixin navigation-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    padding: 18px;
    cursor: pointer;

    @include icon-color($color-text-light);

    .icon {
        padding: 0;
    }

    &:hover {
        background: #ffffff1f;

        & > .children-list {
            display: block;
        }
    }

    &.active-item {
        @include active-item;
    }
}

.top-bar--navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: 32px;

    font-size: 12px;
    font-weight: 700;

    .root-item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 16px;
        padding: 18px 22px;

        @include icon-color($color-text-light);

        & > .icon {
            padding: 0;
            @include icon-size(18px);
        }

        & > .text {}

        .children-list {
            @include navigation-items-list;
        }

        .children-item {
            @include navigation-item;
        }

        &:hover {
            cursor: pointer;
            background-color: #{$color-secondary + "38"};

            & > .children-list {
                display: block;
            }
        }

        &.active-item {
            @include active-item;
        }
    }
}
