@mixin active-item {
    color: bbs--color(yellow-1);
}

@mixin navigation-items-list {
    position: absolute;
    left: 0;
    top: 100%;

    width: 100%;
    background: $color-blue;
    display: none;

    &.position-bottom {
        left: 0;
        top: 100%;
    }

    &.position-right {
        left: 100%;
        top: 0;
    }
}

@mixin navigation-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    padding: 18px;
    cursor: pointer;

    @include icon-color($color-text-light);

    .icon {
        padding: 0;
    }

    &:hover {
        background: #ffffff1f;

        & > .children-list {
            display: block;
        }
    }

    &.active-item {
        @include active-item;
    }
}

.top-bar--navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: 8px;

    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    white-space: nowrap;

    a {
        color: bbs--color(white);
    }

    .logo {
        margin-right: 32px;
    }

    .root-item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        & > a {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding: 18px 22px;

            & > .icon {
                padding: 0;
                @include icon-size(18px);
            }
        }

        .children-list {
            @include navigation-items-list;
        }

        .children-item {
            @include navigation-item;
        }
    }

    .navigation-item {
        &:hover {
            cursor: pointer;

            & > .children-list {
                display: block;
            }

            .root-icon {
                @include bbs--icon-color(bbs--color(yellow-1));
            }
        }

        &.active-item {
            .root-icon {
                @include bbs--icon-color(bbs--color(yellow-1));
            }
        }
    }

    .root-icon {
        @include bbs--icon-color(bbs--color(blue-2));
        @include bbs--icon-size(22px);

        border-radius: 1px;
        overflow: hidden;
    }

    .expand-icon {
        @include bbs--icon-color(bbs--color(white));
        @include bbs--icon-size(22px);
    }
}
