.widget--single-page {
    @include bbs--page--panel;

    display: flex;
    flex-direction: column;
    gap: $bbs--page--margin;

    width: 100%;
    height: 100%;

    &.widget--single-page--with-background-image {
        background-image: url("/images/admin/page/page_content_background.svg");
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: auto;
    }

    &.widget--single-page--form-container {
        .widget--single-page--content {

            padding: 32px 64px;

            .component--form {
                width: 280px;
            }
        }
    }

    &.widget--single-page--with-footer {
        .widget--single-page--content {
            padding-bottom: $footer-height - $default-gap;
        }
    }

    .widget--single-page--content {
        @include bbs--with-scrollbar;

        flex: 1 1;
        min-height: 0;

        display: flex;
        flex-direction: column;
        overflow: auto;

        padding: $bbs--page--margin;
    }
}
