.side-menu-sections {
    padding: 4px 0;

    .menu-section-group {
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }

        .menu-section-item {
            background-color: #c1c1c1;
            border-radius: 8px 0 0 8px;
            cursor: pointer;
            margin-bottom: 2px;

            &:hover {
                background-color: rgba(0, 0, 0, 0.03);
            }

            &:last-child {
                margin-bottom: 0;
            }

            &.selected {
                background-color: #fff;
            }

            svg {
                width: 12px;
                height: 12px;
            }
        }
    }
}
