@mixin bbs--icon-color($color) {
    svg {
        fill: $color;
        stroke: none;

        &.stroke-colored {
            fill: none;
            stroke: $color;
        }
    }
}

@mixin bbs--icon-size($width, $height: null) {
    @if $height == null {
        $height: $width;
    }

    svg {
        width: $width;
        height: $height;
    }
}

@mixin bbs--icon-thickness($thickness) {
    svg {
        stroke-width: $thickness;
    }
}
