@import "mixins";

.bbs--icon {
    display: flex;
    align-items: center;
    justify-content: center;

    &.bbs--icon--color-white {
        @include bbs--icon-color(#fff);
    }

    @each $color in $bbs--base-colors {
        &.bbs--icon--color-#{$color} {
            @include bbs--icon-color(bbs--color($color));
        }
    }
}
