.share-form {
    .lesson-set-row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 32px;
        margin-bottom: 32px;

        & > * {
            flex: 1;
        }

        .lesson-set-name {
            font-weight: bold;
            text-align: left;
            line-height: 32px;
            max-width: 150px;

            &:after {
                content: ":";
            }
        }
    }

    .link-row,
    .link-row input {
        width: 100%;
    }
}
