@mixin with-circle($size: 12px, $color: $color-primary, $thickness: 2px) {
    &:before {
        content: "";
        display: inline-block;
        width: $size;
        height: $size;
        border: solid $thickness $color;
        border-radius: 50%;
    }
}