@mixin with-circle($size: 12px, $color: $color-primary, $thickness: 2px) {
    &:before {
        content: "";
        display: inline-block;
        width: $size;
        height: $size;
        border: solid $thickness $color;
        border-radius: 50%;
    }
}

@mixin with-scroll-bar($size) {
    &::-webkit-scrollbar {
        width: $size;
        opacity: 1;
    }

    &::-webkit-scrollbar-track {
        border-radius: $size * 0.5;
        opacity: 0;
    }
}

@mixin with-small-scroll-bar {
    @include with-scroll-bar(6px);
}

@mixin with-small-form {
    align-items: center;

    & > * {
        width: 460px;
        flex: 0;
    }
}
