.component--form {
    $gap: 8px;
    $form-padding: 10px;

    @import "form_action/styles";

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1;
    gap: $gap;
    position: relative;

    .controls {
        display: flex;
        flex: 1 1;
        flex-direction: column;
        gap: 16px;
        overflow: auto;
        padding: $form-padding;
    }

    .form-actions {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-top: 32px;
        padding: $form-padding;

        & > * {
            flex: 1 1 50%;
        }
    }
}
