.image-modal {
  height: 90%;
}

.select-image-form {
    $max-height: 600px;

    // display: flex;
    // align-items: flex-start;
    // gap: 16px;

    // .tag-selector {
    //     display: grid;
    //     grid-template-columns: auto auto;
    //     column-gap: 4px;
    //     row-gap: 4px;
    //     min-width: 160px;
    //     max-height: $max-height;
    //     overflow: auto;
    //     flex: 0 0;

    //     & > * {
    //         align-self: center;

    //         &.tag-label {
    //             margin-bottom: 0;
    //         }
    //     }
    // }

    .tag-selector {

        margin-bottom: 10px;

        .chip {
            display: inline-block;
            padding: 0 15px;
            height: 35px;
            font-size: 16px;
            line-height: 35px;
            border-radius: 25px;
            background-color: #f1f1f1;
            cursor: pointer;
            margin: 5px 5px;
          }
          .chip-active {
            display: inline-block;
            padding: 0 15px;
            height: 35px;
            font-size: 16px;
            line-height: 35px;
            border-radius: 25px;
            background-color: #0071E3;
            cursor: pointer;
            color: #ffff;
            margin: 5px 5px;
          }
          
          .closebtn {
            padding-left: 10px;
            color: #000;
            font-weight: bold;
            float: right;
            font-size: 20px;
            cursor: pointer;
          }
          
          .closebtn:hover {
            color: #000;
          }

    }

    .assets-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 16px;
        row-gap: 16px;
        width: 100%;
        max-height: 300px;
        min-height: 300px;
        overflow: auto;
        background-color: #f2f2f2;
        border-radius: 8px;
        padding: 16px;

        .assets-list-item {
            position: relative;
            background-color: #fff;
            border-radius: 4px;
            overflow: hidden;

            &:hover {
                box-shadow: 0px 12px 28px rgba(175, 175, 175, 0.25);
                cursor: pointer;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}
