.course-table {
    th, td {
        border: solid 1px #414141;
        padding: 16px;
    }

    tbody {
        td {
            cursor: pointer;
            transition: box-shadow 0.2s ease-out;

            &.selected {
                box-shadow: inset 0 0 5px 1px #1272e6;
            }
        }
    }

    tfoot {
        td {
            padding: 8px;
        }
    }
}
