.editor-v2 {
    display: flex;
    flex-direction: column;

    .top-side {
        display: flex;
        height: 400px;
        background-color: #3c3c3c;
        border-bottom: solid 2px #4e4e4e;
        justify-content: space-between;

        .data-selector {
            flex-grow: 1;
            padding: 15px;
        }

        .scene-container {
            border-left: solid 2px #4e4e4e;
            width: 60%;
            color: #848484;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
        }
    }

    .diagram-container {
        flex-grow: 1;
        background-color: rgb(60, 60, 60) !important;
        background-size: 50px 50px;
        background-image:   linear-gradient(0deg, transparent 24%,
                                rgba(255, 255, 255, 0.05) 25%,
                                rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%,
                                rgba(255, 255, 255, 0.05) 75%,
                                rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent),
                            linear-gradient(90deg, transparent 24%,
                                rgba(255, 255, 255, 0.05) 25%,
                                rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%,
                                rgba(255, 255, 255, 0.05) 75%,
                                rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent);
        position: relative;

        .srd-diagram {
            height: 100%;
        }
    }
}
