@import "normalize";
@import "editor-v2";
@import "srd-diagram";
@import "course-table";

#app {
  align-content: center;
  align-items: center;
  display: flex;
  font-family: Roboto, sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

#app > div {
  height: 100vh;
  width: 100%;
}

#editor-container {
  height: 100vh;
  width: 100%;
}
