@import "normalize";
@import "editor-v2";
@import "srd-diagram";
@import "course-table";

#app {
  align-content: center;
  align-items: center;
  display: flex;
  font-family: Roboto, sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

#app > div {
  height: 100vh;
  width: 100%;
}

#editor-container {
  height: 100vh;
  width: 100%;
}

section.range-slider {
    position: relative;
    width: 100%;
    height: 35px;
    text-align: center;
}

section.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 15px;
    width: 100%;
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;
}

section.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

section.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

section.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}
section.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}
  section.range-slider input[type=range]::-moz-focus-outer {
  border: 0;
}
