.animation-form-fields {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 36px;

    .additional-fields {
        padding: 0px 20px;

        .flip-field {
            @include bbs--icon-size(20px);
            display: flex;
            justify-content: space-between;
        }

    .scale-field {
        display: flex;
        align-items: center;
        justify-content: space-between;

            .bbs--input {
                width: 50px;
            }
        }
    }
}
