.wc-draggable {
    cursor: grab;

    &.dragged {
        & > * {
            opacity: 0.3;
        }
    }

    &.drag-over {
        & > * {
            border: dashed 1px #000 !important;
        }
    }
}
