.student--select-school-page {
    $base: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-color: #2d2e42;
    background-image: url("/images/student/sign_in/background.jpg");
    background-position: center center;
    background-size: cover;

    font-family: Roboto;
    font-size: .5 * $base;

    color: #fff;
    
    .select-school-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7vh;

	.school-form-item {
	    cursor: pointer;
	}
    }

    .header {
        font-size: 1em;
        line-height: 1em;

        user-select: none;
        text-transform: uppercase;
        white-space: nowrap;
    }

}
