.available-audios-list {
    & > .available-audios-list-item {
        display: flex;
        justify-content: space-between;
        gap: 8px;
        align-items: center;
        padding: 2px 8px;

        font-size: 12px;
        border-radius: 4px;
        cursor: pointer;

        &:hover,
        &.active {
            background-color: #ddd;
        }

        & > .selected-icon-wrapper {
            flex: 0 0;

            min-width: 16px;
            height: 16px;

            .selected-icon {
                width: 100%;
                height: 100%;
                padding: 2px;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        & > .name {
            flex: 1 1;
        }

        & > .alias-input {
            padding: 2px 8px;
            margin: 0 0 0 11px;
            width: 100%;
        }

        & > .bring-to-top-button {
            width: 16px;
            height: 16px;
            min-width: auto;
            display: none;

            svg {
                width: auto;
                height: 12px;
            }
        }

        & > .actions {
            flex: 0 0;
            gap: 4px;
            display: flex;
            width: 36px;

            & > .action-button {
                width: 16px;
                height: 16px;
                min-width: auto;
                display: none;

                svg {
                    width: auto;
                    height: 12px;
                }
            }
        }

        &:hover {
            & > .selected-icon-wrapper {
                display: none;
            }

            & > .bring-to-top-button {
                display: block;
            }

            & > .actions {
                .action-button {
                    display: block;
                }
            }
        }
    }
}
