.widget--add-class-teachers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;

    width: 100%;
    height: 100%;

    .new-teacher-button {
        font-weight: 700;
        font-size: 12px;

        justify-content: space-between;

        @include icon-color($color-pink);
    }

    .teachers-list {
        flex: 1 1;
    }

    .actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;

        .cancel-button {
            @include button-color($color-primary);
        }
    }
}
