.page--account-edit {
    .page--account-edit--content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 34px;
    }

    .children-list {
        @include bbs--with-scrollbar;
        @include bbs--with-scrollbar-margin;
        display: flex;
        flex: 1 1;
        flex-direction: column;
        gap: 16px;
        overflow: auto;
    }

    .child-card {
        position: relative;
        padding: 24px;
        border: solid 1px #E9F6FF;
        border-radius: 4px;

        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.02em;

        h1 {
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
        }

        p {
            margin-top: 12px;
        }

        .remove-button {
            @include bbs--icon-size(24px);
            @include bbs--icon-thickness(1.5px);
            position: absolute;
            top: 14px;
            right: 14px;
        }

        dl {
            @include bbs--noto-14-r;
            display: grid;
            grid-template-columns: auto 1fr;
            column-gap: 14px;
            row-gap: 12px;
            margin-top: 36px;
        }

        dt {
            @include bbs--noto-14-b;

            &:after {
                content: ":";
            }
        }
    }
}
