.page--account-edit {
    .widget--page--header--navigation-icon {	    
	@include icon-color($color-green2a);
    }
    .widget--page--header-info {
	border-left: 1px solid #ffffff1a;


	.widget--page--header-info-block {
	    flex-direction: column-reverse;
	    min-width: 235px;
	    align-items: center;
	    border-right: 1px solid #ffffff1a;
	    gap: 0px;

	    .widget--page--header-info-block--key {
                @include bbs--noto-12-r;
            }

            .widget--page--header-info-block--value {
                @include bbs--noto-14-sb;
            }
	}
    }

    #page--account-edit--content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 128px;

    }

    .left-side-panel {
        display: flex;
	flex: 1 1;
        flex-direction: column;
        gap: 32px;
        overflow: auto;
        padding-right: $default-gap;

        & > * {
            overflow: unset;
        }
    }

    .loading-indicator {
        flex: 1 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .children-list {
        display: flex;
	flex: 3 1;
        flex-direction: column;
        gap: 16px;
        overflow: auto;
    }

    .child-card {
        position: relative;
        padding: 24px;
        border: solid 1px #E9F6FF;
        border-radius: 4px;

        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.02em;

        h1 {
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
        }

	p {
	    margin-top: 12px;
	}

        .remove-button {
	    @include bbs--icon-size(32px);
            position: absolute;
            top: 14px;
            right: 14px;
        }

        dl {
            display: grid;
            grid-template-columns: auto 1fr;
            column-gap: 14px;
            row-gap: 12px;
	    margin-top: 36px;
        }

        dt {
            font-weight: 700;

            &:after {
                content: ":";
            }
        }

        dd {
            margin: 0;
        }
    }
}
