{:assets        [{:url "/raw/img/stadium/cycling/cycle_race_bg_01.jpg", :size 10, :type "image"}
                 {:url "/raw/img/stadium/cycling/cycle_race_bg_02.jpg", :size 10, :type "image"}
                 {:url "/raw/img/stadium/cycling/cycle_race_bg_03.jpg", :size 10, :type "image"}

                 {:url "/raw/img/elements/baby.png", :size 10, :type "image"}
                 {:url "/raw/img/elements/ball.png", :size 10, :type "image"}
                 {:url "/raw/img/elements/bear.png", :size 10, :type "image"}
                 {:url "/raw/img/elements/boots.png", :size 10, :type "image"}
                 {:url "/raw/img/elements/boy.png", :size 10, :type "image"}
                 {:url "/raw/img/elements/cat.png", :size 10, :type "image"}
                 {:url "/raw/img/elements/cheese.png", :size 10, :type "image"}
                 {:url "/raw/img/elements/chocolate.png", :size 10, :type "image"}
                 {:url "/raw/img/elements/diamond.png", :size 10, :type "image"}
                 {:url "/raw/img/elements/elephant.png", :size 10, :type "image"}
                 {:url "/raw/img/elements/frog.png", :size 10, :type "image"}
                 {:url "/raw/img/elements/garden.png", :size 10, :type "image"}
                 {:url "/raw/img/elements/grapes.png", :size 10, :type "image"}
                 {:url "/raw/img/elements/home.png", :size 10, :type "image"}
                 {:url "/raw/img/elements/hand.png", :size 10, :type "image"}
                 {:url "/raw/img/elements/kimono.png", :size 10, :type "image"}
                 {:url "/raw/img/elements/leaf.png", :size 10, :type "image"}
                 {:url "/raw/img/elements/lion.png", :size 10, :type "image"}
                 {:url "/raw/img/elements/magnet.png", :size 10, :type "image"}
                 {:url "/raw/img/elements/ostrich.png", :size 10, :type "image"}
                 {:url "/raw/img/elements/squirrel.png", :size 10, :type "image"}
                 {:url "/raw/img/elements/sunflower.png", :size 10, :type "image"}
                 {:url "/raw/img/elements/tomato.png", :size 10, :type "image"}
                 {:url "/raw/img/elements/website.png", :size 10, :type "image"}
                 {:url "/raw/img/elements/wrench.png", :size 10, :type "image"}
                 {:url "/raw/img/elements/xylophone.png", :size 10, :type "image"}
                 {:url "/raw/img/elements/yoyo.png", :size 10, :type "image"}

                 {:url "/raw/audio/l2/a9/L2_A9_Mari.m4a" :type "audio"}

                 {:url "/raw/audio/l2/mari-chants.m4a", :size 5, :type "audio" :alias "mari chants"}
                 ],
 :templates ["coaching"]
 :objects       {:background
                       {:type  "carousel" :x 0 :y 0 :width 1920 :height 1080
                        :first "/raw/img/stadium/cycling/cycle_race_bg_01.jpg"
                        :next  "/raw/img/stadium/cycling/cycle_race_bg_02.jpg"
                        :last  "/raw/img/stadium/cycling/cycle_race_bg_03.jpg"},

                 :vera
                       {:type       "animation" :x 500 :y 721 :scene-name "vera" :name "vera-90" :anim "bike_ride"
                        :speed      0.3 :skin "default"
                        :transition "vera"
                        :width      727 :height 1091 :scale {:x 0.4 :y 0.4} :start true :meshes true}

                 :mari {:type    "animation" :scene-name "mari" :name "mari" :anim "idle"
                        :start   true :speed 0.35 :transition "mari"
                        :x       1265 :y 311 :width 473 :height 511 :anim-offset {:x 0 :y -150}
                        :scale-y 0.5 :scale-x 0.5}

                 :group1
                       {:type       "group"
                        :scene-name "group1"
                        :transition "group1"
                        :x          2000
                        :y          683
                        :children   ["box1" "letter1" "image1"]
                        :states     {:init  {:type "transparent"}
                                     :reset {:type "group"}}}

                 :image1   {:type   "image"
                                  :x      0
                                  :y      -280
                                  :width  100
                                  :height 100
                                  :origin {:type "center-top"}}

                 :letter1
                       {:type           "text"
                        :text           "x"
                        :x              -110
                        :y              -180
                        :width          200
                        :height         200
                        :align          "center"
                        :vertical-align "middle"
                        :font-family    "Lexend Deca"
                        :font-size      120
                        :shadow-color   "#1a1a1a"
                        :shadow-offset  {:x 5 :y 5}
                        :shadow-blur    5
                        :shadow-opacity 0.5
                        :fill           "#d25523"
                        :actions        {:click {:type "action" :id "pick-box-1" :on "click"}}}


                 :box1
                       {:type       "animation" :x 0 :y 0 :width 671 :height 633 :anim-offset {:x 0 :y -300}
                        :name       "boxes" :anim "idle2" :scale {:x -0.25 :y 0.25} :speed 0.3 :loop true :start true
                        :scene-name "box1" :transition "box1" :skin "default"
                        :actions    {:click {:type "action" :id "pick-box-1" :on "click"}}}

                 :group2
                       {:type       "group"
                        :scene-name "group2"
                        :transition "group2"
                        :x          2200
                        :y          789
                        :children   ["box2" "letter2" "image2"]
                        :states     {:init  {:type "transparent"}
                                     :reset {:type "group"}}}

                 :image2   {:type   "image"
                            :x      0
                            :y      -280
                            :width  100
                            :height 100
                            :origin {:type "center-top"}}

                 :letter2
                       {:type           "text"
                        :text           "x"
                        :x              -110
                        :y              -180
                        :width          200
                        :height         200
                        :align          "center"
                        :vertical-align "middle"
                        :font-family    "Lexend Deca"
                        :font-size      120
                        :shadow-color   "#1a1a1a"
                        :shadow-offset  {:x 5 :y 5}
                        :shadow-blur    5
                        :shadow-opacity 0.5
                        :fill           "#d25523"
                        :actions        {:click {:type "action" :id "pick-box-2" :on "click"}}}

                 :box2
                       {:type       "animation" :x 0 :y 0 :width 671 :height 633 :anim-offset {:x 0 :y -300}
                        :name       "boxes" :anim "idle2" :scale {:x -0.25 :y 0.25} :speed 0.3 :loop true :start true
                        :scene-name "box2" :transition "box2" :skin "default"
                        :actions    {:click {:type "action" :id "pick-box-2" :on "click"}}}

                 :group3
                       {:type       "group"
                        :scene-name "group3"
                        :transition "group3"
                        :x          2400
                        :y          932
                        :children   ["box3" "letter3" "image3"]
                        :states     {:init  {:type "transparent"}
                                     :reset {:type "group"}}}

                 :image3   {:type   "image"
                            :x      0
                            :y      -280
                            :width  100
                            :height 100
                            :origin {:type "center-top"}}

                 :letter3
                       {:type           "text"
                        :text           "x"
                        :x              -110
                        :y              -180
                        :width          200
                        :height         200
                        :align          "center"
                        :vertical-align "middle"
                        :font-family    "Lexend Deca"
                        :font-size      120
                        :shadow-color   "#1a1a1a"
                        :shadow-offset  {:x 5 :y 5}
                        :shadow-blur    5
                        :shadow-opacity 0.5
                        :fill           "#d25523"
                        :actions        {:click {:type "action" :id "pick-box-3" :on "click"}}}

                 :box3
                       {:type       "animation" :x 0 :y 0 :width 671 :height 633 :anim-offset {:x 0 :y -300}
                        :name       "boxes" :anim "idle2" :scale {:x -0.25 :y 0.25} :speed 0.3 :loop true :start true
                        :scene-name "box3" :transition "box3" :skin "default"
                        :actions    {:click {:type "action" :id "pick-box-3" :on "click"}}}

                 },

 :scene-objects [["background"] ["group1" "group2" "group3"] ["vera" "mari"]],
 :actions       {:start                   {:type "sequence"
                                           :data ["start-activity"
                                                  "init-slots"
                                                  "init-vera-position"
                                                  "init-audio-correct"
                                                  "init-audio-try-again"
                                                  "renew-words"
                                                  "mari-welcome-audio"
                                                  "renew-current-concept"
                                                  "current-concept-sound-x3"
                                                  ]}

                 :start-activity          {:type "start-activity" :id "cycling-letters"}
                 :stop-activity           {:type "stop-activity" :id "cycling-letters"}
                 :finish-activity         {:type "sequence-data"
                                           :data [{:type "finish-activity" :id "cycling-letters"}
                                                  {:type "scene" :scene-id "stadium"}]}

                 :current-concept-sound-x3 {:type "action",
                                            :from-var [{:var-name "current-concept", :var-property "mari-sound-3"}]}

                 :start-background-music  {:type "audio" :id "background" :loop true}

                 :init-slots              {:type "parallel"
                                           :data [{:type "set-variable" :var-name "slot1" :var-value "box1"}
                                                  {:type "set-variable" :var-name "slot2" :var-value "box2"}
                                                  {:type "set-variable" :var-name "slot3" :var-value "box3"}]}

                 :renew-words             {:type        "lesson-var-provider"
                                           :provider-id "words-set"
                                           :variables   ["item-1" "item-2" "item-3" "item-4" "item-5"
                                                         "item-6" "item-7" "item-8" "item-9" "item-10"]
                                           :shuffled    true
                                           :limit       3
                                           :repeat      4
                                           :from        "concepts-group"}

                 :renew-current-concept   {:type "sequence-data"
                                           :data [{:type "parallel"
                                                   :data [{:type "state" :target "group1" :id "init"}
                                                          {:type "state" :target "group2" :id "init"}
                                                          {:type "state" :target "group3" :id "init"}]}
                                                  {:type "action" :id "wait-for-box-animations"}
                                                  {:type "parallel"
                                                   :data [{:type "transition" :transition-id "group1" :to {:x 2000 :duration 0.1}}
                                                          {:type "transition" :transition-id "group2" :to {:x 2200 :duration 0.1}}
                                                          {:type "transition" :transition-id "group3" :to {:x 2400 :duration 0.1}}]}
                                                  {:type "parallel"
                                                   :data [{:type "state" :target "group1" :id "reset"}
                                                          {:type "state" :target "group2" :id "reset"}
                                                          {:type "state" :target "group3" :id "reset"}]}
                                                  {:type "action" :id "wait-for-box-animations"}
                                                  {:type        "vars-var-provider"
                                                   :provider-id "current-concept"
                                                   :variables   ["current-concept"]
                                                   :from        ["item-1" "item-2" "item-3" "item-4" "item-5"
                                                                 "item-6" "item-7" "item-8" "item-9" "item-10"]
                                                   :shuffled    true
                                                   :on-end      "finish-activity"}
                                                  {:type      "vars-var-provider"
                                                   :variables ["pair-concept-1" "pair-concept-2"]
                                                   :from      ["item-1" "item-2" "item-3" "item-4" "item-5"
                                                               "item-6" "item-7" "item-8" "item-9" "item-10"]
                                                   :shuffled  true
                                                   :unique    true
                                                   :from-var  [{:var-name "current-concept" :var-property "concept-name"
                                                                :var-key  "concept-name" :action-property "exclude-property-values"}]}
                                                  {:type      "vars-var-provider"
                                                   :variables ["slot1" "slot2" "slot3"]
                                                   :from      ["current-concept" "pair-concept-1" "pair-concept-2"]
                                                   :shuffled  true}
                                                  {:type "parallel"
                                                   :data [{:type     "set-attribute" :target "letter1" :attr-name "text"
                                                           :from-var [{:var-name "slot1" :var-property "letter" :action-property "attr-value"}]}
                                                          {:type     "set-attribute" :target "image1" :attr-name "src"
                                                           :from-var [{:var-name "slot1" :var-property "image-src" :action-property "attr-value"}]}
                                                          {:type     "set-attribute" :target "letter2" :attr-name "text"
                                                           :from-var [{:var-name "slot2" :var-property "letter" :action-property "attr-value"}]}
                                                          {:type     "set-attribute" :target "image2" :attr-name "src"
                                                           :from-var [{:var-name "slot2" :var-property "image-src" :action-property "attr-value"}]}
                                                          {:type     "set-attribute" :target "letter3" :attr-name "text"
                                                           :from-var [{:var-name "slot3" :var-property "letter" :action-property "attr-value"}]}
                                                          {:type     "set-attribute" :target "image3" :attr-name "src"
                                                           :from-var [{:var-name "slot3" :var-property "image-src" :action-property "attr-value"}]}]}
                                                  {:type "parallel"
                                                   :data [{:type "transition" :transition-id "group1" :to {:x 1300 :duration 2}}
                                                          {:type "transition" :transition-id "group2" :to {:x 1500 :duration 2}}
                                                          {:type "transition" :transition-id "group3" :to {:x 1700 :duration 2}}]}
                                                  ]}

                 :init-vera-position      {:type "set-variable" :var-name "current-line" :var-value "box2"}

                 :stay-on-line            {:type "empty" :duration 100}

                 :wait-for-box-animations {:type "empty" :duration 100}

                 :go-to-box1-line         {:type "sequence-data"
                                           :data [{:type "animation" :target "vera" :id "bike_turnup"}
                                                  {:type "add-animation" :target "vera" :id "bike_ride" :loop true}
                                                  {:type "set-variable" :var-name "current-line" :var-value "box1"}
                                                  {:type     "transition" :transition-id "vera"
                                                   :from-var [{:var-name "current-line-pos" :action-property "to"}]}]}

                 :pick-box-1              {:type "sequence-data"
                                           :data [{:type "set-variable" :var-name "current-line-pos" :var-value {:y 621 :duration 0.5}}
                                                  {:type "set-variable" :var-name "current-line-jump" :var-value {:y 421 :duration 1}}
                                                  {:type "set-variable" :var-name "jump-wait" :var-value 500}
                                                  {:type     "test-value"
                                                   :value1   "box1"
                                                   :from-var [{:var-name "current-line" :action-property "value2"}]
                                                   :success  "stay-on-line"
                                                   :fail     "go-to-box1-line"}
                                                  {
                                                   :type     "test-var-scalar"
                                                   :var-name "current-concept" :value true
                                                   :from-var [{:var-name "slot1" :action-property "value"}]

                                                   :success  "pick-correct"
                                                   :fail     "pick-wrong"}]}

                 :go-to-box2-line-up      {:type "sequence-data"
                                           :data [{:type "animation" :target "vera" :id "bike_turnup"}
                                                  {:type "add-animation" :target "vera" :id "bike_ride" :loop true}
                                                  {:type "set-variable" :var-name "current-line" :var-value "box2"}
                                                  {:type     "transition" :transition-id "vera"
                                                   :from-var [{:var-name "current-line-pos" :action-property "to"}]}]}

                 :go-to-box2-line-down    {:type "sequence-data"
                                           :data [{:type "animation" :target "vera" :id "bike_turndown"}
                                                  {:type "add-animation" :target "vera" :id "bike_ride" :loop true}
                                                  {:type "set-variable" :var-name "current-line" :var-value "box2"}
                                                  {:type     "transition" :transition-id "vera"
                                                   :from-var [{:var-name "current-line-pos" :action-property "to"}]}]}

                 :pick-box-2              {:type "sequence-data"
                                           :data [{:type "set-variable" :var-name "current-line-pos" :var-value {:y 721 :duration 0.5}}
                                                  {:type "set-variable" :var-name "current-line-jump" :var-value {:y 521 :duration 1}}
                                                  {:type "set-variable" :var-name "jump-wait" :var-value 800}
                                                  {:type     "case"
                                                   :from-var [{:var-name "current-line" :action-property "value"}]
                                                   :options  {:box1 {:type "action" :id "go-to-box2-line-down"}
                                                              :box2 {:type "action" :id "stay-on-line"}
                                                              :box3 {:type "action" :id "go-to-box2-line-up"}}}
                                                  {:type     "test-var-scalar"
                                                   :var-name "current-concept" :value true
                                                   :from-var [{:var-name "slot2" :action-property "value"}]
                                                   :success  "pick-correct"
                                                   :fail     "pick-wrong"}]}

                 :go-to-box3-line         {:type "sequence-data"
                                           :data [{:type "animation" :target "vera" :id "bike_turndown"}
                                                  {:type "add-animation" :target "vera" :id "bike_ride" :loop true}
                                                  {:type "set-variable" :var-name "current-line" :var-value "box3"}
                                                  {:type     "transition" :transition-id "vera"
                                                   :from-var [{:var-name "current-line-pos" :action-property "to"}]}]}

                 :pick-box-3              {:type "sequence-data"
                                           :data [{:type "set-variable" :var-name "current-line-pos" :var-value {:y 821 :duration 0.5}}
                                                  {:type "set-variable" :var-name "current-line-jump" :var-value {:y 621 :duration 1}}
                                                  {:type "set-variable" :var-name "jump-wait" :var-value 1200}
                                                  {:type     "test-value"
                                                   :value1   "box3"
                                                   :from-var [{:var-name "current-line" :action-property "value2"}]
                                                   :success  "stay-on-line"
                                                   :fail     "go-to-box3-line"}
                                                  {:type     "test-var-scalar"
                                                   :var-name "current-concept" :value true
                                                   :from-var [{:var-name "slot3" :action-property "value"}]
                                                   :success  "pick-correct"
                                                   :fail     "pick-wrong"}]}

                 :pick-wrong              {:type "sequence-data"
                                           :data [{:type "action" :id "mari-wrong"}]}

                 :pick-correct            {:type "sequence-data"
                                           :data [{:type "parallel"
                                                   :data [{:type "action" :id "mari-correct"}
                                                          {:type "transition" :transition-id "group1" :to {:x -700 :duration 4}}
                                                          {:type "transition" :transition-id "group2" :to {:x -500 :duration 4}}
                                                          {:type "transition" :transition-id "group3" :to {:x -300 :duration 4}}
                                                          {:type "sequence-data"
                                                           :data [{:type     "empty"
                                                                   :from-var [{:var-name "jump-wait" :action-property "duration"}]}
                                                                  {:type "animation" :target "vera" :id "bike_jump"}
                                                                  {:type     "transition" :transition-id "vera"
                                                                   :from-var [{:var-name "current-line-jump" :action-property "to"}]}
                                                                  {:type "add-animation" :target "vera" :id "bike_ride" :loop true}
                                                                  {:type     "transition" :transition-id "vera"
                                                                   :from-var [{:var-name "current-line-pos" :action-property "to"}]}]}]}
                                                  {:type "action" :id "renew-current-concept"}
                                                  {:type "action" :id "current-concept-sound-x3"}]}

                 :mari-welcome-audio      {:type     "animation-sequence",
                                           :target   "mari",
                                           :track    1,
                                           :offset   0.240,
                                           :audio    "/raw/audio/l2/a9/L2_A9_Mari.m4a",
                                           :start    0.240,
                                           :duration 5.387,
                                           :data     [{:start 0.802, :end 5.314, :anim "talk"}]}

                 },
 :audio         {:background "/raw/audio/background/POL-daily-special-short.mp3"}
 :triggers      {:start {:on "start" :action "start"}
                 :stop  {:on "back" :action "stop-activity"}}
 :metadata      {:autostart true
                 :prev      "stadium"}}
