{:assets
                [{:url "/raw/img/onset-and-rime/background.jpg", :size 10 :type "image"}
                 {:url "/raw/img/onset-and-rime/cloud.png", :size 1, :type "image"}
                 ],
 :objects
                {:background       {:type "background", :src "/raw/img/onset-and-rime/background.jpg"},
                 :senora-vaca      {:type    "animation" :x 1100 :y 970 :name "senoravaca" :anim "idle" :speed 0.3 :skin "vaca"
                                    :scale-x 0.75 :scale-y 0.75 :start true
                                    }
                 :cloud-left-img   {:type   "image"
                                    :src    "/raw/img/onset-and-rime/cloud.png"
                                    :x      0
                                    :states {:highlighted {:highlight true} :not-highlighted {:highlight false}},
                                    :y      0}
                 :cloud-left-text  {:type           "text"
                                    :text           "c"
                                    :x              250
                                    :y              180
                                    :align          "center"
                                    :vertical-align "bottom"
                                    :font-family    "Lexend Deca"
                                    :font-size      110
                                    :fill           "black"}
                 :cloud-left       {:type       "group"
                                    :x          100
                                    :y          100
                                    :transition "cloud-left"
                                    :children   ["cloud-left-img" "cloud-left-text"]
                                    :actions    {:click {:type   "action"
                                                         :id     "cloud-left-clicked"
                                                         :on     "click"
                                                         :params {:target "cloud-left"}
                                                         }}
                                    },

                 :cloud-right-img  {:type       "image"
                                    :src        "/raw/img/onset-and-rime/cloud.png"
                                    :transition "cloud-right-img"
                                    :states     {:highlighted {:highlight true} :not-highlighted {:highlight false}},
                                    :x          0
                                    :y          0}
                 :cloud-right-text {:type           "text"
                                    :text           "at"
                                    :x              250
                                    :y              180
                                    :align          "center"
                                    :vertical-align "bottom"
                                    :font-family    "Lexend Deca"
                                    :font-size      110
                                    :fill           "black"}
                 :cloud-right      {:type       "group"
                                    :x          1300
                                    :y          100
                                    :transition "cloud-right"
                                    :children   ["cloud-right-img" "cloud-right-text"]
                                    :actions    {:click {:type   "action"
                                                         :id     "cloud-right-clicked"
                                                         :on     "click"
                                                         :params {:target "cloud-right"}
                                                         }}
                                    }
                 }
 :scene-objects [["background"] ["senora-vaca"] ["cloud-left" "cloud-right"]],
 :actions       {
                 :sync-highlightion           {:type "sequence-data"
                                               :data [{:type     "state" :id "highlighted"
                                                       :from-var [{:template "%-img" :var-name "next-cloud" :action-property "target"}]}
                                                      {:type     "state" :id "not-highlighted"
                                                       :from-var [{:template "%-img" :var-name "prev-cloud" :action-property "target"}]}
                                                      ]}
                 :init-vars                   {:type "sequence-data"
                                               :data [{:type "set-variable" :var-name "cloud-left-x" :var-value 100}
                                                      {:type "set-variable" :var-name "cloud-right-x" :var-value 1300}
                                                      {:type "set-variable" :var-name "next-cloud" :var-value "cloud-left"}
                                                      {:type "set-variable" :var-name "prev-cloud" :var-value "cloud-right"}
                                                      ]}
                 :update-left                 {:type "sequence-data"
                                               :data [{:type     "calc" :var-name "cloud-left-x" :operation "plus" :value-1 140
                                                       :from-var [{:var-name "cloud-left-x" :action-property "value-2"}]}
                                                      {:type "set-variable" :var-name "next-cloud" :var-value "cloud-right"}
                                                      {:type "set-variable" :var-name "prev-cloud" :var-value "cloud-left"}
                                                      ]}
                 :update-right                {:type "sequence-data"
                                               :data [{:type     "calc" :var-name "cloud-right-x" :operation "plus" :value-1 -140
                                                       :from-var [{:var-name "cloud-right-x" :action-property "value-2"}]}
                                                      {:type "set-variable" :var-name "next-cloud" :var-value "cloud-left"}
                                                      {:type "set-variable" :var-name "prev-cloud" :var-value "cloud-right"}
                                                      ]}
                 :animate-clouds              {:type "sequence-data"
                                               :data [
                                                      {:type          "transition"
                                                       :transition-id "cloud-left"
                                                       :to            {:duration 1}
                                                       :from-var      [{:var-name "cloud-left-x" :action-property "to.x"}]
                                                       }
                                                      {:type          "transition"
                                                       :transition-id "cloud-right"
                                                       :to            {:duration 1}
                                                       :from-var      [{:var-name "cloud-right-x" :action-property "to.x"}]
                                                       }
                                                      {:type "action" :id "sync-highlightion"}
                                                      ]}
                 :cloud-left-clicked          {:type        "test-var-scalar",
                                               :success     "cloud-left-clicked-correct",
                                               :fail        "shake",
                                               :var-name    "next-cloud"
                                               :from-params [{:param-property "target", :action-property "value"}]}

                 :cloud-left-clicked-correct {:type "sequence-data"
                                               :data [{:type "action" :id "update-left"}
                                                      {:type "action" :id "animate-clouds"}]}
                 :shake-step                  {:type "sequence-data"
                                               :data [
                                                      {:type        "transition",
                                                       :from-var    [{:var-name        "cloud-right-x"
                                                                      :action-property "to.x"
                                                                      :offset          10}]
                                                       :to          {:loop true, :duration 0.1},
                                                       :from-params [{:param-property "target", :action-property "transition-id"}]
                                                       }
                                                      {:type "empty" :duration 500}
                                                      {:type        "stop-transition",
                                                       :from-params [{:param-property "target", :action-property "id"}]
                                                       }
                                                      {:type "empty" :duration 50}
                                                      ]}
                 :shake                       {:type "sequence-data"
                                               :data [
                                                      {:type "action" :id "shake-step"}
                                                      ]}
                 :cloud-right-clicked         {:type        "test-var-scalar",
                                               :success     "cloud-right-clicked-correct",
                                               :fail        "shake",
                                               :var-name    "next-cloud"
                                               :from-params [{:param-property "target", :action-property "value"}]}
                 :cloud-right-clicked-correct {:type "sequence-data"
                                               :data [{:type "action" :id "update-right"}
                                                      {:type "action" :id "animate-clouds"}]}
                 :init-scene                  {:type "sequence-data"
                                               :data [{:type "action" :id "init-vars"}
                                                      {:type "action" :id "sync-highlightion"}
                                                      ]}
                 }

 :triggers      {:start {:on "start" :action "init-scene"}}
 :metadata      {}
 }
