{:assets        [{:url "/raw/img/library/main/background.jpg", :size 10, :type "image"}
                 {:url "/raw/img/library/main/Books_Enabled.png", :size 1, :type "image"}
                 {:url "/raw/img/library/main/Easel_Enabled.png", :size 1, :type "image"}
                 {:url "/raw/img/library/main/Hat_Enabled.png", :size 1, :type "image"}
                 {:url "/raw/img/library/main/Tablet_Enabled.png", :size 1, :type "image"}

                 {:url "/raw/audio/l1/a6/lion/2Bienvenidos a nuestra biblioteca.mp3", :size 2, :type "audio" :alias "lion - 1"}
                 {:url "/raw/audio/l1/a6/lion/2Si te gustan los libros.mp3", :size 2, :type "audio" :alias "lion - 2"}
                 {:url "/raw/audio/l1/a6/L1_A6_Lion Intro.m4a", :size 2, :type "audio" :alias "librarian books intro"}
                 {:url "/raw/audio/l1/a6/L1_A6_Vera.m4a", :size 2, :type "audio" :alias "vera books intro"}
                 ],

 :objects       {:background {:type "background", :src "/raw/img/library/main/background.jpg" :filter "brighten" :brightness -0.2},
                 :vera       {:type  "animation" :x 725 :y 1000 :name "vera" :anim "idle" :speed 0.3
                              :width 1800 :height 2558 :scale {:x 0.17 :y 0.17} :start true}

                 :librarian  {:type       "animation" :x 451 :y 883 :name "senoravaca" :anim "idle" :speed 0.3
                              :scene-name "librarian" :skin "lion"
                              :width      351 :height 717 :scale {:x 1 :y 1} :start true}

                 :books      {:type    "image" :x 1292 :y 681 :width 163 :height 106 :src "/raw/img/library/main/Books_Enabled.png"
                              :filter "brighten" :transition "book"
                              :actions {:click {:type "action", :id "start-book-scene", :on "click"}}}

                 :easel      {:type "image" :x 791 :y 319 :width 287 :height 430 :src "/raw/img/library/main/Easel_Enabled.png"
                              :filter "brighten" :transition "writing-lesson"
                              :actions {:click {:type "scene", :scene-id "writing-lesson", :on "click"}}}
                 :hat        {:type "image" :x 1635 :y 535 :width 227 :height 228 :src "/raw/img/library/main/Hat_Enabled.png"
                              :filter "brighten" :transition "magic-hat"
                              :actions {:click {:type "scene", :scene-id "magic-hat", :on "click"}}}
                 :tablet     {:type    "image" :x 926 :y 657 :width 224 :height 155 :src "/raw/img/library/main/Tablet_Enabled.png"
                              :filter "brighten" :transition "painting-tablet"
                              :actions {:click {:type "location", :location-id "painting-tablet", :on "click"}}}
                 },

 :scene-objects [["background" "books" "easel" "hat" "tablet"] ["librarian" "vera"]],
 :actions       {:start-book-scene
                                         {:type "sequence-data",
                                          :data
                                                [{:type "animation-sequence",
                                                  :target "librarian",
                                                  :track 1,
                                                  :offset 0.28,
                                                  :audio
                                                  "/raw/audio/l1/a6/lion/2Bienvenidos a nuestra biblioteca.mp3",
                                                  :start 0.28,
                                                  :duration 5.234,
                                                  :data
                                                  [{:start 0.41, :end 2.73, :anim "talk"}
                                                   {:start 3.89, :end 5.32, :anim "talk"}]}
                                                 {:type "animation-sequence",
                                                  :target "vera",
                                                  :track 1,
                                                  :offset 0.465,
                                                  :audio "/raw/audio/l1/a6/L1_A6_Vera.m4a",
                                                  :start 0.465,
                                                  :duration 4.184,
                                                  :data
                                                  [{:start 0.504, :end 2.073, :duration 1.569, :anim "talk"}
                                                   {:start 2.611, :end 4.562, :duration 1.951, :anim "talk"}]}
                                                 {:type "animation-sequence",
                                                  :target "librarian",
                                                  :track 1,
                                                  :offset 0.315,
                                                  :audio "/raw/audio/l1/a6/lion/2Si te gustan los libros.mp3",
                                                  :start 0.315,
                                                  :duration 5.737,
                                                  :data
                                                  [{:start 0.56, :end 1.02, :anim "talk"}
                                                   {:start 1.03, :end 1.92, :anim "talk"}
                                                   {:start 2.48, :end 3.78, :anim "talk"}
                                                   {:start 4.23, :end 5.81, :anim "talk"}]}
                                                 {:type "scene", :scene-id "book"}]}

                 :start-background-music {:type "audio" :id "background" :loop true}},
 :audio         {:background "/raw/audio/background/POL-daily-special-short.mp3"}
 :triggers      {:music {:on "start" :action "start-background-music"}}
 :metadata      {:autostart true
                 :prev      "map"}}
