{:assets        [{:url "/raw/audio/background/Parque.mp3", :size 10, :type "audio"}
                 {:url "/raw/img/park/main/background.jpg", :size 10, :type "image"}
                 {:url "/raw/img/park/main/HideAndSeek_Enabled.png", :size 1, :type "image"}
                 {:url "/raw/img/park/main/Pinata_Enabled.png", :size 1, :type "image"}
                 {:url "/raw/img/park/main/Sandbox_Enabled.png", :size 1, :type "image"}
                 {:url "/raw/img/park/main/SeeSaw_Enabled.png", :size 1, :type "image"}
                 {:url "/raw/img/park/main/Slide_Enabled.png", :size 1, :type "image"}
                 {:url "/raw/img/park/main/Swing_Enabled.png", :size 1, :type "image"}],

 :objects       {:background {:type "background", :brightness -0.2, :filter "brighten", :src "/raw/img/park/main/background.jpg"},
                 :hide-n-seek
                             {:type       "image",
                              :x          908,
                              :y          422,
                              :width      207,
                              :height     288,
                              :transition "hide-n-seek",
                              :actions    {:click {:on "click", :type "scene", :scene-id "hide-n-seek"}},
                              :filter     "brighten",
                              :highlight  true,
                              :src        "/raw/img/park/main/HideAndSeek_Enabled.png"},
                 :pinata
                             {:type       "image",
                              :x          562,
                              :y          0,
                              :width      338,
                              :height     477,
                              :transition "pinata",
                              :actions    {:click {:on "click", :type "scene", :scene-id "pinata"}},
                              :filter     "brighten",
                              :highlight  true,
                              :src        "/raw/img/park/main/Pinata_Enabled.png"},
                 :sandbox
                             {:type       "image",
                              :x          782,
                              :y          772,
                              :width      499,
                              :height     214,
                              :transition "sandbox",
                              :actions    {:click {:on "click", :type "location", :location-id "sandbox"}},
                              :filter     "brighten",
                              :highlight  true,
                              :src        "/raw/img/park/main/Sandbox_Enabled.png"},
                 :see-saw
                             {:type       "image",
                              :x          124,
                              :y          811,
                              :width      605,
                              :height     188,
                              :transition "see-saw",
                              :actions    {:click {:on "click", :type "scene", :scene-id "see-saw"}},
                              :filter     "brighten",
                              :highlight  true,
                              :src        "/raw/img/park/main/SeeSaw_Enabled.png"},
                 :slide
                             {:type       "image",
                              :x          36,
                              :y          252,
                              :width      661,
                              :height     551,
                              :transition "slide",
                              :actions    {:click {:on "click", :type "scene", :scene-id "slide"}},
                              :filter     "brighten",
                              :highlight  true,
                              :src        "/raw/img/park/main/Slide_Enabled.png"},
                 :swings
                             {:type       "image",
                              :x          1571,
                              :y          214,
                              :width      191,
                              :height     471,
                              :transition "swings",
                              :actions    {:click {:on "click", :type "scene", :scene-id "swings"}},
                              :filter     "brighten",
                              :highlight  true,
                              :src        "/raw/img/park/main/Swing_Enabled.png"},
                 :vera
                             {:type   "animation",
                              :x      1382,
                              :y      886,
                              :width  1800,
                              :height 2558,
                              :scale  {:x 0.17, :y 0.17},
                              :anim   "idle",
                              :name   "vera",
                              :speed  0.3,
                              :start  true}},

 :scene-objects [["background" "see-saw" "swings" "sandbox" "slide" "pinata" "hide-n-seek"] ["vera"]],
 :actions       {:start-background-music {:type "audio" :id "/raw/audio/background/Parque.mp3" :loop true}},
 :triggers      {:music {:on "start" :action "start-background-music"}}
 :metadata      {:autostart true
                 :prev      "map"}}
