{:assets        [{:url "/raw/img/library/painting-tablet/background.jpg" :type "image"}
                 {:url "/raw/img/ui/back_button_01.png" :type "image"}
                 {:url "/raw/audio/l2/a7/L2_A7_Mari.m4a" :type "audio" :alias "mari voice"}
                 {:url "/raw/img/elements/squirrel.png" :type "image"}]
 :objects       {:background            {:type       "background"
                                         :scene-name "background"
                                         :src        "/raw/img/library/painting-tablet/background.jpg"}
                 :mari                  {:type       "animation"
                                         :scene-name "mari"
                                         :name       "mari"
                                         :transition "mari"
                                         :anim       "idle"
                                         :start      true
                                         :speed      0.35
                                         :x          1700
                                         :y          520
                                         :width      473
                                         :height     511
                                         :scale-x    0.5
                                         :scale-y    0.5}
                 :next-button           {:type     "image"
                                         :src      "/raw/img/ui/back_button_01.png"
                                         :x        1875
                                         :y        915
                                         :width    97
                                         :height   99
                                         :scale-x  -1
                                         :scale-y  1
                                         :rotation 0
                                         :actions  {:click {:type "action"
                                                            :id   "go-next"
                                                            :on   "click"}}}
                 :copybook              {:scene-name     "copybook"
                                         :type           "copybook"
                                         :line-height    180
                                         :padding-height 90
                                         :x              60
                                         :y              0
                                         :width          1800
                                         :height         1050
                                         :scale-x        1
                                         :scale-y        1
                                         :rotation       0
                                         }
                 :practice-canvas       {:type       "painting-area"
                                         :scene-name "practice-canvas"
                                         :var-name   "writing-practice-stage-1-pt-1"
                                         :x          0
                                         :y          0
                                         :width      1920
                                         :height     1080
                                         :scale-x    1
                                         :scale-y    1
                                         :rotation   0
                                         :tool       "brush"
                                         :color      "#323232"
                                         :states     {:hidden  {:type "transparent"}
                                                      :visible {:type "painting-area"}}}

                 :letter-trace          {:type         "svg-path"
                                         :scene-name   "letter-trace"
                                         :data         ""
                                         :x            600
                                         :y            115
                                         :stroke       "#898989"
                                         :stroke-width 4
                                         :dash         [7 7]
                                         :line-cap     "round"
                                         :scale-x      3.2
                                         :scale-y      3.2
                                         :rotation     0
                                         :states       {:hidden  {:type "transparent"}
                                                        :visible {:type "svg-path"}}}

                 :letter-trace-matrix   {:type   "matrix"
                                         :el     "letter-trace"
                                         :x      -70
                                         :y      330
                                         :width  2025
                                         :height 675
                                         :dx     675
                                         :dy     360
                                         :max    3}

                 :letter-tutorial-trace {:type         "svg-path"
                                         :scene-name   "letter-tutorial-trace"
                                         :data         ""
                                         :x            500
                                         :y            25
                                         :stroke       "#898989"
                                         :stroke-width 4
                                         :dash         [7 7]
                                         :line-cap     "round"
                                         :width 225
                                         :height 225
                                         :scale-x      1.8
                                         :scale-y      1.8
                                         :rotation     0
                                         :states       {:hidden  {:type "transparent"}
                                                        :visible {:type "svg-path"}}}

                 :letter-tutorial-path  {:type         "transparent"
                                         :scene-name   "letter-path"
                                         :duration     5000
                                         :animation    "stop"
                                         :path         ""
                                         :stroke       "#323232"
                                         :stroke-width 10
                                         :line-cap     "round"
                                         :fill         "transparent"
                                         :x            500
                                         :y            25
                                         :width 225
                                         :height 225
                                         :scale-x      1.8
                                         :scale-y      1.8
                                         :states       {:hidden  {:type "transparent"}
                                                        :visible {:type "animated-svg-path"}}}

                 :letter-tutorial-image {:type     "image"
                                         :x        965
                                         :y        75
                                         :width    651
                                         :height   651
                                         :scale-x  0.45
                                         :scale-y  0.45
                                         :rotation 0}

                 :concept-card          {:type     "group"
                                         :x        60
                                         :y        30
                                         :width    400
                                         :height   300
                                         :children ["concept-image" "concept-word"]}
                 :concept-image         {:type     "image"
                                         :x        100
                                         :y        0
                                         :width    100
                                         :height   100
                                         :scale-x  2
                                         :scale-y  2
                                         :rotation 0}
                 :concept-word          {:type           "text"
                                         :text           ""
                                         :x              0
                                         :y              190
                                         :width          400
                                         :height         100
                                         :scale-x        1
                                         :scale-y        1
                                         :align          "center"
                                         :vertical-align "middle"
                                         :font-family    "Lexend Deca"
                                         :font-size      80
                                         :fill           "black"}}
 :scene-objects [["background" "concept-card"]
                 ["letter-trace-matrix" "letter-tutorial-trace" "letter-tutorial-path" "letter-tutorial-image"]
                 ["practice-canvas" "next-button" "mari"]]
 :actions       {:start                       {:type "sequence"
                                               :data ["start-activity"
                                                      "renew-concept"
                                                      "init-state"
                                                      "init-vars"
                                                      "init-stage-1"
                                                      "mari-voice-intro"
                                                      "mari-init-wand"
                                                      "mari-shows-example"
                                                      "mari-voice-go-next-practice"]}

                 :mari-init-wand {:type "add-animation" :target "mari" :id "wand_idle" :track 2 :loop true}

                 :renew-concept            {:type        "lesson-var-provider"
                                            :from        "concepts-single"
                                            :provider-id "concepts"
                                            :variables   ["current-concept"]}

                 :start-activity              {:type "start-activity" :id "writing-practice"}
                 :stop-activity               {:type "stop-activity" :id "writing-practice"}
                 :finish-activity             {:type "sequence-data"
                                               :dat [{:type "finish-activity" :id "writing-practice"}
                                                     {:type "scene" :scene-id "library"}]}

                 :init-state {:type "parallel"
                              :data [{:type "set-attribute" :target "concept-image" :attr-name "src"
                                      :from-var [{:var-name        "current-concept"
                                                  :var-property    "image-src"
                                                  :action-property "attr-value"}]}
                                     {:type "set-attribute" :target "concept-word" :attr-name "text"
                                      :from-var [{:var-name        "current-concept"
                                                  :var-property    "concept-name"
                                                  :action-property "attr-value"}]}
                                     {:type "set-attribute" :target "letter-tutorial-image" :attr-name "src"
                                      :from-var [{:var-name        "current-concept"
                                                  :var-property    "letter-src"
                                                  :action-property "attr-value"}]}]}

                 :init-vars                   {:type "parallel"
                                               :data [{:type "set-variable" :var-name "current-stage" :var-value 1}
                                                      {:type "set-variable" :var-name "current-page" :var-value 1}
                                                      {:type "calc" :var-name "pages-number" :operation "div-ceil" :value-1 30 :value-2 13}
                                                      {:type "set-variable" :var-name "letter-path"
                                                       :from-var [{:var-name        "current-concept"
                                                                   :var-property    "letter-path"
                                                                   :action-property "var-value"}]}
                                                      {:type "set-variable" :var-name "letter-tutorial-path"
                                                       :from-var [{:var-name        "current-concept"
                                                                   :var-property    "letter-tutorial-path"
                                                                   :action-property "var-value"}]}]}

                 :init-stage-1                {:type "parallel"
                                               :data [{:type     "set-attribute" :target "letter-trace" :attr-name "data"
                                                       :from-var [{:var-name "letter-path" :action-property "attr-value"}]}
                                                      {:type     "set-attribute" :target "letter-tutorial-trace" :attr-name "data"
                                                       :from-var [{:var-name "letter-path" :action-property "attr-value"}]}
                                                      {:type     "set-attribute" :target "letter-tutorial-path" :attr-name "path"
                                                       :from-var [{:var-name "letter-path" :action-property "attr-value"}]}]}

                 :hide-stage-1                {:type "parallel"
                                               :data [{:type "state" :target "letter-trace" :id "hidden"}
                                                      {:type "state" :target "letter-tutorial-path" :id "hidden"}]}

                 :init-stage-2                {:type "parallel"
                                               :data [{:type     "set-attribute" :target "letter-tutorial-1" :attr-name "data"
                                                       :from-var [{:var-name "letter-tutorial-path" :action-property "attr-value"}]}
                                                      {:type     "set-attribute" :target "letter-tutorial-2" :attr-name "data"
                                                       :from-var [{:var-name "letter-tutorial-path" :action-property "attr-value"}]}
                                                      {:type     "set-attribute" :target "letter-tutorial-3" :attr-name "data"
                                                       :from-var [{:var-name "letter-tutorial-path" :action-property "attr-value"}]}
                                                      {:type "state" :target "letter-tutorial-group" :id "visible"}]}

                 :go-next                     {:type "action" :id "check-page"}

                 :check-page                  {:type     "test-var-scalar"
                                               :var-name "current-page"
                                               :from-var [{:action-property "value" :var-name "pages-number"}]
                                               :success  "check-stage"
                                               :fail     "go-next-page"}

                 :check-stage                 {:type     "test-var-scalar"
                                               :var-name "current-stage"
                                               :value    2
                                               :success  "finish-activity"
                                               :fail     "go-next-stage"}

                 :go-next-page                {:type "sequence-data"
                                               :data [{:type "counter" :counter-action "increase" :counter-id "current-page"}
                                                      {:type "action" :id "update-painting-var"}]}

                 :go-next-stage               {:type "sequence-data"
                                               :data [{:type "counter" :counter-action "increase" :counter-id "current-stage"}
                                                      {:type "counter" :counter-action "reset" :counter-value 0 :counter-id "current-page"}
                                                      {:type "action" :id "go-next-page"}
                                                      {:type "action" :id "hide-stage-1"}
                                                      {:type "action" :id "init-stage-2"}
                                                      {:type "action" :id "mari-voice-intro-2"}]}

                 :update-painting-var         {:type     "test-var-scalar"
                                               :var-name "current-stage"
                                               :value    1
                                               :success  {:type     "set-attribute" :target "practice-canvas" :attr-name "var-name"
                                                          :from-var [{:action-property "attr-value" :var-name "current-page"
                                                                      :template        "writing-practice-stage-1-pt-%"}]}
                                               :fail     {:type     "set-attribute" :target "practice-canvas" :attr-name "var-name"
                                                          :from-var [{:action-property "attr-value" :var-name "current-page"
                                                                      :template        "writing-practice-stage-2-pt-%"}]}}

                 :mari-shows-example          {:type "sequence-data"
                                               :data [{:type          "transition"
                                                       :transition-id "mari"
                                                       :to            {:x 980 :y 360 :loop false :duration 1.5}}
                                                      {:type "state" :target "letter-tutorial-path" :id "visible"}
                                                      {:type "parallel"
                                                       :data [{:type "path-animation" :state "play" :target "letter-tutorial-path"}
                                                              {:type          "transition"
                                                               :transition-id "mari"
                                                               :to            {:path     ""
                                                                               :origin   {:x 680 :y 60}
                                                                               :scale    {:x 1.7 :y 1.7}
                                                                               :duration 5}
                                                               :from-var      [{:var-name "letter-path" :action-property "to.path"}]}]}
                                                      {:type "set-attribute" :target "mari" :attr-name "scale-x" :attr-value -0.5}
                                                      {:type          "transition"
                                                       :transition-id "mari"
                                                       :to            {:x 1490 :y 180 :loop false :duration 2}}]}

                 :mari-go-wait                {:type          "transition"
                                               :transition-id "mari"
                                               :to            {:x 1490 :y 130 :loop false :duration 2}}

                 :mari-voice-intro            {:type        "parallel"
                                               :description "Escoge un lapiz o un color y sigue las flechas para rastrear la letra.
                                                    Recuerda seguir el modelo correcto de rastrear. Yo te ensenare como hacer el primero. "
                                               :data        [{:type "audio" :id "/raw/audio/l2/a7/L2_A7_Mari.m4a" :start 32.357 :duration 17.005 :volume 0.2}
                                                             {:type "animation-sequence" :target "mari" :track 1 :offset 32.357
                                                              :data [{:start 33.026 :end 36.254 :anim "talk"}
                                                                     {:start 36.707 :end 40.367 :anim "talk"}
                                                                     {:start 41.627 :end 45.485 :anim "talk"}
                                                                     {:start 46.193 :end 49.047 :anim "talk"}]}]}

                 :mari-voice-try-again        {:type        "parallel"
                                               :description "Toca aqui para seguir rastreando"
                                               :data        [{:type "audio" :id "/raw/audio/l2/a7/L2_A7_Mari.m4a" :start 52.432 :duration 3.228 :volume 0.2}
                                                             {:type "animation-sequence" :target "mari" :track 1 :offset 52.432
                                                              :data [{:start 52.629 :end 55.562 :anim "talk"}]}]}

                 :mari-voice-good-job         {:type        "parallel"
                                               :description "Buen trabajo rastreando la letra"
                                               :data        [{:type "audio" :id "/raw/audio/l2/a7/L2_A7_Mari.m4a" :start 58.908 :duration 2.637 :volume 0.2}
                                                             {:type "animation-sequence" :target "mari" :track 1 :offset 58.908
                                                              :data [{:start 59.223 :end 62.529 :anim "talk"}]}]}

                 :mari-voice-go-next-practice {:type        "parallel"
                                               :description "Haz click en la flecha para seguir con tu trabajo."
                                               :data        [{:type "audio" :id "/raw/audio/l2/a7/L2_A7_Mari.m4a" :start 62.923 :duration 4.054 :volume 0.2}
                                                             {:type "animation-sequence" :target "mari" :track 1 :offset 62.923
                                                              :data [{:start 63.080 :end 66.859 :anim "talk"}]}]}

                 :mari-voice-intro-2          {:type        "parallel"
                                               :description "En esta pagina, podras practicar a dibujar las letras O podras dibujar lo que gustes.
                                                            Cuando termines, haz click sobre la flecha para ir a tu proxima actividad."
                                               :data        [{:type "audio" :id "/raw/audio/l2/a7/L2_A7_Mari.m4a" :start 70.402 :duration 16.848 :volume 0.2}
                                                             {:type "animation-sequence" :target "mari" :track 1 :offset 70.402
                                                              :data [{:start 70.677 :end 75.952 :anim "talk"}
                                                                     {:start 76.680 :end 79.298 :anim "talk"}
                                                                     {:start 80.046 :end 81.483 :anim "talk"}
                                                                     {:start 82.073 :end 86.915 :anim "talk"}]}]}

                 }
 :triggers      {:start {:on "start" :action "start"}
                 :stop  {:on "back" :action "stop-activity"}}
 :metadata      {:autostart true
                 :prev      "library"}}