.headers-wrapper {
    position: relative;
    top: 30%;
    margin: 0 auto;
    text-align: center;

    .sub-header {
        margin: 12px;
    }

    .primary-button {
        margin: 12px;
    }
}