@import "./styles-lookup-image";

.template-form {
    .option-block {
        margin-bottom: 40px;
    }
}

.image-option {
    width: 416px;
}

.field-label {
    display: inline-block;
    margin-bottom: 8px;

    font-weight: 500;
}
