.widget--side-bar-page--main-content {
    @include bbs--page--panel;

    &.widget--side-bar-page--main-content--transparent {
        @include bbs--scrollable;
        background-color: transparent;

        .widget--side-bar-page--main-content--content {
            padding: 0;
            overflow: initial;
        }
    }
}
