.top-bar--navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: 32px;

    font-size: 12px;
    font-weight: 700;

    .root-item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 16px;
        padding: 18px 22px;

        @include icon-color($color-text-light);

        & > .icon {
            padding: 0;
            @include icon-size(18px);
        }

        & > .text {}

        .children-list {
            @include navigation-items-list;
        }

        .children-item {
            @include navigation-item;
        }

        &:hover {
            cursor: pointer;
            background-color: #{$color-secondary + "38"};

            & > .children-list {
                display: block;
            }
        }

        &.active-item {
            @include active-item;
        }
    }
}
