.navigation-menu {
    .logo-div {
        margin: 20px 0 40px 0;
    }

    .avatar-div {
        position: absolute;
        bottom: 0;
        margin: 0px 0px 56px 20px;
    }

    .menu {
        border-radius: 8px;
        margin: 0;
        padding: 0 0 0 32px;
        width: 100%;
        min-width: 200px;

        .menu-item {
            list-style: none;
            display: flex;
            // border-left: solid 1px #cecece;

            &:last-child {
                margin-bottom: 0;
            }

            .usericn {
                position: relative;
                top: 10px;
            }

            .title {
                
            
                button {
                    border: none !important;
                    border-radius: 4px;
                    font-size: 14px !important;
                    justify-content: flex-start;
                    height: 40px;
                    width: 100%;
                    margin-bottom: 16px;
                    color:#9e9fa0;
                }
            
            .clear {
                clear: both;
            }    
        }

            &.active {
                button {
                    background: #EAEAEA;
                }
            }
        }
    }

    & > .menu {
        padding: 0;

        & > .menu-item {
            border: none;
        }
    }
}
