@import "../user_widget/styles";

$left-menu-width: 296px;

.left-menu { 
   background: #353535;
   box-sizing: border-box;
   height: 100%;

   .logo-icon {
      margin: 40px 0px 66px 40px;
   }

   .nav-link-section {
      margin: 0px 0px 0px 40px;

      .nav-item-section {
         list-style-type: none;
         padding: 0px;
         margin: 0px;
         
         li {
            margin-bottom: 18.9px;

            a {
               display: block;

               .menu-icon {
                  display: inline-block;
                  width: 22px;
                  height: 24px;

                  .menu-icon-style {
                     padding: 0;
                  }
               }
      
               .menu-label {
                  display: inline-block;
                  font-size: 14px;
                  font-weight: 400;
                  font-style: normal;
                  color: #FFFFFF;
                  line-height: 16px;
                  vertical-align: super;
                  margin-left: 16px;
               }
            }
         }
      }

      .nav-item-section li:hover {
          color: #ffffff;
          background: #4a4a4a;
          border-radius: 20px;
      }
   }   

   .menu-title {
      font-size: 12px;
      font-weight: 400;
      font-style: normal;
      color: #9E9E9E;
      line-height: 16px;
   }

   .sub-menu-title {
      margin-top: 24px;
      margin-bottom: 19px;
   }

   .logout-section {
      margin-top: 52px;
   }
}
