@mixin input-border {
    border: none;
    border-bottom: 1px solid #F7F7FB;
    border-radius: 0;
}

@mixin input-color {
    color: $color-text;

    &:disabled {
        color: $color-text;
    }
}

@mixin input-font {
    font-size: 14px;
    font-weight: 400;
}

@mixin icon-color($color) {
    svg {
        fill: $color;
        stroke: none;

        &.stroke-colored {
            fill: none;
            stroke: $color;
        }
    }
}

@mixin icon-size($size) {
    svg {
        width: $size;
        height: $size;
    }
}

@mixin icon-thickness($thickness) {
    svg {
        stroke-width: $thickness;
    }
}
