.help-form {
    display: flex;
    flex-direction: column;
    gap: 40px;

    & > * {
        font-family: 'Roboto';
        margin: 0;
    }

    h3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        text-transform: uppercase;
    }

    .qa {
        dt, dd {
            margin: 0;

            font-weight: normal;
            font-size: 24px;
            line-height: 32px;
        }

        dt {
            font-weight: 500;
        }
    }

    .paragraph {
        color: #353535;

        & > h3 {
            font-weight: 800;
            font-size: 24px;
            line-height: 28px;
            text-transform: uppercase;
        }

        & > p {
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
        }
    }

    .link {
        display: block;

        font-weight: 500;
        font-size: 24px;
        line-height: 28px;

        text-decoration-line: underline;
        text-transform: uppercase;

        color: #29A1B9;
    }
}
