.help-form {
    @mixin font-settings {
        color: #353535;
        font-size: 24px;
        font-weight: normal;
        line-height: 32px;
    }

    display: flex;
    flex-direction: column;
    gap: 96px;

    .block {
        display: flex;
        flex-direction: column;
        gap: 40px;

        & > * {
            font-family: 'Roboto';
            margin: 0;
        }
    }

    h1 {
        @include font-settings;
        font-weight: 500;
        text-decoration: underline;
        text-transform: uppercase;
    }

    .qa {
        dt, dd {
            @include font-settings;
            margin: 0;
        }

        dt {
            font-weight: 500;
        }

        dd {
            display: flex;
            align-items: flex-start;
            gap: 8px;

            & > .dd-wrapper {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
        }
    }

    .paragraph {
        @include font-settings;
        margin: 0;
    }

    .link {
        @include font-settings;

        display: inline;



        text-decoration-line: underline;

        color: #29A1B9;
    }

    .list {
        & > h3 {
            @include font-settings;
            font-style: italic;
            margin: 0;
        }

        & > ul {
            margin: 0;

            & > li {

            }
        }
    }
}
