.page--books {
    .widget--single-page--content {
	.widget-profile--main-content {
	    .widget-profile--main-content--content {
		.widget--books-list {
		    .books-list {
			.books-list-item {
			    .preview {
				background: #F7F7FB;
				display: flex;
				align-items: center;
				justify-content: center;
				
				img {
				    width: 78px;
				    height: 89px;
				}
			    }
			}
		    }
		}
	    }
	}
    }
}
