.scene-objects-tree {
    border: solid 1px #ccc;
    border-radius: 4px;

    .scene-objects-tree-item {
        background-color: #fff;
        border-bottom: solid 1px #ccc;
        border-radius: 3px;
        padding: 2px 6px;
        font-size: 12px;

        &:last-child {
            border-bottom: none;
        }
    }
}
