.status-message {
    font-weight: 500;

    &.sync {
        color: #8D8D8D;
    }

    &.in-review {
        color: #8D8D8D;
    }

    &.declined {
        color: #D71D1D;
    }

    &.published {
        color: #0046AE;
    }
}
