$size: 40px;

.avatar {
    background: linear-gradient(225deg, #76009F 0%, #1EA0FF 100%);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    height: $size;
    line-height: $size;
    text-align: center;
    width: $size;
}
