.widget--side-bar-page--block {
    display: flex;
    flex-direction: column;
    gap: $bbs--page--margin;
    min-height: 0;

    &.widget--side-bar-page--block--focused {
        z-index: $bbs--z-index-overlay + 1;
    }

    .block--header {
        @include bbs--noto-16-b;
        @include bbs--icon-size(24px);

        display: flex;
        align-items: center;
        gap: $bbs--page--margin;
        min-height: 36px;

        .title-text {
            flex: 1 1;
        }
    }

    .block--content {
        @include bbs--with-scrollbar;
        @include bbs--with-scrollbar-margin;
        flex: 1 1;
        display: flex;
        flex-direction: column;
        overflow: auto;
        position: relative;
    }

    .block--footer {
        display: grid;
        column-gap: 16px;

        @each $columns in 1, 2, 3, 4 {
            &.block--footer--columns-#{$columns} {
                grid-template-columns: repeat($columns, 1fr);
            }
        }
    }
}