.add-character-form {
    .characters-form {
        $item-size: 100px;

        display: flex;
        gap: 24px;

        .form-list-item {
            .img-wrapper {
                width: $item-size;
                height: $item-size;
            }

            label {
                line-height: 12px;
                margin-top: 16px;
            }
        }
    }
}
