@import "../../styles/colors";

.wc-icon-button {
    background: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 50%;
    box-sizing: border-box;
    color: $default-color;
    cursor: pointer;
    outline: none;
    padding: 10px 12px;
    height: 36px;
    width: 36px;

    & > * {
        line-height: 20px;
        padding: 0;
    }

    &:hover {
        background: rgba(0, 0, 0, 0.1);
    }

    &:disabled {
        background: rgba(0, 0, 0, 0);
        cursor: default;

        path {
            fill: $default-color-disabled;
        }
    }

    &.primary {
        background: $primary-color;
        color: #fff;

        &:hover {
            background: $primary-color-dark;
        }
    }

    &.small {
        height: 36px;
        width: 36px;
    }

    &.arrow-left {
        padding-left: 13px;
    }

    &.arrow-right {
        padding-left: 15px;
    }

    &.close {
        padding-left: 13px;
    }
}
