.add-audio {
    .add-audio-form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        padding: 6px 0;

        .record-audio-component {
            min-width: auto;

            button {
                width: 36px;
                height: 36px;
                min-width: auto;

                svg {
                    height: 15px;
                    width: 15px;
                }
            }

            .info {
                margin-left: 14px;

                .name {
                    font-size: 14px;
                }

                .time {
                    font-size: 13px;
                    margin-top: 0px;
                }
            }
        }
    }
}
