{:assets  [{:url "/raw/audio/l1/mari-coaching.mp4", :size 2, :type "audio" :alias "statements"}]
 :actions {:init-audio-correct     {:type "sequence-data"
                                    :data [{:type "set-variable" :var-name "audio-correct1" :var-value "mari-audio-correct-1"}
                                           {:type "set-variable" :var-name "audio-correct2" :var-value "mari-audio-correct-2"}
                                           {:type "set-variable" :var-name "audio-correct3" :var-value "mari-audio-correct-3"}
                                           {:type "set-variable" :var-name "audio-correct4" :var-value "mari-audio-correct-4"}
                                           {:type "set-variable" :var-name "audio-correct5" :var-value "mari-audio-correct-5"}]}

           :init-audio-try-again   {:type "sequence-data"
                                    :data [{:type "set-variable" :var-name "audio-try-again1" :var-value "mari-audio-try-again-1"}
                                           {:type "set-variable" :var-name "audio-try-again2" :var-value "mari-audio-try-again-2"}]}

           :mari-correct           {:phrase             :correct-answer
                                    :phrase-description "Correct answer"
                                    :type               "sequence-data"
                                    :data               [{:type "action" :id "init-audio-correct"}
                                                         {:type      "vars-var-provider"
                                                          :variables ["current-audio-correct"]
                                                          :from      ["audio-correct1" "audio-correct2" "audio-correct3" "audio-correct4" "audio-correct5"]
                                                          :shuffled  true}
                                                         {:type "action" :from-var [{:var-name        "current-audio-correct" :action-property "id"
                                                                                     :possible-values [:mari-audio-correct-1
                                                                                                       :mari-audio-correct-2
                                                                                                       :mari-audio-correct-3
                                                                                                       :mari-audio-correct-4
                                                                                                       :mari-audio-correct-5]}]}]}

           :mari-wrong             {:phrase             :wrong-answer
                                    :phrase-description "Wrong answer"
                                    :type               "sequence-data"
                                    :data               [{:type "action" :id "init-audio-try-again"}
                                                         {:type      "vars-var-provider"
                                                          :variables ["current-audio-try-again"]
                                                          :from      ["audio-try-again1" "audio-try-again2"]
                                                          :shuffled  true}
                                                         {:type "action" :from-var [{:var-name        "current-audio-try-again" :action-property "id"
                                                                                     :possible-values [:mari-audio-try-again-1
                                                                                                       :mari-audio-try-again-2]}]}]}

           :mari-audio-correct-1   {:type        "animation-sequence",
                                    :target      "mari",
                                    :track       1,
                                    :offset      0.858,
                                    :audio       "/raw/audio/l1/a5/Mari_Coaching_statements.m4a",
                                    :start       0.858,
                                    :duration    1.837,
                                    :data        [{:start 1.052, :end 2.505, :duration 1.453, :anim "talk"}],
                                    :phrase-text "That’s correct!"}

           :mari-audio-correct-2   {:type        "animation-sequence",
                                    :target      "mari",
                                    :track       1,
                                    :offset      4.697,
                                    :audio       "/raw/audio/l1/a5/Mari_Coaching_statements.m4a",
                                    :start       4.697,
                                    :duration    1.358,
                                    :data        [{:start 4.867, :end 5.926, :duration 1.059, :anim "talk"}],
                                    :phrase-text "Good job!"}

           :mari-audio-correct-3   {:type        "animation-sequence",
                                    :target      "mari",
                                    :track       1,
                                    :offset      7.949,
                                    :audio       "/raw/audio/l1/a5/Mari_Coaching_statements.m4a",
                                    :start       7.949,
                                    :duration    1.345,
                                    :data        [{:start 8.066, :end 9.098, :duration 1.032, :anim "talk"}],
                                    :phrase-text "Well done!"}

           :mari-audio-correct-4   {:type        "animation-sequence",
                                    :target      "mari",
                                    :track       1,
                                    :offset      10.997,
                                    :audio       "/raw/audio/l1/a5/Mari_Coaching_statements.m4a",
                                    :start       10.997,
                                    :duration    1.147,
                                    :data        [{:start 11.119, :end 11.964, :duration 0.845, :anim "talk"}],
                                    :phrase-text "You got it!"}

           :mari-audio-correct-5   {:type        "animation-sequence",
                                    :target      "mari",
                                    :track       1,
                                    :offset      14.463,
                                    :audio       "/raw/audio/l1/a5/Mari_Coaching_statements.m4a",
                                    :start       14.463,
                                    :duration    2.333,
                                    :data        [{:start 14.611, :end 15.11, :duration 0.499, :anim "talk"}
                                                  {:start 15.529, :end 16.676, :duration 1.147, :anim "talk"}],
                                    :phrase-text "Wow, excelent!"}

           :mari-audio-try-again-1 {:type        "animation-sequence",
                                    :target      "mari",
                                    :track       1,
                                    :offset      18.915,
                                    :audio       "/raw/audio/l1/a5/Mari_Coaching_statements.m4a",
                                    :start       18.915,
                                    :duration    1.493,
                                    :data        [{:start 18.983, :end 20.242, :duration 1.259, :anim "talk"}],
                                    :phrase-text "Try again!"}

           :mari-audio-try-again-2 {:type        "animation-sequence",
                                    :target      "mari",
                                    :track       1,
                                    :offset      22.155,
                                    :audio       "/raw/audio/l1/a5/Mari_Coaching_statements.m4a",
                                    :start       22.155,
                                    :duration    3.025,
                                    :data        [{:start 23.743, :end 25.055, :duration 1.312, :anim "talk"}],
                                    :phrase-text "Hmmmm. Try again."}}}
