.wc-date-wrapper {
    position: relative;

    color: $default-color;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    .wc-date {
        cursor: text;
        border: 1px solid #C4C4C4;
        border-radius: 8px;
        width: 100%;

        outline: none;
        padding: 8px;

        &.wc-date-error {
            border-color: $error-color;
        }

        &::-webkit-calendar-picker-indicator {
            cursor: pointer;
        }
    }
}
