.widget--scene-layers {
    $padding: $menu-padding-v;

    margin-top: 30px;

    margin-left: -$menu-padding-h;
    margin-right: -$menu-padding-h;

    border-top: solid 1px bbs--color(grey-4);
    
    .scene-layer {
	height: 30px;
	display: flex;
	gap: 18px;

	justify-content: space-between;

	.scene-layer-name {
	    display: flex;
	    gap: 5px;
	    align-items: center;

	    font-weight: 400;
	    font-size: 14px;
	    line-height: 18px;
	}

	.scene-layer-actions {
	    width: 80px;
	    display: flex;

	    @include bbs--icon-size(18px);
	}
    }
}
