@import "../icon/mixins";

.bbs--card {
    $icon-wrapper-size: 88px;

    .bbs--card--content {
        display: grid;
        justify-items: center;
        grid-template-columns: $icon-wrapper-size auto;
        grid-template-rows: auto auto;
        grid-template-areas:
            "icon data"
            "actions actions";
        column-gap: 26px;
        row-gap: 26px;
        padding: 28px 24px;
        position: relative;

        &.bbs--card--content--no-actions {
            grid-template-rows: auto;
            grid-template-areas: "icon data";
        }

        & > * {
            z-index: 2;
        }

        svg.bbs--card--background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1;
            border-radius: 6px;
        }

        @each $color in $bbs--base-colors {
            &.bbs--card--content--background-#{$color} {
                svg.bbs--card--background {
                    fill: bbs--color(#{$color}, $variant: dark);
                }
            }
        }
    }

    &.bbs--card--vertical {
        border-radius: 16px;

        svg.bbs--card--background {
            border-radius: 16px;
        }

        .bbs--card--content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .bbs--card--icon {
        grid-area: icon;

        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        width: $icon-wrapper-size;
        height: $icon-wrapper-size;

        background-color: bbs--color(blue-2);
        border-radius: 9999px;

        .bbs--card--icon-data {
            @include bbs--icon-color(bbs--color(blue-1));
            @include bbs--icon-size(40px);
        }

        @each $color in $bbs--base-colors {
            &.bbs--card--icon--background-#{$color} {
                background-color: bbs--color(#{$color});
            }
        }

        &.bbs--card--icon--background-blue-1 {
            @include bbs--icon-color(bbs--color(white));
        }
    }

    .bbs--card--data {
        grid-area: data;

        align-self: center;
        justify-self: stretch;

        flex: 1 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        &.bbs--card--data--background-blue-1 {
            color: bbs--color(white);
        }

        .bbs--card--counter {
            @include bbs--noto-24-b;
        }

        .bbs--card--text {
            @include bbs--noto-16-b;
            text-align: center;
        }
    }

    &.bbs--card--background-transparent {
        .bbs--card--data {
            color: bbs--color(blue-1);
        }
    }

    .bbs--card--actions {
        grid-area: actions;

        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;
    }

    .bbs--card--action {
        white-space: nowrap;
    }

    .bbs--card--counter {
        &.bbs--card--counter--type-vertical {
            @include bbs--noto-18-b;
            background-color: bbs--color(grey-5);
            position: absolute;
            top: 0;
            right: -5px;
            padding: 1px 6px;
            border-radius: 9999px;
        }
    }
}
