#tabschool-parent {
    width: 100%;
    min-height: 100%;
    background-color: bbs--color(grey-5);

    h1 {
        @include bbs--ranille-36-r;
        color: bbs--color(blue-1);
        margin-bottom: 48px;
    }

    p {
        @include bbs--noto-16-r;
    }

    .bbs--loading-overlay {
        background-color: transparent;
    }

    @import "widgets/styles";
    @import "pages/styles";
}