.page-toolbar {
    align-items: center;
    background-color: $background-color-secondary;
    border-bottom: solid 1px #cbcbcb;
    height: 64px;
    padding: 12px 32px;
    display: flex;

    .left-side {
        align-items: center;
        display: flex;
        flex-grow: 0;
    }

    .right-side {
        flex-grow: 1;
        text-align: right;
    }
}
