@import "../../../../ui_framework/styles/colors";

.layout-block {
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
    padding: 64px;

    .options-wrapper {
        display: flex;

        .layout-option {
            align-items: center;
            display: flex;
            flex-direction: column;
            margin: 24px;

            .image-wrapper {
                background: #FFFFFF;
                border-radius: 32px;
                padding: 24px;
                position: relative;
            }

            .title {
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                margin-top: 32px;
                text-align: center;
            }

            &:hover {
                .image-wrapper {
                    box-shadow: 0px 12px 28px rgba(175, 175, 175, 0.25);
                }
            }

            &.selected {
                .image-wrapper {
                    background-color: $color-primary;

                    img {
                        filter: brightness(10);
                    }
                }
            }
        }
    }

    .error-message {
        float: right;

        * {
            position: relative !important;
            left: 0 !important;
            top: 0 !important;
            width: auto !important;
        }
    }
}
