.flipbook-template-form {
    @import "styles-layout";
    @import "styles-control-row";
    @import "styles-strings-list";

    min-width: 870px;

    h1 {
        font-family: Roboto;
        font-size: 22px;
        font-weight: bold;
        line-height: 26px;
        margin-bottom: 40px;
    }

    .content {
        align-items: center;
        display: flex;

        & > * {
            padding: 16px;

            &:first-child {
                max-width: 50%;
            }
        }
    }
}
