@import "styles-layout";

.flipbook-template-form {
    h1 {
        font-family: Roboto;
        font-size: 22px;
        font-weight: bold;
        line-height: 26px;
        margin-bottom: 40px;
    }

    .content {
        display: flex;

        .left-side {

        }

        .right-side {

        }
    }
}