.strings-list {
    .controls-container {
        align-items: center;
        display: flex;
        position: relative;
        white-space: nowrap;

        .input-container {
            display: inline-block;
            position: relative;

            .remove-button {
                position: absolute;
                right: 3px;
                top: -2px;
                min-width: 26px;
                min-height: 26px;
            }
        }

        .add-button {
            margin-left: 8px;
            justify-content: center;
            width: 100%;
        }
    }
}
