.widget--class-form {
    $gap: 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $gap;

    .controls {
        display: flex;
        flex-direction: column;
        gap: $gap;

	.group-archive {
	    width: 100%;
	    margin-top: auto;
	    
	    button {
		width: 100%;
	    }
	}
    }

    .data-loading-indicator {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 24px;
    }
}
