@import "../styles/colors";

@import "audio/styles";
@import "button/styles";
@import "card/styles";
@import "checkbox/styles";
@import "chip/styles";
@import "circular_progress/styles";
@import "confirm/styles";
@import "dialog/styles";
@import "file/styles";
@import "icon/styles";
@import "icon_button/styles";
@import "input/styles";
@import "label/styles";
@import "menu/styles";
@import "message/styles";
@import "range_input/styles";
@import "select/styles";
@import "select_image/styles";
@import "switcher/styles";
@import "text_area/styles";
@import "timeline/styles";
@import "tooltip/styles";

.wc-error {
    position: absolute;
    top: 2px;
    right: 8px;
    color: $error-color;
    font-size: 12px;
    font-weight: 500;

    &:before {
        content: "*";
        position: relative;
        left: -4px;
        top: 1px;
    }
}
