.widget--choose-character {
    position: relative;

    h2 {
        @include bbs--noto-16-b;
        padding: 20px 0;
    }

    .widget--choose-character--list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 16px;
        row-gap: 25px;
        width: 100%;
    }

    .widget--choose-character--list-item {
        padding: 0;
        border-radius: 6px;
        cursor: pointer;
        position: relative;

        .img-wrapper {
            padding: 0;

            overflow: hidden;
            border-radius: 8px;
            width: 58px;
            height: 58px;
        }

        .img-wrapper-active::after {
            content: " ";
            width:58px;
            height:58px;

            border: 3px solid #F5A36C;
            border-radius: 8px;

            position: absolute;
            top: 0px;
        }

        .character-label {
            @include bbs--noto-12-r;
            margin-top: 6px;
        }
    }
}
