.widget--activity-history-dialog {
    width: 720px;
    max-width: unset;
}

.widget--activity-history-form {
    @include bbs--noto-14-r;
    display: grid;
    grid-template-columns: 85px 45px 150px auto 140px;
    column-gap: 12px;
    row-gap: 12px;

    .history-item--action {
        justify-self: center;
        height: 30px;
    }
}

