@import "pages/styles";
@import "stage/styles";

.book-creator {
    @import "asset_form/styles";

    display: flex;

    .main-content {
        flex-grow: 0;
        padding: 0 36px;
        width: 100%;
    }

    .content-block {
        margin-top: 36px;

        &:first-child {
            margin-top: 0;
        }
    }

    .block-header {
        align-items: center;
        display: flex;
        margin-bottom: 21px;
        padding: 16px 0;

        .title {
            font-weight: bold;
            font-size: 22px;
            line-height: 26px;
        }

        .left-controls {
            flex: 1 1;
            margin-left: 16px;
            margin-top: 4px;

            .left-controls-content > * {
                margin-left: 8px;
            }
        }
    }
}
