.widget--page--header {
    $block-border-color: #ffffff1a;

    display: flex;
    align-items: center;
    gap: 28px;

    height: 90px;
    padding: 24px 30px;
    border-radius: 6px;

    color: bbs--color(white);

    background-color: bbs--color(blue-1);
    background-image: url("/images/admin/page/header_background.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;

    z-index: 1;

    .widget--page--header--avatar {
        width: 50px;
        height: 50px;
    }

    .widget--page--header--navigation-icon {
        @include bbs--icon-color(bbs--color(yellow-2));
        @include bbs--icon-size(36px);

        @each $color in $bbs--brand-colors {
            &.widget--page--header--navigation-icon--color-#{$color} {
                @include bbs--icon-color(bbs--color($color));
            }
        }
    }

    .widget--page--header--title {
        @include bbs--noto-16-b;
        margin-right: 32px;
    }

    .widget--page--header--stats {
        @include bbs--noto-14-b;
        @include bbs--icon-color(bbs--color(yellow-2));
        @include bbs--icon-size(32px);

        display: flex;
        align-items: center;
        gap: 10px;

        .widget--page--header--stats-item {
            display: flex;
            align-items: center;
            gap: 10px;

            padding: 8px 20px;
            border-left: 1px solid $block-border-color;
        }
    }

    .widget--page--header--filler {
        flex: 1 1;
    }

    .widget--page--header-info {
        $gap: 64px;

        display: flex;
        align-items: center;
        gap: $gap;

        .widget--page--header-info-block {
            display: flex;
            flex-direction: column;
            gap: 5px;
            position: relative;

            &:before {
                content: "";

                position: absolute;
                left: -$gap * 0.5;

                height: 100%;
                border-left: solid 1px $block-border-color;
            }

            &:first-child:before {
                display: none;
            }

            &.widget--page--header-info-block--with-icon {
                display: grid;
                grid-template-columns: auto auto;
                column-gap: 14px;

                .widget--page--header-info-block--icon {
                    grid-row-start: 1;
                    grid-row-end: 3;
                }
            }

            .widget--page--header-info-block--icon {
                @include bbs--icon-size(28px);
            }

            .widget--page--header-info-block--key {
                @include bbs--noto-14-b;
            }

            .widget--page--header-info-block--value {
                @include bbs--noto-14-r;
            }
        }
    }

    .widget--page--header-controls {
        @include bbs--select-border-color(bbs--color(white));
        @include bbs--select-text-color(bbs--color(white));

        flex: 1 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 32px;

        & > * {
            flex: 1 1;
        }

        .bbs--input-wrapper {
            gap: 0
        }

        label {
            @include bbs--noto-14-sb;
            color: bbs--color(white);
        }

        .bbs--select {
            max-width: 180px;
        }
    }

    .widget--page--header-actions {
        flex: 1 1;
        display: flex;
        justify-content: flex-end;
        gap: 20px;

        .widget--page--header-action {
            max-width: 260px;
            min-width: 260px;
        }
    }

    .widget--page--header--close-button {
        $size: 36px;
        width: $size;
        height: $size;
    }
}
