@import "../../styles/colors";

$padding-v: 13px;
$padding-h: 49px;

.wc-button {
    color: #fff;
    cursor: pointer;

    border-radius: 24px;

    font-family: 'Roboto';
    font-weight: 500;

    padding: $padding-v $padding-h;
    outline: none;

    &:disabled {
        cursor: not-allowed;

        &.contained {
            &.primary {
                background: rgba(0, 0, 0, 0.5);

                &:hover {
                    background: rgba(0, 0, 0, 0.5);
                }
            }
        }
    }

    //  Color

    &.color-default {
        background-color: rgba(29, 29, 31, 0.3);
        border-color: $default-color;
        color: $default-color;

        &:hover {
            background-color: rgba(29, 29, 31, 0.5);
        }
    }

    &.color-primary {
        background-color: $primary-color;
        border-color: $primary-color;
        color: #fff;

        &.variant-outlined {
            color: $primary-color;

            &:hover {
                background-color: rgba(0, 113, 227, 0.2);
            }
        }

        &:hover {
            background-color: $primary-color-dark;
        }
    }

    //  Size

    &.size-medium {
        font-size: 12px;
        line-height: 12px;
        padding: 8px 18px;
    }

    &.size-big {
        font-size: 18px;
        line-height: 18px;
        padding: ($padding-v - 1) ($padding-h - 1);
    }

    //  Variant

    &.variant-contained {
        border: none;
    }

    &.variant-rectangle {
        border: none;
        border-radius: 8px;
    }

    &.variant-outlined {
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid;

        &:hover {
            background: rgba(0, 0, 0, 0.1);
        }
    }
}
