@import "../../styles/colors";

$border-width: 2px;
$padding-v: 11px;
$padding-h: 47px;


@mixin color-disabled() {
    background-color: $color-disabled;
    border-color: $color-disabled;
}

@mixin color-primary-hover() {
    background-color: $color-primary-dark;
}

@mixin color-primary-active() {
    background-color: $color-primary-darkest;
}

.wc-button {
    color: #fff;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 24px;
    border-style: solid;

    font-family: 'Roboto';
    font-weight: 500;

    padding: $padding-v $padding-h;
    outline: none;

    .wc-icon {
        margin-right: 8px;
        padding: 0;
    }

    &:disabled {
        cursor: not-allowed;

        &.contained {
            &.primary {
                background: rgba(0, 0, 0, 0.5);

                &:hover {
                    background: rgba(0, 0, 0, 0.5);
                }
            }
        }
    }

    //  Color

    &.color-default {
        background-color: #ECECEC;
        border-color: $default-color;
        color: $default-color;

        &:hover {
            background-color: #DDDDDD;
        }

        &:active {
            background-color: #C9C9C9;
        }
    }

    &.color-primary {
        background-color: $color-primary;
        border-color: $color-primary;
        color: #fff;

        &.variant-outlined {
            color: $color-primary;

            &:hover {
                background-color: rgba(0, 113, 227, 0.2);
            }
        }

        &:hover {
            @include color-primary-hover();
        }

        &.hover {
            @include color-primary-hover();
        }

        &:active {
            @include color-primary-active();
        }

        &.active {
            @include color-primary-active();
        }

        &:disabled {
            @include color-disabled();
        }

        &.disabled {
            @include color-disabled();
        }
    }

    // Shape

    &.shape-rectangle {
        border: none;
        border-radius: 8px;
    }

    //  Size

    &.size-medium {
        font-size: 12px;
        line-height: 12px;
        padding: ($padding-v - 5) ($padding-h - 31);
    }

    &.size-big {
        font-size: 18px;
        line-height: 18px;
        padding: ($padding-v - 1) ($padding-h - 1);
    }

    //  Variant

    &.variant-outlined {
        background-color: rgba(0, 0, 0, 0);
        border: $border-width solid;

        &:hover {
            background: rgba(0, 0, 0, 0.1);
        }
    }
}
