.component--form {
    $gap: 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $gap;

    .controls {
        display: flex;
        flex-direction: column;
        gap: $gap;
        overflow: auto;
    }

    .data-loading-indicator {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 24px;
    }

    label {
        color: $color-secondary;
        font-weight: 400;
        font-size: 10px;
    }

    .submit {
        margin-top: 16px;

        progress {
            @include progress-size(12px, 2px);
        }
    }
}
