.component--form {
    $gap: 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1;
    gap: $gap;

    .controls {
        display: flex;
        flex: 1 1;
        flex-direction: column;
        gap: $gap;
        overflow: auto;
    }

    .data-loading-indicator {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 24px;
    }

    label {
        @include bbs--noto-14-sb;
        color: bbs--color(blue-1);
    }

    .form-actions {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-top: 32px;

        & > * {
            flex: 1 1 50%;
        }
    }
}
