.bbs--avatar {
    $size: 38px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: $size;
    height: $size;

    background-color: bbs--color(white);
    border: solid 1px bbs--color(grey-4);
    border-radius: 9999px;
    box-shadow: 0px 2px 2px bbs--color(blue-1, $variant: dark, $opacity: 0.3);

    .bbs--avatar--default-icon {
        width: 100%;
        height: 100%;
        padding: 0;
        @include bbs--icon-size(67%);
        @include bbs--icon-color(bbs--color(blue-1));
    }
}
