.bbs--avatar {
    $size: 38px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: $size;
    height: $size;

    border: solid 1px bbs--color(grey-4);
    border-radius: 9999px;
    box-shadow: 0px 2px 2px bbs--color(grey-4);

    .bbs--avatar--default-icon {
        padding: 0;
        @include bbs--icon-color(bbs--color(blue-1));
    }
}
