.widget--script {
    @import "block/styles";
    @import "dialog/styles";
    @import "dialog_item/styles";
    @import "target_selector/styles";
    @import "text_editor/styles";
    @import "track_selector/styles";

    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 1;

    h2 {
        @include bbs--noto-14-sb;
        color: bbs--color(blue-1);
    }

    .script--header {
        $color: bbs--color(grey-1);

        @include bbs--noto-18-b;
        @include bbs--icon-color($color);

        display: flex;
        align-items: center;
        gap: 5px;
        color: $color;

        margin-bottom: 10px;
    }

    .widget--script--content {
        display: flex;
        flex-direction: column;
        gap: 10px;

        @include bbs--scrollable;
        padding-right: 6px;
        margin-right: -10px;
    }
}
