@import "text_form/styles";

.asset-form {
    .asset-form-content {
        position: relative;
    }

    .buttons-block {
        margin-top: 64px;

        button {
            margin-right: 16px;
        }
    }
}
