.component--fold {
    display: flex;
    flex-direction: column;
    gap: 10px;

    border: solid 1px bbs--color(grey-3);
    border-radius: 6px;
    padding: 5px 10px;

    .fold--header {
        display: flex;
        align-items: center;
        gap: 10px;
        text-transform: capitalize;

        &:hover {
            cursor: pointer;

            .fold--icon {
                @include bbs--icon-color(bbs--color(blue-1));
            }
        }
    }

    .fold--icon {
        @include bbs--icon-color(bbs--color(grey-3));
    }

    .fold--content {
        @include bbs--scrollable($margin: 0);

        &.height-restricted {
            max-height: 160px;
        }
    }
}
