#page--icons {
    .icons-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        align-items: center;
        column-gap: 32px;
        row-gap: 32px;
        padding: 32px;
        border-radius: 16px;

        &.icons-list-colored {
            background-color: $color-blue-1;
        }
    }

    .icons-list-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon-wrapper {
            border: dashed 1px #a5a5a5;
        }

        .name {
            color: #a5a5a5;
            font-size: 12px;
            line-height: 24px;
        }
    }
}
