@import "../../styles/colors";

.wc-select {
    display: flex;
    position: relative;

    select {
        background-color: #fff;
        border: none;
        border-radius: 8px;

        cursor: pointer;

        display: flex;
        flex-grow: 1;
        flex-shrink: 1;

        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;

        line-height: 14px;
        outline: none;
        padding: 8px;

        min-width: 60px;

        -moz-appearance: none;
        -webkit-appearance: none;
    }

    &.with-arrow {
        .expand-icon {
            @include icon-color(#333);

            svg {
                position: absolute;
                right: 8px;
                top: 50%;
                margin-top: -8px;
            }
        }
    }

    &.variant-outlined {
        select {
            border: 1px solid #C4C4C4;
            border-radius: 8px;
        }
    }

    .controls {
        display: grid;
        margin-left: 8px;

        button {
            background-color: #0071E3;
            border: none;
            box-sizing: border-box;
            cursor: pointer;
            outline: none;
            width: 20px;
            height: 16px;

            svg {
                position: relative;
            }

            &:first-child {
                border-radius: 8px 8px 0 0;

                svg {
                    top: -1px;
                }
            }

            &:last-child {
                border-radius: 0 0 8px 8px;

                svg {
                    top: -3px;
                }
            }

            &:hover {
                background: $color-primary-dark;
            }
        }
    }

    &.wc-select-error {
        select {
            border-color: $error-color !important;
        }
    }
}
