@import "../../styles/colors";

.wc-select {
    display: flex;

    select {
        background-color: #fff;
        border: none;
        border-radius: 8px;

        cursor: pointer;

        display: flex;
        flex-grow: 1;
        flex-shrink: 1;

        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;

        line-height: 14px;
        outline: none;
        padding: 8px;

        -moz-appearance: none;
        -webkit-appearance: none;
    }

    .controls {
        display: grid;
        margin-left: 8px;

        button {
            background-color: #0071E3;
            border: none;
            cursor: pointer;
            width: 20px;
            height: 16px;

            svg {
                position: relative;
            }

            &:first-child {
                border-radius: 8px 8px 0 0;

                svg {
                    top: -2px;
                }
            }

            &:last-child {
                border-radius: 0 0 8px 8px;

                svg {
                    top: -3px;
                }
            }

            &:hover {
                background: $primary-color-dark;
            }
        }
    }
}
