@import "chunks_editor/styles";

.text-animation-editor {
    display: flex;
    flex-direction: column;

    & > * {
        margin-bottom: 32px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .text-chunks {
        display: flex;

        & > * {
            margin-right: 8px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
