.form-list {
    $list-item-size: 64px;

    display: grid;
    grid-template-columns: repeat(4, $list-item-size);
    column-gap: 16px;
    row-gap: 16px;

    .form-list-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        .img-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            width: $list-item-size;
            height: $list-item-size;

            border-radius: 8px;
            box-sizing: border-box;

            img {
                $image-size: 70%;

                width: $image-size;
                height: $image-size;
            }
        }

        label {
            font-size: 12px;
            font-weight: bold;
            line-height: 24px;
        }

        &.active {
            .img-wrapper {
                border: 2px solid #0071E3;
            }
        }
    }

    &.characters-form {
        .form-list-item {
            .img-wrapper {
                align-items: flex-end;

                img {
                    $image-size: 90%;

                    width: $image-size;
                    height: $image-size;
                }
            }
        }
    }
}
