.widget--counter {
    display: grid;
    column-gap: 20px;

    @each $columns in 1, 2, 3, 4 {
        &.widget--counter--columns-#{$columns} {
            grid-template-columns: repeat($columns, 1fr);
        }
    }
}
