@import "../../styles/colors";

@mixin icon-color($color) {
    svg {
        fill: $color;
        stroke: none;

        &.stroke-colored {
            fill: none;
            stroke: $color;
        }
    }
}

@mixin icon-size($size) {
    svg {
        width: $size;
        height: $size;
    }
}

@mixin icon-thickness($thickness) {
    svg {
        stroke-width: $thickness;
    }
}

.wc-icon {
    display: flex;
    justify-content: center;
    padding: 8px;

    svg {
        fill: $default-color;
    }

    &.icon-school {
        svg {
            position: relative;
            top: -2px;
        }
    }

    &.icon-undo {
        svg {
            fill: none;
            stroke: $default-color;
        }
    }

    &.rotating {
        -webkit-animation: spin 4s linear infinite;
        -moz-animation: spin 4s linear infinite;
        animation: spin 4s linear infinite;

        @-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
        @-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
        @keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }
    }
}
