@import "../../styles/colors";

.wc-icon {
    display: flex;
    padding: 8px;

    svg {
        fill: $default-color;
    }

    &.icon-undo {
        svg {
            fill: none;
            stroke: $default-color;
        }
    }

    &.rotating {
        -webkit-animation: spin 4s linear infinite;
        -moz-animation: spin 4s linear infinite;
        animation: spin 4s linear infinite;

        @-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
        @-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
        @keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }
    }
}
