.text-form {
    .font-controls {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;

        & > * {
            align-items: center;
            display: flex;
            flex: 1 1;
        }

        .font-family-selector {
            flex: 1 1;
        }

        .font-size-selector {
            width: 96px;
        }
    }

    .text-control {
        .text-value-control {
            padding-bottom: 64px;
        }

        .voice-over {
            position: absolute;
            left: 16px;
            bottom: 16px;
        }
    }
}
