.widget--image-library {
    @include bbs--scrollable($margin: 0);

    position: relative;
    height: 100%;

    padding-right: 4px;
    flex: 1 1;

    .widget--image-library--list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 10px;
        row-gap: 10px;
        width: 100%;
    }


    .widget--image-library--list-item {
        border: solid 1px bbs--color(grey-5);
        border-radius: 6px;
        overflow: hidden;
        cursor: pointer;

        &:hover {
            @include bbs--focus-shadow;
        }
    }

    .search {
        margin-right: 10px;
	margin-bottom: 10px;
        flex-direction: row;
        @include bbs--icon-color($color-blue-1);
        @include bbs--icon-size(24px);

        .bbs--input-wrapper--header {
            border-left: solid 1px $color-grey-4;
            padding-right: 7px
        }

        .bbs--input {
            border: 0;
        }

        .icon-wrapper {
            flex: 0 1;
        }
    }
}
