.add-student-form {
    color: #323232;

    display: grid;
    grid-template-columns: 480px auto;
    column-gap: 56px;
    row-gap: 48px;

    & > .controls {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 12px;
    }

    & > .message {
        & > p {
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
        }
    }

    & > .actions {
        & > .submit-button {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 240px;
            height: 52px;
        }
    }
}
