.page--student-profile {
    .student-profile-header {
        justify-content: flex-end;
    }

    .course-name {
        @include bbs--icon-size(24px);
        @include bbs--noto-16-r;

        display: flex;
        align-items: center;
        gap: 10px;

        padding: 0 32px;

        & > .prefix {
            @include bbs--noto-16-b;
        }
    }

    .progress-table {
        display: flex;
        flex-direction: column;
        gap: 32px;
        min-height: 0;

        .progress-table--header {
            display: flex;
            align-items: center;
            gap: 16px;

            .title {
                @include bbs--noto-14-b;
                flex: 1 1;
            }
        }

        .progress-table--list {
            @include bbs--with-scrollbar;
            @include bbs--with-scrollbar-margin;
            overflow: auto;
        }
    }

    .level-picker {
        min-width: 100px;
    }
}
