.image-form {
    display: flex;
    flex-direction: column;
    // align-items: left;
    gap: 32px;

    .preview {
        $preview-size: 100px;

        background-color: white;
        background-image:
          linear-gradient(45deg, #ccc 25%, transparent 25%),
          linear-gradient(-45deg, #ccc 25%, transparent 25%),
          linear-gradient(45deg, transparent 75%, #ccc 75%),
          linear-gradient(-45deg, transparent 75%, #ccc 75%);
        background-size:20px 20px;
        background-position: 0 0, 0 10px, 10px -10px, -10px 0px;

        border: solid 2px #ccc;
        border-radius: 8px;
        width: $preview-size;
        height: $preview-size;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .controls {
        width: 100%;

        .control-block {
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
