#tabschool-login {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    @import "components/styles";
    @import "header/styles";
    @import "sign_in/styles";
    @import "pages/styles";
    @import "registration/styles";

    background-color: bbs--color(grey-5);
    
    &.background-with-image {
	background-image: url("/images/admin/page/page_login_background.svg");
	background-repeat: no-repeat;
	background-position: bottom right;
	background-position-y: 100px;
	background-size: cover;
    }
}
