.widget--access-code {
    .action-wrapper {
        bottom: 6px;
    }

    .widget--access-code--generate-button {
        padding-top: 3px;
        padding-bottom: 3px;
        min-height: unset;
    }
}
