.user {
    display: flex;
    align-items: center;
    gap: 12px;

    margin-left: 24px;

    .avatar {
        $size: 11vh;

        width: $size;
        height: $size;

        position: relative;
        border-radius: 50%;
        overflow: hidden;
        background-color: #fff;

        img {
            position: relative;

            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .name {
        position: relative;
        top: 8px;

        color: #fff;
        font-family: 'Luckiest Guy';
        font-size: 5vh;
        z-index: 1;
    }
}
