{:assets        [{:url "/raw/audio/l1/mari-coaching.mp4", :size 2, :type "audio" :alias "statements"}]
 :actions       {:init-audio-correct      {:type "parallel"
                                           :data [{:type "set-variable" :var-name "audio-correct1" :var-value "mari-audio-correct-1"}
                                                  {:type "set-variable" :var-name "audio-correct2" :var-value "mari-audio-correct-2"}
                                                  {:type "set-variable" :var-name "audio-correct3" :var-value "mari-audio-correct-3"}
                                                  {:type "set-variable" :var-name "audio-correct4" :var-value "mari-audio-correct-4"}
                                                  {:type "set-variable" :var-name "audio-correct5" :var-value "mari-audio-correct-5"}]}

                 :init-audio-try-again    {:type "parallel"
                                           :data [{:type "set-variable" :var-name "audio-try-again1" :var-value "mari-audio-try-again-1"}
                                                  {:type "set-variable" :var-name "audio-try-again2" :var-value "mari-audio-try-again-2"}]}

                 :mari-correct {:type "sequence-data"
                                :data [{:type "action" :id "init-audio-correct"}
                                       {:type      "vars-var-provider"
                                        :variables ["current-audio-correct"]
                                        :from      ["audio-correct1" "audio-correct2" "audio-correct3" "audio-correct4" "audio-correct5"]
                                        :shuffled  true}
                                       {:type "action" :from-var [{:var-name "current-audio-correct" :action-property "id"}]}]}

                 :mari-wrong {:type "sequence-data"
                              :data [{:type "action" :id "init-audio-try-again"}
                                     {:type      "vars-var-provider"
                                      :variables ["current-audio-try-again"]
                                      :from      ["audio-try-again1" "audio-try-again2"]
                                      :shuffled  true}
                                     {:type "action" :from-var [{:var-name "current-audio-try-again" :action-property "id"}]}]}
                 }}
