.students-list {
    color: #353535;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 48px;

    & > .student-card {
        display: flex;
        flex-direction: column;

        width: 270px;
        border-radius: 24px;
        overflow: hidden;
        background-color: #fff;

        box-shadow: 0px 12px 28px rgba(119, 119, 119, 0.25);

        & > .top-side {
            display: flex;
            align-items: center;
            justify-content: center;

            position: relative;
            width: 100%;
            min-height: 142px;
            max-height: 142px;
            background-color: #361653;

            & > img {
                width: 70%;
                height: 70%;
                object-fit: contain;
            }

            & > .delete-button {
                $margin: 8px;

                position: absolute;
                top: $margin;
                right: $margin;

                cursor: pointer;

                svg {
                    fill: #fff;
                }
            }
        }

        & > .bottom-side {
            padding: 24px;

            & > .name {
                font-weight: 900;
                font-size: 24px;
                line-height: 28px;
                width: 100%;
                margin-bottom: 8px;
            }

            & > .progress {
                font-size: 14px;
                line-height: 16px;
                width: 100%;
                margin-bottom: 32px;
            }

            & > .play-button {
                width: 100%;
            }
        }
    }

    & > .pd-circular-progress {
        $size: 48px;
        $width: 8px;

        width: $size;
        height: $size;

        &:indeterminate::before,
        &:indeterminate::-webkit-progress-value {
            border-width: $width;
        }
    }
}
