.great-work-button {
    width: $play-button-size;
    height: $play-button-size;

    background: url("/images/student_dashboard/good_work.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
