@import "side_menu/styles";

.dialog-form {
    .dialog-form-header {
        margin-bottom: 16px;

        .control-block {
            display: flex;
            align-items: center;
            gap: 16px;
        }
    }

    .work-field {
        @import "action_unit/styles";

        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 32px;

        padding: 16px;
        padding-bottom: 86px;

        background-color: #aeaeae;
        border-radius: 8px;

        .sheet {
            width: 80%;
            max-width: 700px;

            padding: 16px 32px;

            background-color: #fff;
            border-radius: 4px;

            .actions-block {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                margin-top: 16px;

                .action-button {
                    border-width: 1px;
                }

                .actions-label {
                    margin: 0;
                    font-weight: 400;
                }
            }
        }
    }

    &.dialog-text-form {
        display: flex;
        flex-direction: column;
        height: 100%;

        .work-field {
            flex: 1 1;
        }
    }
}
