.page--class-students {
    .activities-row {
        border: none;

        .bbs--list-item--avatar {
            visibility: hidden;
        }

        &.activities-row-short {
            .activity-card {
                flex-direction: row;
                align-items: stretch;
                gap: 12px;

                .preview {
                    max-width: 160px;
                }

                .name {
                    flex: 1 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 100%;
                }
            }
        }
    }

    .activity-card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        position: sticky;
        top: -$default-gap;

        background-color: #FFF;

        .preview {
            flex: 1 1;
            width: 100%;

            border-radius: 6px;
            overflow: hidden;
        }

        .name {
            @include bbs--noto-14-b;
            height: 60px;
            padding: 8px 0;

            .tag {
                @include bbs--noto-12-r;
                margin-top: 4px;
            }
        }
    }

    .progress-list {
        @include bbs--scrollable;
        margin-right: -9px;
    }

    .student-name {
        width: 120px;
    }
}
