.page--class-students {
    .class-students-header {


        .students-stats {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex: 1 1;

            @include icon-color($color-blue);
        }
    }

    .main-table {
        display: grid;
        align-items: center;
        column-gap: 10px;
        row-gap: 16px;
        position: relative;

        &.columns-1 {grid-template-columns: auto;}
        &.columns-2 {grid-template-columns: auto repeat(1, 1fr);}
        &.columns-3 {grid-template-columns: auto repeat(2, 1fr);}
        &.columns-4 {grid-template-columns: auto repeat(3, 1fr);}
        &.columns-5 {grid-template-columns: auto repeat(4, 1fr);}
        &.columns-6 {grid-template-columns: auto repeat(5, 1fr);}
        &.columns-7 {grid-template-columns: auto repeat(6, 1fr);}
        &.columns-8 {grid-template-columns: auto repeat(7, 1fr);}
        &.columns-9 {grid-template-columns: auto repeat(8, 1fr);}
        &.columns-10 {grid-template-columns: auto repeat(9, 1fr);}
    }

    .activity-card {
        position: sticky;
        top: -$default-gap;

        background-color: #FFF;

        .preview {
            width: 100%;
            height: 66px;

            border-radius: 6px;
            overflow: hidden;
        }

        .name {
            padding: 8px 0;

            font-weight: 700;
            font-size: 12px;
        }
    }

    .progress-card {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 2px 12px;
        background-color: #DCE3F5;
        border-radius: 6px;

        color: #505B76;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;

        height: 36px;

        .data {
            display: flex;
            flex-direction: column;

            font-size: 11px;
            line-height: 13px;

            .last-played {
                font-weight: 400;
            }

            .total-time {
                font-weight: 700;
            }
        }

        &.completed {
            color: #FFF;
            background-color: #4ECB71;
            @include icon-color(#FFF);
            @include icon-size(18px);
        }
    }

    .user-card {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 8px 16px;
        border-radius: 6px;

        .user-data {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 4px;

            font-weight: 500;

            .name {
                font-size: 12px;
                line-height: 12px;
            }

            .code {
                font-size: 10px;
                line-height: 10px;
            }
        }

        &:hover {
            cursor: pointer;
            background-color: #{$color-blue + "0F"};
        }
    }
}
