.layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;

    .top-bar {
        display: flex;
        align-items: stretch;
        justify-content: space-between;

        position: sticky;
        top: 0;
        z-index: 100;
        min-height: $header-height;

        padding: 0 $default-gap;
        background-color: $color-primary;
        color: $color-text-light;

        @import "auth/styles";
    }

    & > .content-wrapper {
        display: flex;
        flex: 1 1;
        background-color: #f7f7fb;
        padding: $default-gap;
        min-height: 0;

        & > .content {
            min-height: 0;
            flex: 1 1;
            display: flex;
        }
    }
}
