.layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;

    .top-bar {
        background-color: $color-primary;
        color: $color-text-light;

        @import "navigation/styles";
    }

    & > .content-wrapper {
        flex: 1 1;
        background-color: #f7f7fb;
        padding: $default-gap;

        & > .content {
            height: 100%;
        }
    }
}
