.bbs--list {
    display: flex;
    flex-direction: column;
    gap: $bbs--default-gap;
}

.bbs--list-item {
    $delimiter-color: #F7F7FB;

    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 24px;

    padding: 10px 20px;
    border: 1px solid bbs--color(grey-4);
    border-radius: 4px;

    min-height: 60px;

    .bbs--list-item--controls {
        display: flex;
        align-items: center;
        color: bbs--color(blue-1);
    }

    .bbs--list-item--actions {
        display: flex;
        align-items: center;
        gap: 18px;

        padding-left: 18px;
        border-left: solid 1px $delimiter-color;
    }

    .bbs--list-item--name {
        @include bbs--noto-14-b;
        flex: 1 1;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .bbs--list-item--stats {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .bbs--list-item--info {
        $gap: 40px;

        display: flex;
        gap: $gap;

        .bbs--list-item--info-item {
            position: relative;
            display: flex;
            align-items: center;
            gap: 8px;

            &:after {
                content: "";

                position: absolute;
                right: -$gap * 0.5;

                display: block;
                height: 100%;
                width: 1px;
                border-left: solid 1px $delimiter-color;
            }

            &:last-child:after {
                content: none;
            }

            .bbs--list-item--info-item--key {
                @include bbs--noto-14-b;

                &:after {
                    content: ":";
                }
            }

            .bbs--list-item--info-item--value {
                @include bbs--noto-14-r;
            }
        }
    }

    &.bbs--list-item--dense {
        gap: 16px;
        padding: 10px;

        .bbs--list-item--actions {
            gap: 9px;
            padding-left: 9px;
        }
    }
}
