.select-region-form {
    .toolbar {
        display: flex;
        justify-content: flex-end;
        gap: 16px;

        .label {
            margin: 0;
        }

        button {
            white-space: nowrap;
        }
    }
}
