@import "../../styles/colors";

.dialog-wrapper {
    align-items: center;
    display: flex;
    background-color: rgba(106, 106, 106, 0.5);
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    .dialog {
        background: #FFFFFF;
        border-radius: 8px;
        box-shadow: 0px 8px 28px rgba(140, 140, 140, 0.4);
        color: $default-color;

        display: flex;
        flex-direction: column;

        max-height: 90%;
        padding: 32px;
        padding-top: 84px;
        position: relative;
        width: 80%;
        min-width: 900px;

        h1 {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 26px;

            position: absolute;
            left: 64px;
            top: 36px;
        }

        .close-button {
            position: absolute;
            right: 32px;
            top: 32px;
        }

        .dialog-content {
            overflow: auto;
            padding: 32px;
            padding-top: 48px;
        }

        .dialog-actions {
            padding: 32px;
            padding-bottom: 0;
        }
    }
}
