.component-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    @include bbs--icon-size(20px);
}


.scale-field {
    .bbs--input {
        width: 50px;
        padding: 4px 0;
    }
    input[type=number]::-webkit-inner-spin-button {
	opacity: 1;
    }
    input[type=number]::-webkit-outer-spin-button {  
	opacity: 1;
    }

}
