@import "history/styles";

.sync-status {
    position: relative;

    .sync-progress {
        display: flex;
        align-items: center;
        gap: 8px;

        .sync-icon {
            svg {
                height: 12px;
                width: 12px;
            }
        }
    }
}
