$card-border-radius: 8px;
$card-padding: 8px;

.wc-card {
    background-color: #fff;
    border-radius: $card-border-radius;
    box-shadow: 0px 4px 6px rgba(175, 175, 175, 0.25);
    padding: $card-padding;

    &:hover {
        box-shadow: 4px 8px 12px rgba(175, 175, 175, 0.25);
    }
}
