$background-width: 500px;
$background-height: 400px;

.type-selector {
    display: flex;
    align-items: center;
    gap: 32px;

    .type-input {
        width: 300px;
    }
}

.background-options {
    display: flex;
    justify-content: space-between;
    margin: 32px 0;

    & > * {
        width: 300px;
    }
}

.preview-wrapper {
    display: flex;
    justify-content: space-around;

    .background-preview {
        position: relative;

        & > img {
            position: absolute;
            top: 0;
            left: 0;

            max-width: $background-width;
            max-height: $background-height;

            border-radius: 8px;
            overflow: hidden;

            &.placeholder {
                position: relative;
                visibility: hidden;
            }
        }
    }
}
