#page--buttons {
    .buttons-panel {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: stretch;
        align-items: center;
        column-gap: 32px;
        row-gap: 32px;
    }
}
