.widget--activities-list {
    .activities-list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 28px;
        row-gap: 20px;
    }

    .activities-list-item {
	position: relative;
        border-radius: 6px;
        overflow: hidden;
        width: 215px;

        .preview {
            border-radius: 6px;
            overflow: hidden;
            width: 215px;
            height: 120px;

            border: 1px solid bbs--color(blue-2);
        }

        .data {
            display: flex;
            align-items: center;
            justify-content: space-between;

            padding-left: 7px;
            margin-top: 4px;

            font-weight: 700;
            font-size: 14px;
            line-height: 18px;

            .bbs--button--icon {
                @include bbs--icon-color(bbs--color(blue-1));
            }
        }

        &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 9px 0px #3453a140;
        }

	.global-icon {
	    position: absolute;

	    left: 9px;
	    top: 8px;

	    background-color: #fff;
	    border-radius: 30px;
	    overflow: hidden;
	}
    }
}
