.wc-image {
    & > * {
        width: 100%;
        height: 100%;
    }

    img {
        object-fit: cover;
    }

    .loading {
        display: flex;
        align-items: center;
        justify-content: center;

        progress {
            @include progress-size(14px, 2px);
            @include progress-color(#ccc);
        }
    }

    .not-loaded {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f2f2f2;

        @include icon-color(#ccc);
    }
}
