@import "classes";

.dashboard {
    display: flex;

    .side-bar {
        background-color: #565656;

        flex-grow: 0;
        width: 320px;
    }

    .view-port {
        background-color: #e8e8e8;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .main-content {
            padding: 20px;
        }
    }
}
