.students-dashboard {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;

    .students-dashboard-item {
        flex-grow: 0;
        margin: 10px;
        width: 300px;

        &.add-new {
            background-color: #00bcd4;
            border-radius: 3px;
            box-shadow: rgba(0, 0, 0, 0.22) 0 1px 6px, rgba(0, 0, 0, 0.22) 0 1px 4px;
            color: #ffffff;
            cursor: pointer;
            font-size: 36px;
            font-weight: bold;
            line-height: 136px;
            text-align: center;
            user-select: none;
        }
    }
}
