.wc-image-preview {
    $size: 50px;

    width: $size;
    height: $size;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    font-size: 11px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;

    background-color: #DCE3F5;
    border-radius: 2px;
}
