.page--activity-edit {
    .widget-profile--main-content {
	background-color: rgba(0,0,0,0);
    }

    .page--activity-edit--content {
	align-items: center;
    }

    .activity-form {
        display: flex;
        flex-direction: column;
        gap: 18px;

        width: 672px;

	.header {
	    background-color: #ffffff;
	    border-radius: 7px;

	    display: flex;
	    
            .info {
		flex: 1 1;
		margin-top: 13px;
		margin-left: 25px;
		
		font-weight: 700;
		font-size: 14px;
		line-height: 18px;

		dl {
                    display: flex;
                    gap: 0px;
		    margin: 0 0 11px 0;

                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;

                    dt {
			&:after {
                            content: ":";
			}
                    }

                    dd {
			margin: 0 32px 0 0;
                    }
		}
            }

	    .actions {
		flex: 1 1;
		display: flex;
		justify-content: flex-end;
		margin-right: 15px;

		gap: 9px;

		button {
		    min-height: 32px;
		    border-radius: 20px;
		    margin: 14px 0 14px 0;

		    padding-left: 20px;
		    padding-right: 40px;

		    @include bbs--icon-size(24px);
		    .bbs--button--icon {
			margin-top: -12px;
		    }
		}
		.play-button {
		    background: $color-blue-1;
		    &:hover {
			background: $color-blue-1-light;
		    }
		}

		.edit-button {
		}
	    }
	}

        .preview {
            border-radius: 8px;
            overflow: hidden;
            position: relative;
        }

	.activity-details {
	    background: #ffffff;
	    border-radius: 6px;
	    padding-bottom: 20px;
	    
            h2 {
		display: flex;
		align-items: center;
		justify-content: space-between;

		font-weight: 700;
		font-size: 14px;
		line-height: 18px;
		margin: 20px;

		.actions {
		    display: flex;
		    justify-content: flex-end;
		    
		    .bbs--button {
			@include bbs--icon-size(32px);
			@include bbs--icon-color(bbs--color(blue-1));
		    }
		}
            }

	    .info-form {

		.controls {
		    flex-direction: row;
		    padding: 0;
		    
		    .group-left {
			flex: 2 1;
			display: flex;
			flex-direction: column;
			gap: 14px;
			padding: 0 0 0 20px;
		    }
		    .group-filler {
			flex: 0 1;
			margin: 0 0 40px 0;
			border-right: 1px solid $color-grey-4;
		    }
		    .group-right {
			flex: 1 1;
			padding: 14px 32px 0 0;
			display: flex;
			flex-direction: column;
			gap: 14px;
		    }
		}

		.form-actions {
		    margin: 0 0 0 320px;
		    justify-content: flex-end;
		    width: 50%;
		}
	    }

            .remove-button {
		@include icon-color($color-pink);
		@include icon-size(16px);
		@include icon-thickness(2);
            }
	}
    }
}
