@import "../../styles/colors";

$text-color: $default-color;

$item-margin: 32px;

$idx-size: 24px;
$idx-background: #C9C9C9;
$idx-background-selected: $color-primary;
$idx-margin: 8px;

$items-connector-width: 2px;

.wc-time-line {
    display: flex;
    flex-direction: column;
    padding: 16px;

    & > .time-line-item {
        margin-bottom: $item-margin;

        &:last-child {
            margin-bottom: 0;

            & > .idx {
                &:before {
                    display: none;
                }
            }
        }

        &.completed {
            & > .idx {
                background-color: $idx-background-selected;

                &:before {
                    border-color: $idx-background-selected;
                }
            }
        }

        &.active {
            & > .idx {
                background-color: #fff;
                border: solid $items-connector-width $idx-background-selected;
                color: $idx-background-selected;
                line-height: $idx-size - $items-connector-width;
            }
        }

        & > .idx {
            display: inline-block;
            position: relative;

            width: $idx-size;
            height: $idx-size;
            border-radius: 50%;
            line-height: $idx-size;

            background-color: $idx-background;

            color: #fff;
            font-size: 14px;
            font-weight: 500;
            text-align: center;

            &:before {
                content: " ";
                width: 1px;

                border-left: solid $items-connector-width $idx-background;
                position: absolute;

                top: $idx-size + $idx-margin;
                left: ($idx-size / 2) - ($items-connector-width / 2);
                height: $item-margin - ($idx-margin * 2);
            }
        }

        & > .title {
            display: inline-block;
            color: $text-color;
            font-weight: 500;
            margin-left: $idx-margin;
        }
    }
}
