.dialogs-diagram {
    display: flex;
    flex-grow: 1;
    position: relative;

    .toolbar {
        background-color: rgba(0,0,0,0);
        right: 0;
        padding: 8px;
        position: absolute;
        text-align: right;
        top: 0;
        width: 64px;
        z-index: 10;
    }
}
