@import "form/styles";
@import "menu/styles";

.activity-script-form {
    .work-field {

        .track-selector {
            margin-bottom: 40px;
            display: block;

            .track-button {
                justify-content: center;
		        max-width: 150px;
            }
        }

        .actions-script {
           
        }

        .drop-down {
            background: #0071E3;
            color: white;
            height: 32px;
            align-items: center;
            padding: 0px 7px;
            width: 130px;
        }
        
        .drop-down option{
            background: white;
            color: black;
            width: 150px;
        }
    }
}
