.page--edit-course {
    .list-item-stats {
        display: flex;
        align-items: center;
        gap: 4px;

        font-weight: 700;
        font-size: 14px;

        @include icon-color($color-pink);

        .activity {
            @include icon-color($color-blue);
        }
    }

    .drag-over {
        & > * {
            border-color: $color-pink !important;
            position: relative;

            &:after {
                content: "";
                width: 100%;
                height: 0;
                border-top: solid 2px $color-pink;

                position: absolute;
                left: 0;
            }
        }

        &.drag-over-top {
            & > * {
                &:after {
                    top: -7px;
                }
            }
        }

        &.drag-over-bottom {
            & > * {
                &:after {
                    bottom: -7px;
                }
            }
        }
    }

    .list-item {
        &.selected {
            border-color: $color-pink;
        }
    }

    .sub-list {
        padding-left: 20px;
    }

    .activities-list-item {
        .item-image {
            $height: 80px;

            height: $height;
            width: $height * 1.75;
            border-radius: 4px;
            overflow: hidden;
        }
    }

    .reorder-control {
        &:hover {
            cursor: ns-resize;
            background-color: #{$color-pink + "0F"};
        }
    }

    .actions-list {
        display: flex;
        flex-direction: column;
        gap: 16px;

        margin: 0;
        padding: 0;
        list-style: none;

        .actions-list-item {
            display: flex;
            align-items: center;
            gap: 4px;

            border: solid 1px $color-pink;
            border-radius: 6px;
            padding: 4px 8px;

            font-weight: 500;
            font-size: 14px;

            @include icon-color($color-pink);

            &.button-item {
                cursor: pointer;

                &:hover {
                    background-color: #{$color-pink + "0F"};
                }
            }
        }
    }

    .available-activities {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .back-button {
        @include icon-color($color-pink);
    }

    .search {
        @include icon-color($color-pink);
    }

    .available-activities-list {
        display: flex;
        flex-direction: column;
        gap: 10px;

        overflow: auto;
        padding-right: 10px;

        @include with-small-scroll-bar();
    }

    .available-activities-list-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 6px;

        padding: 8px;
        border: solid 1px #DCE3F5;
        border-radius: 6px;

        .icon {
            @include icon-color($color-pink);
        }

        .name {
            flex: 1 1;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
        }

        .preview {
            $height: 54px;
            height: $height;
            width: $height * 1.77;
            min-width: $height * 1.77;
        }
    }
}
