.page--edit-course {
    .list-item-stats {
        display: flex;
        align-items: center;
        gap: 4px;

        font-weight: 700;
        font-size: 14px;

        @include icon-color($color-pink);

        .activity {
            @include icon-color($color-blue);
        }
    }

    .drag-over {
        & > * {
            border-color: $color-pink !important;
        }
    }

    .list-item {
        &.selected {
            border-color: $color-pink;
        }
    }

    .sub-list {
        padding-left: 20px;
    }

    .activities-list-item {
        .item-image {
            $height: 80px;

            height: $height;
            width: $height * 1.75;
            border-radius: 4px;
            overflow: hidden;
        }
    }

    .reorder-control {
        &:hover {
            cursor: ns-resize;
            background-color: #{$color-pink + "0F"};
        }
    }

    .actions-list {
        display: flex;
        flex-direction: column;
        gap: 16px;

        margin: 0;
        padding: 0;
        list-style: none;

        .actions-list-item {
            display: flex;
            align-items: center;
            gap: 4px;

            border: solid 1px $color-pink;
            border-radius: 6px;
            cursor: grab;
            padding: 4px 8px;

            font-weight: 500;
            font-size: 14px;

            @include icon-color($color-pink);
        }
    }
}
