@import "steps/create_activity/styles";
@import "steps/fill_template/styles";
@import "steps/select_template/styles";
@import "steps/select_character/styles";

.game-changer-form {
    display: grid;
    grid-template-columns: 240px auto;
    grid-template-rows: 80px auto;
    max-height: 100%;
    width: 100%;
    max-width: 1300px;

    & > .title {
        grid-column-start: 2;

        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            color: #1D1D1F;
            font-weight: bold;
            font-size: 22px;
            line-height: 26px;

            padding: 8px 16px;
            margin: 0;
        }
    }

    & > .timeline {}

    & > .content {
        background-color: #fff;
        border-radius: 8px;
        padding: 16px;

        .template-form {
            padding: 16px;
        }
    }

    & > .actions {
        grid-column-start: 2;
        padding: 16px 0;

        display: flex;
        align-items: center;
        justify-content: flex-end;

        & > * {
            margin-left: 16px;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}
