.widget--breadcrumbs {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 0 $default-gap;

    .breadcrumbs-item {
        padding: 16px 8px;

        font-size: 12px;
        font-weight: 700;

        &.available {
            color: $color-secondary;

            &:hover {
                color: $color-primary;
                cursor: pointer;
            }
        }
    }

    .back-button {
        $size: 28px;
        width: $size;
        height: $size;

        &:hover {
            svg {
                stroke: $color-primary;
            }
        }
    }
}
