.page--schools {
    .schools-list {
        .school-stats {
            display: flex;
        }

        .item-content-right {
            display: flex;
            gap: 8px;

            button {
                font-weight: 700;
                font-size: 12px;

                @include icon-size(24px);
            }
        }

        .item-actions {
            @include icon-size(24px);
        }
    }
}
