.page--schools {
    .schools-list {
        .school-stats {
            display: flex;
        }

        .item-content-right {
            display: flex;
            gap: 8px;

            button {
                font-weight: 700;
                font-size: 12px;

                @include icon-color($color-secondary);
                @include icon-size(24px);

                &.manage-students {
                    @include icon-color(#85B6FF);
                }
            }
        }

        .item-actions {
            @include icon-size(24px);
        }
    }
}
