.page--schools {
    .schools-list {
	.school-stats {
	    display: flex;
            align-items: center;

            color: #505B76;
            font-weight: 700;
            font-size: 16px;
	}
    }
}
