@import "../styles/colors";

@import "avatar/styles";
@import "logo/styles";
@import "navigation/styles";
@import "toolbar/styles";

$content-padding: 24px;
$mid-section-padding: 120px;
$content-left-padding: $left-menu-width + $mid-section-padding;

.page-layout {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    height: 100%;

    & > .header {
        flex-grow: 0;
        flex-shrink: 0;
    }

    & > .body {
        display: flex;
        flex-grow: 1;
        overflow: auto;
        overflow-x: hidden;

        & > .side-menu {
            flex-grow: 0;
            flex-shrink: 0;
            padding: $content-padding;
            width: 296px;
            background: #353535;
        }

        & > .content {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-grow: 1;
            padding: $mid-section-padding $mid-section-padding $mid-section-padding $content-left-padding;
        }
    }
}
