@import "../styles/colors";

@import "avatar/styles";
@import "logo/styles";
@import "navigation/styles";
@import "toolbar/styles";

$content-padding: 24px;

.page-layout {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    height: 100%;

    & > .header {
        flex-grow: 0;
        flex-shrink: 0;
    }

    & > .body {
        display: flex;
        flex-grow: 1;
        overflow: auto;

        & > .side-menu {
            flex-grow: 0;
            flex-shrink: 0;
            padding: $content-padding;
        }

        & > .content {
            flex-grow: 1;
            padding: $content-padding;
        }
    }
}
