$default-text-color: #222342;
$primary-text-color: #ffffff;
$secondary-text-color: #fd4142;
$disabled-text-color: #bababa;
$foreground-color: #ffffff;
$background-color: #222342;

$page-background-color: darken($background-color, 5%);
$form-background-color: $foreground-color;
$form-text-color: $default-text-color;
$logo-text-color-first: $default-text-color;
$logo-text-color-second: $secondary-text-color;
$welcome-background-color: $background-color;
$welcome-text-color: $primary-text-color;
$forgot-password-color: $disabled-text-color;

$panel-width: 1000px;
$panel-height: 650px;
$border-radius: 15px;
$form-padding: 40px;
$form-width: 36%;
$welcome-font-size: 32px;
$logo-size: 44px;
$logo-font-size: 22px;
$logo-url: url(/raw/img/teacher-login/logo.png);

.teacher-login-page {
    align-items: center;
    background-color: $page-background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .login-window {
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        height: $panel-height;
        width: $panel-width;

        .auth-panel {
            background-color: $form-background-color;
            border-radius: $border-radius 0 0 $border-radius;
            display: flex;
            flex: 0 0 auto;
            flex-direction: column;
            justify-content: space-between;
            padding: $form-padding;
            width: $form-width;

            header {
                display: flex;
                flex: 0 0 auto;
                margin: 0 0 $form-padding 0;

                .logo {
                    background: $logo-url center no-repeat;
                    flex: 0 0 auto;
                    height: $logo-size;
                    width: $logo-size;
                    background-size: 100%;
                }

                h1 {
                    flex: 1 1 auto;
                    font-family: monospace;
                    font-size: $logo-font-size;
                    line-height: $logo-size;
                    margin: 0 0 0 10px;
                    text-transform: uppercase;

                    :first-child {
                        color: $logo-text-color-first;
                    }

                    :last-child {
                        color: $logo-text-color-second;
                    }
                }
            }

            main {
                flex: 0 0 auto;

                button {
                    margin-top: 20px;
                    width: 100px;
                }
            }

            footer {
                display: flex;
                flex: 0 0 auto;
                flex-direction: row;
                font-size: 13px;
                justify-content: space-between;
                line-height: 24px;
                margin: $form-padding 0 0 0;

                .remember-me {
                    flex: 1 1 auto;
                }

                .forgot-password {
                    flex: 1 1 auto;

                    a {
                        color: $forgot-password-color;
                        cursor: not-allowed;
                    }
                }
            }
        }

        .welcome-screen {
            align-items: center;
            background-color: $welcome-background-color;
            border-radius: 0 $border-radius $border-radius 0;
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            justify-content: center;

            .welcome-text {
                color: $welcome-text-color;

                & > * {
                    margin: 0;
                    padding: 0;
                }

                h1 {
                    font-size: $welcome-font-size;
                    font-weight: normal;
                }

                h2 {
                    font-size: $welcome-font-size * 1.2;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
        }
    }
}
