.activity-script-form {
    @import "styles-variables";

    .sheet {
        padding: 16px 0;
        background-color: #fff;
        border-radius: 4px;
        margin-bottom: 10px;

        .sheet-title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                padding: 0 $main-padding-horizontal;
                margin: 0;
            }

            .title-control {
                padding: 0 $main-padding-horizontal;
            }
        }

        @import "action_unit/styles";
    }

    .prompt-form {
        color: #999999;
        font-size: 16px;
        margin: 24px 0;
    }
}
