@import "styles_mixins";

.widget-profile--side-bar {
    @include panel;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $default-gap;

    & > * {
        &:last-child {
            flex: 1 1;
        }
    }
}
