@import "styles_mixins";

.widget-profile--side-bar {
    @include panel;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $default-gap;
    min-height: 0;

    .side-bar-content {
        display: flex;
        flex-direction: column;
        min-height: 0;
        flex: 1 1;
        gap: 16px;

        & > * {
            width: 100%;
        }
    }
}
