@import "styles_mixins";

.widget-profile--header {
    @include panel;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $default-gap * 2;

    position: sticky;
    top: #{$header-height - $panel-border-radius};
    padding-top: 0;
    padding-bottom: 0;

    background-color: $color-primary;
    color: $color-text-light;

    & > .info {
        display: flex;
        align-items: center;
        gap: 12px;

        & > .icon {
            padding: 0;

            svg {
                $size: 32px;
                width: $size;
                height: $size;
                stroke: $color-secondary;
            }
        }

        & > .title {
            font-weight: 700;
            font-size: 16px;
            text-transform: capitalize;
        }
    }

    & > .content {
        flex: 1 1;
    }

    & > .actions {
        button {
            background: transparent;

            @include icon-color($color-secondary);
            @include icon-size(14px);

            &:hover {
                background: $color-secondary-hovered;
            }

            &:active {
                background: $color-secondary-active;
            }

            &.with-text {
                flex-direction: row-reverse;
                justify-content: space-between;

                padding: 16px 20px;
                height: auto;
                min-width: 200px;

                border: solid 1px $color-secondary;
                border-radius: 6px;

                color: #fff;
                font-weight: 700;
                font-size: 14px;
            }
        }
    }
}
