@import "styles_mixins";

.widget-profile--header {
    @include panel;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $default-gap * 2;

    background-color: $color-primary;
    color: $color-text-light;

    & > .info {
        display: flex;
        align-items: center;
        gap: 12px;

        & > .icon {
            padding: 0;

            svg {
                $size: 32px;
                width: $size;
                height: $size;
                stroke: $color-secondary;
            }
        }

        & > .title {
            font-weight: 700;
            font-size: 16px;
            text-transform: capitalize;
        }
    }

    & > .content {
        flex: 1 1;
    }
}
