@import "styles_mixins";

.widget-profile--main-content {
    @include panel;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $default-gap;
    min-height: 0;
    overflow: auto;
    padding: 0;

    & > .widget-profile--main-content--content {
        flex: 1 1;

        display: flex;
        flex-direction: column;
        gap: $default-gap;

        min-height: 0;
        position: relative;
        padding: 5px $default-gap * 0.5 5px 5px;
        overflow: auto;
        @include with-scroll-bar(6px);
    }

    & > .widget-profile--main-content--footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: $default-gap;
    }

    .widget-profile--content-block {
        & > h2 {
            margin-bottom: $default-gap;
            font-size: 12px;
            font-weight: 500;
        }
    }
}
