@import "header/styles";
@import "single_page/styles";

.widget--page {
    @mixin panel {
        background-color: #fff;
        border-radius: $panel-border-radius;
        padding: $default-gap;
    }

    display: grid;
    grid-template-columns: auto 320px;
    grid-template-rows: 90px auto;
    column-gap: $default-gap;
    row-gap: $default-gap;
    min-height: 0;
    flex: 1 1;

    padding: 10px;
    border-radius: 6px;
    background-color: bbs--color(white);

    & > .widget-profile--header,
    & > .widget--page--header {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    & > .widget-profile--main-content {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }

    & > .widget-profile--side-bar {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }

    &.with-header {
        & > .widget-profile--main-content {
            grid-row: 2 / 3;
        }

        & > .widget-profile--side-bar {
            grid-row: 2 / 3;
        }
    }

    &.with-side-bar {
        & > .widget-profile--main-content {
            grid-column: 1 / 2;
        }
    }

    @import "styles_header";
    @import "styles_main_content";
    @import "styles_side_bar";

    .block-title {
        $gap: 32px;
        $button-size: 32px;

        min-height: 40px;

        @mixin aligned {
            display: flex;
            align-items: center;
            gap: $gap;
        }

        @include aligned;
        justify-content: space-between;

        margin: 0;
        padding: 0 2px;

        .title {
            display: flex;

            .title-icon {
                @include icon-color($color-pink);
                @include icon-size(24px);
            }

            .title-text {
                font-weight: 700;
                font-size: 14px;

                @include aligned;

                &:before {
                    $size: 12px;

                    content: "";
                    display: inline-block;
                    width: $size;
                    height: $size;
                    border: solid 2px $color-secondary;
                    border-radius: 50%;
                }
            }

            &.with-action {
                gap: 4px;

                .title-text:before {
                    display: none;
                }
            }

            &.with-icon {
                .title-text:before {
                    display: none;
                }
            }
        }

        .title-actions {
            flex: 1 1;
            @include aligned;
            justify-content: flex-end;

            .wc-icon-button {
                height: $button-size;
                min-width: $button-size;

                @include icon-color($color-secondary);
                @include icon-color($color-secondary);
            }
        }
    }
}
