@import "styles_mixins";

.widget-profile--header {
    @include panel;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $default-gap * 2;

    position: sticky;
    top: #{$header-height - $panel-border-radius};
    padding-top: 0;
    padding-bottom: 0;

    background-color: $color-primary;
    color: $color-text-light;

    hr {
        margin: 0;
        border: none;
        border-right: solid 1px #ffffff3d;
    }

    .header-content-group {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 12px;
        min-width: 120px;
        padding: 4px;

        color: #fff;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;

        label {
            color: $color-pink;
            font-size: 10px;
        }

        span {
            font-weight: 700;
            font-size: 12px;
        }

        .data {
            display: flex;
            align-items: stretch;
            flex-direction: column;
            gap: 4px;
        }

        select {
            color: #fff;
            background: transparent;
            border: none;
            padding: 0;
        }

        @include icon-color($color-pink);
        @include icon-size(24px);
    }

    & > .info {
        display: flex;
        align-items: center;
        gap: 12px;

        & > .icon {
            padding: 0;

            @include icon-color($color-secondary);
            @include icon-size(32px);
        }

        & > .title {
            font-weight: 700;
            font-size: 16px;
            text-transform: capitalize;
        }
    }

    & > .content {
        flex: 1 1;
        display: flex;
        gap: 16px;

        border-left: solid 1px #ffffff3d;
        padding-left: 16px;
    }

    & > .content,
    & > .actions {
        button {
            background: transparent;

            color: #fff;
            font-weight: 700;
            font-size: 14px;

            @include icon-color($color-secondary);
            @include icon-size(14px);

            &:hover {
                background: $color-secondary-hovered;
            }

            &:active {
                background: $color-secondary-active;
            }
        }
    }

    & > .content {
        button {
            @include icon-size(24px);
        }
    }

    & > .actions {
        button {
            &.with-text {
                flex-direction: row-reverse;
                justify-content: space-between;

                padding: 16px 20px;
                height: auto;
                min-width: 200px;

                border: solid 1px $color-secondary;
                border-radius: 6px;
            }
        }
    }
}
