.animation-form {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .scale-group {
        display: flex;
        align-items: flex-end;
        gap: 8px;

        .scale-control {
            .scale-input {
                width: 80px;
            }
        }
    }
}
