.component--pagination {
    @include bbs--noto-14-r;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    b {
        @include bbs--noto-14-sb;
        color: bbs--color(blue-1);
    }
}
