.component--pagination {
    display: flex;
    gap: 8px;

    .pagination--button {
        $size: 32px;

        width: $size;
        height: $size;
        padding: 0;

        background: transparent;
        color: $color-blue;
        border: solid 1px $color-blue;

        &:hover {
            background: #{$color-blue + "30"};
        }

        &.active {
            color: $color-pink;
            border-color: $color-pink;

            &:hover {
                background: transparent;
                cursor: default;
            }
        }
    }
}
