.tool--object-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    height: 100%;

    .object-form--form {
        @include bbs--scrollable;
        flex: 1 1;
    }

    .group-panel {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .object-form-actions {
	display: flex;
	gap: 20px;
	justify-content: space-between;
	.object-form--apply {
	    width: 100%;
            border-radius: 30px;
	}
    }
}
