.pd-dialog {
    color: 353535;

    .dialog {
        width: 500px;
        border-radius: 2px;

        .dialog-content {
            padding: 12px 0;

            p {
                font-weight: 400;
                font-size: 22px;
                line-height: 28px;
                margin-bottom: 10px;
            }
        }

        .dialog-actions {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            gap: 64px;

            button {
                font-weight: 900;
                font-size: 24px;
                line-height: 28px;
                background-color: transparent;
                border: none;
                border-radius: 2px;
                cursor: pointer;
                padding: 8px 16px;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.2);
                }
            }
        }
    }

}
