@import "../../ui_framework/styles/colors";
@import "mixins";

.pd-select {
    background: #fff;
    font-size: 16px;

    @include control-border;

    select {
        padding: 19px 18px;
        @include control-font;
    }

    &.wc-select-error {
        border-color: $error-color !important;
    }
}
