.pd-dialog {
    color: 353535;

    .dialog {
        width: 500px;
        border-radius: 8px;

        .dialog-content {
            padding: 12px 0;

            p {
                font-weight: 400;
                font-size: 22px;
                line-height: 28px;
                margin-bottom: 6px;
            }
        }

        .dialog-actions {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            gap: 64px;
        }
    }
}
