.component--counter {
    $color-orange: #F5A36C;

    $color-yellow: #F0D97F;
    $color-yellow-light: #FAF1CE;
    $color-yellow-icon: #FFD233;

    @mixin button-color($color) {
        background: $color;
        &:hover {background: #{$color + "C0"};}
        &:active {background: #{$color + "85"};}
    }

    display: grid;
    column-gap: $default-gap;
    grid-template-columns: repeat(4, 1fr);

    & > .counter-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;

        background: $color-yellow-light;
        box-shadow: 0px 4px 4px #c7d1eb66;
        border-radius: 16px;

        padding: 29px 35px;

        & > .display {
            $icon-size: 80px;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            color: #fff;
            font-weight: 700;
            font-size: 30px;
            line-height: 52px;

            & > .icon-value {
                position: relative;

                & > .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    width: $icon-size;
                    height: $icon-size;
                    padding: 0;

                    background: $color-yellow-icon;
                    border-radius: 50%;

                    @include icon-color(#333);
                    @include icon-size(50px);
                    @include icon-thickness(1.5);
                }

                & > .value {
                    position: absolute;
                    top: 4px;
                    right: -7px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    width: 28px;
                    height: 22px;
                    border-radius: 11px;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

                    color: #2E3A59;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 14px;

                    background: $color-orange;
                }
            }

            & > .text-value {
                width: $icon-size;
                height: $icon-size;

                background: $color-yellow-icon;
                border-radius: 50%;

                display: flex;
                align-items: center;
                justify-content: center;

                color: #2E3A59;
            }

            & > .title {
                margin-top: 12px;

                color: #2E3A59;
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;

                text-align: center;
                letter-spacing: -0.02em;
            }
        }

        & > .actions {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 8px;

            & > .counter-action {
                position: relative;

                font-weight: 400;
                font-size: 10px;
                line-height: 14px;
                text-align: center;

                border-radius: 9999px;
                padding: 8px 16px;

                .action-name {
                    font-weight: 500;
                    font-size: 12px;
                }

                .action-icon {
                    position: absolute;
                    top: 0;
                    right: -3px;

                    border-radius: 50%;
                    padding: 3px;

                    @include icon-color(#fff);
                    @include icon-size(8px);
                }

                &:hover {
                    cursor: pointer;
                    background: #{$color-secondary + "0F"};
                }

                &.color-orange {
                    @include button-color($color-orange);

                    .action-icon {
                        background: $color-orange;
                    }
                }

                &.color-yellow {
                    @include button-color($color-yellow);

                    .action-icon {
                        background: $color-yellow;
                    }
                }
            }
        }
    }
}
