@import "../fonts";
@import "../colors";
@import "../etc/normalize";
@import "../etc/editor-v2";

@import "../../../styles";

#app {
    align-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
    background: #fff;

    .main-app {
     }
}

#app > div {
  height: 100vh;
  width: 100%;
}

#editor-container {
  height: 100vh;
  width: 100%;
}
