.widget--side-bar-page--block {
    display: flex;
    flex-direction: column;
    gap: $bbs--page--margin;
    min-height: 0;

    &.widget--side-bar-page--block--focused {
        z-index: $bbs--z-index-overlay + 1;
    }

    .block--header {
        @include bbs--icon-size(24px);

        display: flex;
        align-items: center;
        gap: 16px;
        min-height: 36px;

        .title-text {
            @include bbs--noto-16-b;
        }

        .subtitle-text {
            @include bbs--noto-12-r;
            line-height: 20px;
        }

        .block--header--content {
            flex: 1 1;
        }
    }

    .block--tabs {
        $gap: 16px;

        display: flex;
        align-items: center;
        gap: $gap;

        .block--tabs--button {
            color: bbs--color(grey-3);

            &.block--tabs--button--active {
                color: bbs--color(blue-1);
            }

            &:after {
                content: "";

                position: absolute;
                right: - $gap * 0.5;

                height: 100%;
                border-left: solid 1px bbs--color(grey-4);
            }

            &:last-child:after {
                display: none;
            }
        }
    }

    .block--content {
        @include bbs--scrollable;
        flex: 1 1;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .block--footer {
        display: grid;
        column-gap: 16px;

        @each $columns in 1, 2, 3, 4 {
            &.block--footer--columns-#{$columns} {
                grid-template-columns: repeat($columns, 1fr);
            }
        }
    }
}