@import "../../_list-items";

$card-size: 200px;
$padding: 32px;

@mixin list-wrapper {
    position: relative;
    width: 100%;
    height: $card-size + (2 * $padding);
}

@mixin list() {
    position: absolute;
    width: 100%;
    white-space: nowrap;
    overflow: auto;
    padding: $padding 0;

    &:before {
        content: "";
        height: 50px;
    }
}

@mixin list-item() {
    @include list-item-card-appearance();

    display: inline-block;
    position: relative;

    width: $card-size;
    height: $card-size;
    margin-right: $padding;

    &:last-child {
        margin-right: 0;
    }
}

@mixin list-item-preview() {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@mixin list-item-title() {
    position: absolute;
    bottom: 0;
    padding: 8px;

    color: #1D1D1F;
    font-weight: 500;
    font-size: 16px;

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
}


.available-characters-list {
    position: relative;

    .groups-list-wrapper {
        @include list-wrapper();

        .groups-list {
            @include list();

            .groups-list-item {
                @include list-item();

                .preview {
                    @include list-item-preview();
                }

                .title {
                    @include list-item-title();
                }
            }
        }
    }

    .skins-list-wrapper {
        @include list-wrapper();

        .skins-list {
            @include list();

            .skins-list-item {
                @include list-item();

                .preview {
                    @include list-item-preview();
                }

                .title {
                    @include list-item-title();
                }
            }
        }
    }

    .placeholder {
        @include image-placeholder($message: "No Preview");
        width: 100%;
        height: 100%;
    }
}



