.course-info-window {
    .course-info-form {
        .course-image {
            .title,
            .preview-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16px;
            }
        }
    }

    .save-button-container {
        display: flex;
        align-items: center;
        gap: 16px;
    }
}
