@import "mixins";

.bbs--select {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 8px;

    .bbs--select-wrapper--header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    select {
        @include bbs--input;

        cursor: pointer;

        display: flex;
        flex-grow: 1;
        flex-shrink: 1;

        min-width: 60px;
        width: 100%;

        padding-right: 28px;

        background: transparent;
        -moz-appearance: none;
        -webkit-appearance: none;

        &:disabled {
            opacity: 1;
            cursor: default;
        }
    }

    .expand-icon {
        @include bbs--icon-color(bbs--color(grey-4));
        position: absolute;
        right: 3px;
        bottom: 5px;
    }

    &:hover {
        .expand-icon {
            @include bbs--icon-color(bbs--color(blue-1));
        }
    }
}
