.test-ui-page{
    @import "views_icons";
    @import "views_icon_buttons";

    font-family: Roboto;
    font-style: normal;
    background-color: #E5E5E5;
    overflow: auto;
    position: absolute;
    height: 100%;
    width: 100%;

    .elements-group {
        margin-bottom: 32px;

        .elements-group-body {
            margin-bottom: 16px;
        }
    }

    display: flex;
    flex-direction: column;

    .grid-sibling {
        min-height: 300px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px auto;

        min-height: 0;
    }

    .list {
        display: flex;
        flex-direction: column;
        min-height: 0;

        .header {
            height: 100px;
            background: #f00;
        }

        .content {
            flex: 1 1;
            overflow: auto;

            .list-item {
                height: 100px;
                background: #00f;
                border: solid 1px #000;
            }
        }

        .footer {
            height: 100px;
            background: #0f0;
        }
    }
}