.test-ui-page{
    @import "views_icons";
    @import "views_icon_buttons";

    font-family: Roboto;
    font-style: normal;
    background-color: #E5E5E5;
    overflow: auto;
    position: absolute;
    height: 100%;
    width: 100%;

    .elements-group {
        margin-bottom: 32px;

        .elements-group-body {
            margin-bottom: 16px;
        }
    }
}