@import "reset";
@import "variables";
@import "fonts";
@import "colors";
@import "mixins";
@import "typography";

@mixin bbs--with-scrollbar($show-track: false) {
    &::-webkit-scrollbar-thumb {
        background-color: bbs--color(grey-4);
    }

    &::-webkit-scrollbar {
        -webkit-appearance: none;

        width: 4px;
        height: 4px;
    }

    &::-webkit-scrollbar-track {

        border-radius: 9999px;

        @if $show-track {
            background-color: bbs--color(grey-5);
        } @else {
            background-color: bbs--color(transparent);
        }
    }
}

@mixin bbs--with-scrollbar-margin {
    padding-right: 5px;
    margin-right: -5px;
}

@mixin bbs--with-scrollbar-color ($color) {
    &::-webkit-scrollbar-thumb {
        background-color: $color;
    }
}