$color-blue-1: #3453A1;
$color-blue-1-dark: #283F79;
$color-blue-1-light: #80BFE5;

$color-blue-2: #80BFE5;
$color-blue-2-dark: #3453A1;
$color-blue-2-light: #C0E3F8;

$color-green-1: #3E6C5F;
$color-green-1-dark: #33584E;
$color-green-1-light: #84C9BD;

$color-green-2: #84C9BD;
$color-green-2-dark: #3E6C5F;
$color-green-2-light: #8BFFEB;

$color-yellow-1: #F5A36C;
$color-yellow-1-dark: #D97532;
$color-yellow-1-light: #F0D97F;

$color-yellow-2: #F0D97F;
$color-yellow-2-dark: #F5A36C;
$color-yellow-2-light: #FFF4CB;

$color-grey-0: #000000;
$color-grey-1: #3D465B;
$color-grey-2: #636A7C;
$color-grey-3: #C7D1EB;
$color-grey-4: #DCE3F5;
$color-grey-5: #E9F5FF;

$bbs--base-colors: blue-1, blue-2, green-1, green-2, yellow-1, yellow-2, grey-0, grey-1, grey-2, grey-3, grey-4, grey-5, white, transparent;

@function bbs--color($color, $opacity: 1, $variant: normal) {
    $result: $color;

    @if $color == white {$result: #ffffff;}
    @if $color == transparent {$result: #ffffff00;}
    @else if $color == grey-0 {$result: $color-grey-0;}
    @else if $color == grey-1 {$result: $color-grey-1;}
    @else if $color == grey-2 {$result: $color-grey-2;} 
    @else if $color == grey-3 {$result: $color-grey-3;} 
    @else if $color == grey-4 {$result: $color-grey-4;} 
    @else if $color == grey-5 {$result: $color-grey-5;} 
    
    @if $color == blue-1 {
        $result: $color-blue-1;
        @if $variant == light { $result: $color-blue-1-light; }
        @if $variant == dark { $result: $color-blue-1-dark; }
    }
    
    @if $color == blue-2 {
        $result: $color-blue-2;
        @if $variant == light { $result: $color-blue-2-light; }
        @if $variant == dark { $result: $color-blue-2-dark; }
    }
    
    @if $color == green-1 {
        $result: $color-green-1;
        @if $variant == light { $result: $color-green-1-light; }
        @if $variant == dark { $result: $color-green-1-dark; }
    }
    
    @if $color == green-2 {
        $result: $color-green-2;
        @if $variant == light { $result: $color-green-2-light; }
        @if $variant == dark { $result: $color-green-2-dark; }
    }
    
    @if $color == yellow-1 {
        $result: $color-yellow-1;
        @if $variant == light { $result: $color-yellow-1-light; }
        @if $variant == dark { $result: $color-yellow-1-dark; }
    }

    @if $color == yellow-2 {
        $result: $color-yellow-2;
        @if $variant == light { $result: $color-yellow-2-light; }
        @if $variant == dark { $result: $color-yellow-2-dark; }
    }
    
    @if $opacity == 0.2 {
        $result: #{$result + "33"};
    } @else if $opacity == 0.3 {
        $result: #{$result + "4d"};
    }

    @return $result;
}
