@font-face {
    font-family: 'Ranille';
    src: url('/fonts/Ranille/RanilleNormal-Regular.woff2') format('woff2'),
         url('/fonts/Ranille/RanilleNormal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
