@mixin bbs--checkerboard ($color-1: bbs--color(blue-2, $variant: light), $color-2: transparent, $size: 12px) {
    background-image: linear-gradient(45deg, $color-1 25%, transparent 25%),
                      linear-gradient(-45deg, $color-1 25%, transparent 25%),
                      linear-gradient(45deg, transparent 75%, $color-1 75%),
                      linear-gradient(-45deg, $color-2 75%, $color-1 75%);
    $size-half: $size * 0.5;
    background-size: $size $size;
    background-position: 0 0, 0 $size-half, $size-half (- $size-half), -$size-half 0px;
}

@mixin bbs--dashed ($color: #333, $length: 21px){
    background-image: linear-gradient(to right, $color 50%, transparent 50%),
                      linear-gradient(to right, $color 50%, transparent 50%),
                      linear-gradient(to bottom, $color 50%, transparent 50%),
                      linear-gradient(to bottom, $color 50%, transparent 50%);
    background-position: left top, left bottom, left top, right top;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: $length 3px, $length 3px, 3px $length, 3px $length;
}

@mixin bbs--focus-shadow {
    box-shadow: 0px 2px 4px 2px bbs--color(blue-1, $opacity: 0.2);
}

@mixin bbs--rotating {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;

    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}

@mixin bbs--auto-complete {
    input:-webkit-autofill,
    textarea:-webkit-autofill,
    select:-webkit-autofill {
        @content;
    }
}
