$bss--font-weight--regular: 400;
$bss--font-weight--semi-bold: 600;
$bss--font-weight--bold: 700;

@mixin bbs--text-size--11 {
    font-size: 11px;
    line-height: 14px;
}

@mixin bbs--text-size--12 {
    font-size: 12px;
    line-height: 14px;
}

@mixin bbs--text-size--14 {
    font-size: 14px;
    line-height: 18px;
}

@mixin bbs--text-size--16 {
    font-size: 16px;
    line-height: 20px;
}

@mixin bbs--text-size--18 {
    font-size: 18px;
    line-height: 24px;
}

@mixin bbs--text-size--24 {
    font-size: 24px;
    line-height: 32px;
}

@mixin bbs--text-size--36 {
    font-size: 36px;
    line-height: 48px;
}

@mixin bbs--noto-11-r {
    @include bbs--text-size--11;
    font-weight: $bss--font-weight--regular;
}

@mixin bbs--noto-12-r {
    @include bbs--text-size--12;
    font-weight: $bss--font-weight--regular;
}

@mixin bbs--noto-12-sb {
    @include bbs--text-size--12;
    font-weight: $bss--font-weight--semi-bold;
}

@mixin bbs--noto-12-b {
    @include bbs--text-size--12;
    font-weight: $bss--font-weight--bold;
}

@mixin bbs--noto-14-r {
    @include bbs--text-size--14;
    font-weight: $bss--font-weight--regular;
}

@mixin bbs--noto-14-sb {
    @include bbs--text-size--14;
    font-weight: $bss--font-weight--semi-bold;
}

@mixin bbs--noto-14-b {
    @include bbs--text-size--14;
    font-weight: $bss--font-weight--bold;
}

@mixin bbs--noto-16-r {
    @include bbs--text-size--16;
    font-weight: $bss--font-weight--regular;
}

@mixin bbs--noto-16-sb {
    @include bbs--text-size--16;
    font-weight: $bss--font-weight--semi-bold;
}

@mixin bbs--noto-16-b {
    @include bbs--text-size--16;
    font-weight: $bss--font-weight--bold;
}

@mixin bbs--noto-18-sb {
    @include bbs--text-size--18;
    font-weight: $bss--font-weight--semi-bold;
}

@mixin bbs--noto-18-b {
    @include bbs--text-size--18;
    font-weight: $bss--font-weight--bold;
}

@mixin bbs--noto-24-b {
    @include bbs--text-size--24;
    font-weight: $bss--font-weight--bold;
}

@mixin bbs--ranille-36-r {
    @include bbs--text-size--36;
    @include bbs--ranille;
    font-weight: $bss--font-weight--regular;
}

@mixin bbs--text-color-default {
    color: $color-grey-1;
}

// ---

html, body {
    @include primary-font;
    @include bbs--text-color-default;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

h3 {
    font-weight: $bss--font-weight--bold;
    font-size: 16px;
    line-height: 20px;
}

button {
    @include primary-font;
    @include bbs--noto-14-b;
}
