{:assets
                [{:url "/raw/img/cinema/background.jpg", :size 10, :type "image"}
                 {:url "/raw/img/cinema/screen-off.png", :size 10, :type "image"}
                 {:url "/raw/audio/l2/a1/L2_A1_Mari.m4a", :size 5, :type "audio", :alias "vaca voice 1"}
                 {:url "/raw/audio/l2/a1/L2_A1_Vaca_7.m4a", :size 5, :type "audio", :alias "vaca voice 7"}
                 {:url   "/raw/audio/l2/a2/L2_A2_Vaca_Insertions/L2_A2_Insertions_1.m4a",
                  :size  2,
                  :type  "audio",
                  :alias "vaca insertions 1"}
                 {:url   "/raw/audio/l2/a2/L2_A2_Vaca_Insertions/L2_A2_Insertions_2.m4a",
                  :size  2,
                  :type  "audio",
                  :alias "vaca insertions 2"}
                 {:url   "/raw/audio/l2/a2/L2_A2_Vaca_Insertions/L2_A2_Insertions_3.m4a",
                  :size  2,
                  :type  "audio",
                  :alias "vaca insertions 3"}
                 {:url   "/raw/audio/l2/a2/L2_A2_Vaca_Insertions/L2_A2_Insertions_4.m4a",
                  :size  2,
                  :type  "audio",
                  :alias "vaca insertions 4"}
                 {:url   "/raw/audio/l2/a2/L2_A2_Vaca_Insertions/L2_A2_Insertions_5.m4a",
                  :size  2,
                  :type  "audio",
                  :alias "vaca insertions 5"}
                 {:url   "/raw/audio/l2/a2/L2_A2_Vaca_Insertions/L2_A2_Insertions_6.m4a",
                  :size  2,
                  :type  "audio",
                  :alias "vaca insertions 6"}
                 {:url   "/raw/audio/l2/a2/L2_A2_Vaca_Insertions/L2_A2_Insertions_7.m4a",
                  :size  2,
                  :type  "audio",
                  :alias "vaca insertions 7"}
                 {:url   "/raw/audio/l2/a2/L2_A2_Vaca_Insertions/L2_A2_Insertions_8.m4a",
                  :size  2,
                  :type  "audio",
                  :alias "vaca insertions 8"}
                 {:url   "/raw/audio/l2/a2/L2_A2_Vaca_Insertions/L2_A2_Insertions_9.m4a",
                  :size  2,
                  :type  "audio",
                  :alias "vaca insertions 9"}
                 {:url   "/raw/audio/l2/a2/L2_A2_Vaca_Insertions/L2_A2_Insertions_10.m4a",
                  :size  2,
                  :type  "audio",
                  :alias "vaca insertions 10"}
                 {:url   "/raw/audio/l2/a2/L2_A2_Vaca_Insertions/L2_A2_Insertions_11.m4a",
                  :size  2,
                  :type  "audio",
                  :alias "vaca insertions 11"}
                 {:url "/upload/XGPVMBZSOXCDTWTO.m4a", :date 1591282781939, :size 1261, :type "audio", :alias "Cinema", :target "Vaca"}
                 {:url "/upload/GNPOBRCIWHORVTXZ.m4a", :date 1591283586608, :size 200, :type "audio", :alias "Part 1", :target "Vaca"}
                 {:url "/upload/XHFWWDVSNLFKJVWI.m4a", :date 1591283616599, :size 200, :type "audio", :alias "Part 2", :target "Vaca"}
                 {:url "/upload/PPQOAFKRPQCRNQUV.m4a", :date 1591283648863, :size 778, :type "audio", :alias "Part 3", :target "Vaca"}
                 {:url    "/upload/DMFXFCWVVBMTVFLZ.m4a",
                  :date   1591283904679,
                  :size   75,
                  :type   "audio",
                  :alias  "Cinema video",
                  :target "Mari"}],
 :objects
                {:background {:type "background", :src "/raw/img/cinema/background.jpg"},
                 :letter-video
                             {:type   "video",
                              :x      342,
                              :y      111,
                              :width  1236,
                              :height 674,
                              :visible false,
                              :states {:hidden {:visible false}, :visible {:visible true}}},
                 :mari
                             {:type       "animation",
                              :x          1613,
                              :y          785,
                              :width      473,
                              :height     511,
                              :transition "mari",
                              :anim       "idle",
                              :name       "mari",
                              :scale-x    0.3,
                              :scale-y    0.3,
                              :speed      0.35,
                              :start      true},
                 :next-button
                             {:type      "button",
                              :x         400,
                              :y         0,
                              :text      "Próxima"
                              :font-size 76
                              :visible   false,
                              :actions   {:click {:id "finish-activity", :on "click", :type "action"}},
                              :states    {:hidden {:y 1000, :visible false}, :visible {:y 0, :visible true}}},
                 :play-button
                             {:type      "button",
                              :x         0,
                              :y         0,
                              :text      "Ver"
                              :font-size 76
                              :actions   {:click {:id "play-video", :on "click", :type "action"}},
                              :states    {:left {:x 0}, :center {:x 200}}},
                 :screen-overlay
                             {:type   "image",
                              :x      342,
                              :y      109,
                              :visible true,
                              :src    "/raw/img/cinema/screen-off.png",
                              :states {:hidden {:visible false}, :visible {:visible true}}},
                 :senora-vaca
                             {:type    "animation",
                              :x       263,
                              :y       915,
                              :width   351,
                              :height  717,
                              :anim    "idle",
                              :name    "senoravaca",
                              :scale-x 0.5,
                              :scale-y 0.5,
                              :skin    "vaca",
                              :speed   0.3,
                              :start   true},
                 :video-controls
                             {:type     "group",
                              :x        616,
                              :y        400,
                              :width    730,
                              :height   100,
                              :children ["play-button" "next-button"],
                              :visible  false,
                              :states   {:hidden {:visible false}, :visible {:visible true}}}},
 :scene-objects [["background"] ["letter-video" "screen-overlay"] ["video-controls"] ["senora-vaca" "mari"]],
 :actions
                {:clear-instruction {:type "remove-flows", :description "Remove flows", :flow-tag "instruction"},
                 :finish-activity   {:type "finish-activity", :id "cinema-video"},
                 :hide-play-form
                                    {:type "parallel",
                                     :data
                                           [{:id "hidden", :type "state", :target "video-controls"}
                                            {:to {:x 1613, :y 785, :loop false, :duration 1.5}, :type "transition", :transition-id "mari"}]},
                 :mari-voice-touch
                                    {:type                          "animation-sequence",
                                     :data                          [{:end 17.381, :anim "talk", :start 15.208}],
                                     :phrase                        "touch",
                                     :phrase-description            "Touch to play",
                                     :phrase-description-translated "Touch to play",
                                     :phrase-text                   "Touch here to view the video",
                                     :phrase-text-translated        "Touch here to view the video. ",
                                     :target                        "mari",
                                     :audio                         "/upload/DMFXFCWVVBMTVFLZ.m4a",
                                     :start                         15.208,
                                     :duration                      2.173,
                                     :track                         1,
                                     :offset                        12.841},
                 :mari-voice-touch-again-1
                                    {:type                   "animation-sequence",
                                     :data                   [{:end 18.83, :anim "talk", :start 18.27}],
                                     :phrase                 "click-to-replay",
                                     :phrase-description     "Click to replay",
                                     :phrase-text            "Touch here to view the video again",
                                     :phrase-text-translated "Touch here to view the video.",
                                     :target                 "mari",
                                     :audio                  "/upload/DMFXFCWVVBMTVFLZ.m4a",
                                     :start                  17.927,
                                     :duration               0.506,
                                     :track                  1,
                                     :offset                 18.667},
                 :mari-voice-touch-again-2
                                    {:type                   "animation-sequence",
                                     :data                   [{:end 25.604, :anim "talk", :start 18.753}],
                                     :phrase                 "click-to-next",
                                     :phrase-description     "Click to go next",
                                     :phrase-text            "or touch here to go to your next activity.\n",
                                     :phrase-text-translated "Touch here to view the video again, or touch here to go to your next activity.",
                                     :target                 "mari",
                                     :audio                  "/upload/DMFXFCWVVBMTVFLZ.m4a",
                                     :start                  18.753,
                                     :duration               6.851,
                                     :track                  1,
                                     :offset                 22.36},
                 :play-video
                                    {:type "sequence-data",
                                     :data
                                           [{:data
                                                   [{:id "hide-play-form", :type "action"}
                                                    {:id "hidden", :type "state", :target "screen-overlay"}
                                                    {:id "visible", :type "state", :target "letter-video"}
                                                    {:type     "play-video",
                                                     :target   "letter-video",
                                                     :from-var [{:var-name "current-concept", :var-property "chanting-video-src", :action-property "src"}]}],
                                             :type "parallel"}
                                            {:id "play-video-finish", :type "action"}]},
                 :play-video-finish
                                    {:type "sequence-data",
                                     :data
                                           [{:id "hidden", :type "state", :target "letter-video"}
                                            {:id "visible", :type "state", :target "screen-overlay"}
                                            {:id "vaca-voice-very-good", :type "action"}
                                            {:id "show-play-again-form", :type "action"}]},
                 :renew-concept
                                    {:type "lesson-var-provider", :from "concepts-single", :provider-id "concepts", :variables ["current-concept"]},
                 :show-play-again-form
                                    {:type "sequence-data",
                                     :data
                                           [{:id "visible", :type "state", :target "next-button"}
                                            {:id "left", :type "state", :target "play-button"}
                                            {:id "visible", :type "state", :target "video-controls"}
                                            {:data
                                                   [{:to {:x 990, :y 540, :loop false, :duration 1.5}, :type "transition", :transition-id "mari"}
                                                    {:id "mari-voice-touch-again-1", :type "action"}],
                                             :type "parallel"}
                                            {:data
                                                   [{:to {:x 1500, :y 540, :loop false, :duration 1.5}, :type "transition", :transition-id "mari"}
                                                    {:id "mari-voice-touch-again-2", :type "action"}],
                                             :type "parallel"}]},
                 :show-play-form
                                    {:type "parallel",
                                     :data
                                           [{:data
                                                   [{:id "hidden", :type "state", :target "next-button"}
                                                    {:id "center", :type "state", :target "play-button"}
                                                    {:id "visible", :type "state", :target "video-controls"}],
                                             :type "parallel"}
                                            {:to {:x 1223, :y 546, :loop false, :duration 1.5}, :type "transition", :transition-id "mari"}
                                            {:data [{:type "empty", :duration 500} {:id "mari-voice-touch", :type "action"}], :type "sequence-data"}]},
                 :start-activity    {:type "start-activity", :id "cinema-video"},
                 :start-scene
                                    {:type        "sequence",
                                     :data
                                                  ["start-activity"
                                                   "clear-instruction"
                                                   "renew-concept"
                                                   "vaca-voice-wonderful"
                                                   "vaca-voice-lets-watch"
                                                   "show-play-form"],
                                     :description "Initial action"},
                 :stop-activity     {:type "stop-activity", :id "cinema-video"},
                 :vaca-voice-lets-watch
                                    {:type                          "sequence-data",
                                     :data
                                                                    [{:offset                 21.15,
                                                                      :phrase-text            "Excellent! Now, let’s watch a video about the letter",
                                                                      :start                  46.733,
                                                                      :type                   "animation-sequence",
                                                                      :duration               0.693,
                                                                      :audio                  "/upload/GNPOBRCIWHORVTXZ.m4a",
                                                                      :target                 "senoravaca",
                                                                      :phrase-text-translated "Excellent! Now, let’s watch a video about the letter ",
                                                                      :track                  1,
                                                                      :data                   [{:end 47.3, :anim "talk", :start 46.8}]}
                                                                     {:type "action", :from-var [{:var-name "current-concept", :var-property "letter-intro-letter"}]}],
                                     :phrase                        "lets-watch",
                                     :phrase-description            "Lets watch video",
                                     :phrase-description-translated "Let's watch a video"},
                 :vaca-voice-very-good
                                    {:type                   "animation-sequence",
                                     :data                   [{:end 235.387, :anim "talk", :start 234.04}],
                                     :phrase-text            "Very good!",
                                     :phrase-text-translated "Very good!",
                                     :target                 "senoravaca",
                                     :audio                  "/upload/XGPVMBZSOXCDTWTO.m4a",
                                     :start                  234.04,
                                     :duration               1.347,
                                     :track                  1,
                                     :offset                 27.148},
                 :vaca-voice-wonderful
                                    {:type                          "animation-sequence",
                                     :data                          [{:end 224.987, :anim "talk", :start 219.387}],
                                     :phrase                        "intro",
                                     :phrase-description            "Intro",
                                     :phrase-description-translated "Intro",
                                     :phrase-text                   "Wonderful! That was good singing everyone! Are you having a good time?",
                                     :phrase-text-translated        "Wonderful! That was good singing everyone! Are you having a good time? ",
                                     :target                        "senoravaca",
                                     :audio                         "/upload/XGPVMBZSOXCDTWTO.m4a",
                                     :start                         219.387,
                                     :duration                      5.6,
                                     :track                         1,
                                     :offset                        9.716}},
 :triggers      {:back {:on "back", :action "stop-activity"}, :start {:on "start", :action "start-scene"}},
 :metadata      {:prev "map", :autostart true},
 :audio         {:mari "/raw/audio/l2/a1/L2_A1_Mari.m4a", :vaca-7 "/raw/audio/l2/a1/L2_A1_Vaca_7.m4a"}}
