{:assets
                [{:url "/raw/audio/background/POL-daily-special-short.mp3", :size 2, :type "audio", :alias "background"}
                 {:url "/raw/img/library/main/background.jpg", :size 10, :type "image"}
                 {:url "/raw/img/library/main/Books_Enabled.png", :size 1, :type "image"}
                 {:url "/raw/img/library/main/Easel_Enabled.png", :size 1, :type "image"}
                 {:url "/raw/img/library/main/Hat_Enabled.png", :size 1, :type "image"}
                 {:url "/raw/img/library/main/Tablet_Enabled.png", :size 1, :type "image"}],
 :objects
                {:background {:type "background", :brightness -0.2, :filter "brighten", :src "/raw/img/library/main/background.jpg"},
                 :book
                             {:type      "image",
                              :x         1292,
                              :y         681,
                              :actions   {:click {:on "click", :type "scene", :scene-id "book"}},
                              :highlight true,
                              :src       "/raw/img/library/main/Books_Enabled.png"},
                 :question-1 {:alias                 "Q: Who is the main character?"
                              :type                  "question"

                              :question-type         "multiple-choice-image"
                              :layout                "horizontal"

                              :task                  {:type  "text-image"
                                                      :text  "Who do you think the main character, or most important character is going to be in this book?"
                                                      :image {:type "image"
                                                              :src  "/images/questions/question.png"}}

                              :options               {:label "audio-text"
                                                      :data  [{:image {:type "image"
                                                                       :src  "/images/questions/option1.png"}
                                                               :text  "Cow"}
                                                              {:image {:type "image"
                                                                       :src  "/images/questions/option2.png"}
                                                               :text  "Deer"}
                                                              {:image {:type "image"
                                                                       :src  "/images/questions/option3.png"}
                                                               :text  "Fox"}
                                                              {:image {:type "image"
                                                                       :src  "/images/questions/option4.png"}
                                                               :text  "Skunk"}]}

                              :correct-answers-count "one"

                              :editable?             {:show-in-tree? true}}
                 :librarian
                             {:type       "animation",
                              :x          451,
                              :y          883,
                              :width      351,
                              :height     717,
                              :scale      {:x 1, :y 1},
                              :scene-name "librarian",
                              :anim       "idle",
                              :name       "senoravaca",
                              :skin       "lion",
                              :speed      0.3,
                              :start      true},
                 :magic-hat
                             {:type      "image",
                              :x         1635,
                              :y         535,
                              :actions   {:click {:on "click", :type "scene", :scene-id "magic-hat"}},
                              :highlight true,
                              :src       "/raw/img/library/main/Hat_Enabled.png"},
                 :painting-tablet
                             {:type      "image",
                              :x         926,
                              :y         657,
                              :actions   {:click {:on "click", :type "location", :location-id "painting-tablet"}},
                              :highlight true,
                              :src       "/raw/img/library/main/Tablet_Enabled.png"},
                 :vera
                             {:type   "animation",
                              :x      1725,
                              :y      1000,
                              :width  1800,
                              :height 2558,
                              :scale  {:x 0.17, :y 0.17},
                              :anim   "idle",
                              :name   "vera",
                              :speed  0.3,
                              :start  true},
                 :writing-lesson
                             {:type      "image",
                              :x         791,
                              :y         319,
                              :actions   {:click {:on "click", :type "scene", :scene-id "writing-lesson"}},
                              :highlight true,
                              :src       "/raw/img/library/main/Easel_Enabled.png"}},
 :scene-objects [["background" "book" "writing-lesson" "magic-hat" "painting-tablet"] ["librarian" "vera"] ["question-1"]],
 :actions       {:start-background-music {:type "audio", :id "/raw/audio/background/POL-daily-special-short.mp3", :loop true}},
 :triggers      {:music {:on "start", :action "start-background-music"}},
 :metadata      {:prev "map", :autostart true},}
