.page--wizard {
    &.widget--single-page--with-background-image {
        background-image: url("/images/lesson_builder/page/page_content_background.svg");
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: contain;
    }

    .widget--page--header-info {
	flex: 0 1;
    }
    .widget--page--header--filler {
	flex: 0 1;
    }
    .header-text {
	height: 48px;
	padding-left: 18px;
	border-left: 1px solid #FFFFFF0F;
	font-weight: 700;
        font-size: 16px;
        line-height: 26px;

	display: flex;
	align-items: center;
	
    }
    .wizard-cards {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-top: 105px;
	gap: 61px;

	.bbs--panel {
	    width: 270px;
	    height: 281px;

	    .bbs--panel--content {
		padding-top: 69px;
	    }

	    .bbs--card--actions {
		padding-bottom: 39px;
	    }
	}
	
	.create-activity-card {
	}

	.create-book-card {
	}
    }
}
