.bbs--panel {
    background-color: bbs--color(white);
    border-radius: 6px;

    .bbs--panel--title {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 12px;
    }

    .bbs--panel--title-icon {
        @include bbs--icon-size(32px);
    }

    .bbs--panel--content {
        padding: 18px;
    }
}
