@import "../../styles/colors";

.wc-chip {
    background-color: #e0e0e0;
    border-radius: 18px;
    font-size: 12px;
    padding: 6px 12px;

    &.clickable {
        cursor: pointer;
    }

    &.variant-outlined {
        background-color: rgba(0, 0, 0, 0);
        border: solid 2px #e0e0e0;

        &.color-primary {
            border-color: $color-primary;

            &.clickable {
                &:hover {
                    background-color: rgba(0, 113, 227, 0.2);
                }
            }
        }

        &.color-secondary {
            border-color: $color-secondary;

            &.clickable {
                &:hover {
                    background-color: rgba(240, 0, 0, 0.2);
                }
            }
        }
    }
}
