@import "../../styles/colors";

.wc-input-wrapper {
    position: relative;

    display: flex;
    align-items: center;
    gap: 16px;

    color: $default-color;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    .wc-input {
        border: 1px solid #C4C4C4;
        border-radius: 8px;
        width: 100%;

        outline: none;
        padding: 8px;

        &.wc-input-error {
            border-color: $error-color;
        }
    }

    .wc-input-label {
        white-space: nowrap;
    }
}
