.book-read-page {
    @import "../../mixins";



    height: 100%;

    & > .book-wrapper {
        width: 100%;
        height: 100%;

        &.hidden {
            opacity: 0;
        }
    }

    .loading-indicator {
        width: 200px;
    }

    & > .menu-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 50%;
        height: 100%;

        position: absolute;
        top: 0;

        .menu {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 4vh;

            width: 22vw;

            button {
                @include button;

                $button-height: 6.5vh;

                justify-content: start;
                gap: $button-height * 0.25;

                width: auto;
                height: $button-height;
                padding: $button-height * 0.5;
                margin-bottom: 30px;

                font-size: 0.9em;
                border-radius: $button-height * 0.5;

                white-space: nowrap;

                & > div {
                    display: flex;

                    svg {
                        height: 4vh;
                    }
                }

                & > span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                &.big {
                    height: 9.5vh;
                    font-size: 1.2em;
                    border-radius: 4.75vh;
                }
            }
        }
    }
}
