.component--list {
    $padding: 10px;

    display: flex;
    flex-direction: column;
    gap: $padding;

    .list-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 18px;

        padding: 10px 20px;
        border: 1px solid bbs--color(grey-4);
        border-radius: 4px;

        &.with-hover {
            &:hover {
                cursor: pointer;
                border-color: $color-secondary;
            }
        }

        .item-prefix {
            border-right: solid 1px #F7F7FB;
            padding-right: 10px;
        }

        .item-name {
            flex: 1 1;

            .name {
                @include bbs--noto-14-b;
            }

            dl {
                margin: 0;
                font-weight: 400;
                font-size: 8px;
                line-height: 9px;

                dt {
                    display: inline-block;
                    font-weight: 500;
                }

                dd {
                    display: inline-block;
                    margin: 0;
                    margin-left: 4px;
                }
            }
        }

        .item-description {
            margin: 0;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;

            dt {
                display: inline-block;
                font-weight: 500;
            }

            dd {
                display: inline-block;
                margin: 0;
                margin-left: 4px;
                margin-right: 32px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .item-actions {
            display: flex;
            align-items: center;
            gap: $padding;

            padding-left: $padding;
            border-left: solid 1px #F7F7FB;
        }
    }
}
