.parent--layout {
    $padding-horizontal: 130px;
    $padding-vertical: 50px;

    @import "banner/styles";
    @import "footer/styles";
    @import "header/styles";

    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 100%;

    .parent--layout--content {
        flex: 1 1;
        padding: $padding-vertical $padding-horizontal;
    }
}
