$background-color: #fff;
$border-radius: 8px;

.wc-text-area {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    position: relative;

    background-color: $background-color;
    border-radius: $border-radius;

    color: $default-color;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    textarea {
        background-color: $background-color;
        border: none;
        outline: none;
        padding: 8px;
        resize: none;
        width: 100%;

        &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 8px;
            height: 10px;
        }

        &::-webkit-scrollbar-track {
            background-color: $background-color;
            border-radius: $border-radius;
        }
    }

    &.variant-outlined {
        border: 1px solid #C4C4C4;
    }

    .wc-text-area-label {
        margin-top: 8px;
    }
}
