.text-form {
    .font-controls {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;

        .font-color-section {
            width: 289px;
        }

        & > * {
            align-items: center;
            display: flex;
            flex: 1 1;
        }

        .font-family-selector {
            flex: 1 1;
        }

        .font-size-selector {
            width: 96px;
        }

        .color-box {
            width: 10px;
            height: 10px;
            display: inline-block;
            background-color: #ccc;
            position: absolute;
            left: 5px;
            top: 5px;
        }

        .color-icon {
            padding: 3px;

            svg {
                width: 24px;
                height: 24px;
                padding: 0px;
            }
        }
    }

    .text-control {
        .text-value-control {
            &.with-footer {
                padding-bottom: 64px;
            }
        }

        .voice-over {
            position: absolute;
            left: 16px;
            bottom: 16px;
        }

        .origin-text {
            font-size: 12px;
            color: #8d8d8d;
            padding: 8px 16px;

            span {
                display: block;
            }

            .text {
                font-weight: 600;
            }
        }
    }
}
