.text-form {
    .font-controls {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        flex-wrap: wrap;
        gap: 8px;

        .font-color-section {
            width: 289px;
        }

        & > * {
            align-items: center;
            display: flex;
            flex: 1 1;
        }

        .font-family-selector {
            flex: 1 1;
        }

        .font-size-selector {
            width: 96px;
        }

        .color-box {
            width: 10px;
            height: 10px;
            display: inline-block;
            background-color: #ccc;
            position: absolute;
            left: 5px;
            top: 5px;
        }

        .color-icon {
            padding: 3px;

            svg {
                width: 24px;
                height: 24px;
                padding: 0px;
            }
        }
    }

    .text-align-controls {
        display: flex;
        gap: 4px;

        button {
            height: 28px;
            min-width: 28px;
        }
    }

    .text-control {
        .text-value-control {
            &.with-footer {
                padding-bottom: 64px;
            }
        }

        .voice-over {
            position: absolute;
            left: 16px;
            bottom: 16px;
        }
    }
}
